Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: js/packages/teams-ai/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: Npm@1
  displayName: 'Publish'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: 'Github_Pipelines/Teams'

bump version
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] chore: bump dotnet library to `preview-5` (#1031)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

remove local package
  dotnet/samples/NuGet.Config
Due: pipelines/dotnet.yml

fix read me
  dotnet/samples/README.md
Due: pipelines/dotnet.yml

[C#] chore: Fix readme & remove Nuget.Config (#1032)
  dotnet/samples/NuGet.Config
  dotnet/samples/README.md
Due: pipelines/dotnet.yml

update turn state
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
Due: pipelines/dotnet.yml

remove "bot" from a ME teams app.
  .gitignore
  dotnet/samples/04.ai.b.messageExtensions.gptME/appPackage/manifest.json
  js/samples/04.ai.b.messageExtensions.AI-ME/appPackage/manifest.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

chore: enable AI log on .net samples
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/appsettings.Development.json
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appsettings.Development.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/appsettings.Development.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/appsettings.Development.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/appsettings.Development.json
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/appsettings.Development.json
Due: pipelines/dotnet.yml

[C#] chore: enable AI log on .net samples (#1034)
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/appsettings.Development.json
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appsettings.Development.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/appsettings.Development.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/appsettings.Development.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/appsettings.Development.json
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/appsettings.Development.json
Due: pipelines/dotnet.yml

chore: add schema and remove project id in teamsapp yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.yml
  js/samples/05.chatModeration/teamsapp.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.yml
  js/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  js/samples/07.whoBot/teamsapp.yml
Due: pipelines/javascript.yml

chore: remove project id from teamsapp yml
  dotnet/samples/06.auth.oauth.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
Due: pipelines/dotnet.yml

[C#] chore: remove project id from teamsapp yml (#1039)
  dotnet/samples/06.auth.oauth.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
Due: pipelines/dotnet.yml

[JS] chore: add schema and remove project id in teamsapp yml (#1038)
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.yml
  js/samples/05.chatModeration/teamsapp.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.yml
  js/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  js/samples/07.whoBot/teamsapp.yml
Due: pipelines/javascript.yml

[C#] chore: Fix turn state bug (#1035)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appPackage/manifest.json
  js/samples/04.ai.b.messageExtensions.AI-ME/appPackage/manifest.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[C#] chore: Bump to `preview-6`
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] chore: Bump to `preview-6` (#1040)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Update package for release
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Due: pipelines/javascript.yml

actionExecute unit tests,vscode debugging extension
  js/.vscode/launch.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Due: pipelines/javascript.yml

actionSubmit tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/AdaptiveCards.ts
Due: pipelines/javascript.yml

search tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Due: pipelines/javascript.yml

fix
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Due: pipelines/javascript.yml

oauth adaptive card auth tests + bug fix
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
Due: pipelines/javascript.yml

oauthbot tests and user token access tests
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
Due: pipelines/javascript.yml

bump to v1.0.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

update sample versions
  .gitignore
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
Due: pipelines/dotnet.yml

[JS] bump: Teams-AI package for release (#1042)
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Due: pipelines/javascript.yml

version 1.0.0
  js/package.json
Due: pipelines/javascript.yml

[JS] chore: bump teams-ai package version (#1045)
  js/package.json
Due: pipelines/javascript.yml

Remove private
  js/package.json
Due: pipelines/javascript.yml

[C#] chore: bump .NET library to v1.0.0 (#1044)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
Due: pipelines/dotnet.yml

[JS] chore: authentication & adaptive cards unit tests (#1043)
  js/.vscode/launch.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/AdaptiveCards.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
Due: pipelines/javascript.yml

added MemoryFork and TestMemoryFork tests
  js/packages/teams-ai/src/MemoryFork.spec.ts
  js/packages/teams-ai/src/TestMemoryFork.ts
Due: pipelines/javascript.yml

updated with lint changes
  js/packages/teams-ai/src/MemoryFork.spec.ts
  js/packages/teams-ai/src/MemoryFork.ts
  js/packages/teams-ai/src/TestMemoryFork.ts
Due: pipelines/javascript.yml

[JS] chore: MemoryFork and TestMemoryFork unit tests (#1051)
  js/packages/teams-ai/src/MemoryFork.spec.ts
  js/packages/teams-ai/src/MemoryFork.ts
  js/packages/teams-ai/src/TestMemoryFork.ts
Due: pipelines/javascript.yml

added default and sequence augmentation tests
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
Due: pipelines/javascript.yml

Update teams-ai js package readme
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Bump JS package
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Due: pipelines/javascript.yml

Fix typo
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

[JS] docs: Update teams-AI README (#1058)
  js/packages/teams-ai/README.md
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Due: pipelines/javascript.yml
