Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

[PY] fix: Don't use json/yaml formatting for simple string values (#2259)
  python/packages/ai/poetry.lock
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

[PY] feat: custom feedback form + citation changes (#2275)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/teams/messages/__init__.py
  python/packages/ai/teams/messages/messages.py
  python/packages/ai/teams/streaming/streaming_channel_data.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/tests/test_messages.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml

feedback
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
Due: pipelines/dotnet.yml

Update app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

Upgrade OYD endpoint api-version for supporting managed identity in embedding cases (#2287)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

Bump JS teams-ai package
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

minor bump to 1.6.0
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

bump on samples
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[JS] chore: Bump JS teams-ai package (#2293)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[PY] bump: minor bump to 1.6.0 (#2294)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

bump versions
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fixes
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageFetchTaskHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[C#] bump: dotnet to 1.10.0 (#2295)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageFetchTaskHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/TypingTimer.cs
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

Fix samples deps
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/teamsapp.local.yml
Due: pipelines/javascript.yml

[JS] fix: Fix samples deps (#2296)
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/teamsapp.local.yml
Due: pipelines/javascript.yml

Add clarity to streaming chef bot
  js/samples/04.ai-apps/i.teamsChefBot-streaming/README.md
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/VectraDataSource.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

Add note about streaming and browser
  js/samples/04.ai-apps/i.teamsChefBot-streaming/README.md
Due: pipelines/javascript.yml

[JS] chore: Add clarity to chef bot README's (#2300)
  js/samples/04.ai-apps/i.teamsChefBot-streaming/README.md
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/VectraDataSource.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

adding oss devops agent
  js/samples/04.ai-apps/j.ossDevOpsAgent/.eslintignore
  js/samples/04.ai-apps/j.ossDevOpsAgent/.eslintrc
  js/samples/04.ai-apps/j.ossDevOpsAgent/.gitignore
  js/samples/04.ai-apps/j.ossDevOpsAgent/.prettierignore
  js/samples/04.ai-apps/j.ossDevOpsAgent/.prettierrc
  js/samples/04.ai-apps/j.ossDevOpsAgent/.vscode/launch.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/.vscode/tasks.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/.webappignore
  js/samples/04.ai-apps/j.ossDevOpsAgent/README.md
  js/samples/04.ai-apps/j.ossDevOpsAgent/aad.manifest.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/appPackage/color.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/appPackage/manifest.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/appPackage/outline.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.dev
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.dev.user
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.local
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.local.user
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.staging
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/azure.bicep
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/azure.local.bicep
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/azure.parameters.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/azure.parameters.local.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/j.ossDevOpsAgent/infra/botRegistration/readme.md
  js/samples/04.ai-apps/j.ossDevOpsAgent/package.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/sample.env
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/bot.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/cards/createGetPRCard.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/cards/createListPRsCard.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/cards/index.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/cards/pullRequestCard.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/index.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/prompts/tools/actions.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/prompts/tools/config.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/prompts/tools/skprompt.txt
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/userAuth.ts
  js/samples/04.ai-apps/j.ossDevOpsAgent/teamsapp.local.yml
  js/samples/04.ai-apps/j.ossDevOpsAgent/teamsapp.yml
  js/samples/04.ai-apps/j.ossDevOpsAgent/tsconfig.json
  js/samples/04.ai-apps/j.ossDevOpsAgent/web.config
Due: pipelines/javascript.yml

update README with assets
  js/samples/04.ai-apps/j.ossDevOpsAgent/README.md
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/get-pull-request.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/list-pull-requests.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/new-assignee.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/oauth-app-settings.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/oauth-webhook-events.png
  js/samples/04.ai-apps/j.ossDevOpsAgent/assets/webhook-settings.png
Due: pipelines/javascript.yml

update prompt and README
  js/samples/04.ai-apps/j.ossDevOpsAgent/README.md
  js/samples/04.ai-apps/j.ossDevOpsAgent/src/prompts/tools/skprompt.txt
Due: pipelines/javascript.yml

update GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET
  js/samples/04.ai-apps/j.ossDevOpsAgent/README.md
  js/samples/04.ai-apps/j.ossDevOpsAgent/env/.env.local.user
  js/samples/04.ai-apps/j.ossDevOpsAgent/sample.env
Due: pipelines/javascript.yml

fix README images and instructions
  js/samples/04.ai-apps/j.ossDevOpsAgent/README.md
Due: pipelines/javascript.yml

update streaming docs with custom use
  getting-started/CONCEPTS/STREAMING.md
Due: none

update docs
  getting-started/CONCEPTS/STREAMING.md
Due: none

update with revisions
  getting-started/CONCEPTS/STREAMING.md
Due: none

Update getting-started/CONCEPTS/STREAMING.md
  getting-started/CONCEPTS/STREAMING.md
Due: none

[repo] chore: update streaming docs with custom use (#2312)
  getting-started/CONCEPTS/STREAMING.md
Due: none

Update POWERED-BY-AI.md (Typo "Azure Open AI"→"Azure OpenAI")
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

[PY] fix: StreamingResponse attributes shared between different StreamingResponse instances
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

remove pin
  .github/workflows/python-build-test-lint.yml
Due: none

update general format in package
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/scripts/install.py
Due: pipelines/python.yml

update pyproject and lock for all samples
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

add req for poetry >= 2.0.0
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

add req for poetry in build-test-lint for 2.1.1
  .github/workflows/python-build-test-lint.yml
Due: none

fix: add dict type judgement and resolve logic to get_used_citations
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml

fix: remove print
  python/packages/ai/teams/utils/citations/get_used_citations.py
Due: pipelines/python.yml

fix: lint
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml

fix: add type ignore to fix lint
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml
