Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Add TTK Testtool to orderbot
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/launch.json
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/tasks.json
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.testtool
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

Update yarn.lock, remove unnecessary console, add watch script
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] feat: support for v2 Assistants (#2193)
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/launch.json
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/tasks.json
  js/samples/04.ai-apps/e.assistants-orderBot/devTools/teamsapptester
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.testtool
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/index.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.testtool.yml
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Apply suggestions from code review
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

[JS] feat: add helper functions to to get Teams channels, members, and details (#1949)
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

reverting send activity
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

addressing feedback
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

Updated LightBot sample
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBotActions.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
Due: pipelines/dotnet.yml

DO NOT MERGE [JS] feat: custom feedback form + citation changes (#2182)
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/Messages.spec.ts
  js/packages/teams-ai/src/Messages.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
Due: pipelines/javascript.yml

Applied fixes from Kavin
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
Due: pipelines/dotnet.yml

Added missed removal to MaxOutputTokenCount
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

[C#] feat: Allow passing custom credentials factory to CloudAdapter (#2166)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

[JS] feat: streaming support for Tools Augmentation (#2195)
  getting-started/CONCEPTS/STREAMING.md
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
Due: pipelines/javascript.yml

JS release 1.7.0
  js/.gitignore
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/devTools/teamsapptester
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] chore: Release 1.7.0 (#2222)
  js/.gitignore
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/devTools/teamsapptester
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Fix tool call outputs being overwritten
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
Due: pipelines/python.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

fix failing test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
Due: pipelines/dotnet.yml

bump .net sdk
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

[C#] fix: failure to load prompt due to json serialization error (#2227)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

bump light bot target fw
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
Due: pipelines/dotnet.yml

[C#] bump: dotnet to v1.9.0 (#2229)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

remove weird addition
  js/samples/04.ai-apps/e.assistants-orderBot/devTools/teamsapptester
  js/yarn.lock
Due: pipelines/javascript.yml

[C#] bump: dotnet to 1.9.0 (#2230)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequenceBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/StreamingChatToolCallsBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBotActions.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

revert bracket style init
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/StreamingChatToolCallsBuilder.cs
Due: pipelines/dotnet.yml

editor style change
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/.editorconfig
Due: pipelines/dotnet.yml

fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequenceBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/StreamingChatToolCallsBuilder.cs
Due: pipelines/dotnet.yml

[C#] fix: Remove `[]` intializer notation (#2232)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequenceBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/StreamingChatToolCallsBuilder.cs
Due: pipelines/dotnet.yml

Fix citations encoding format
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  js/packages/teams-ai/src/types/ClientCitation.ts
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Fix JS AssistantsPlannerOptions missing api version
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Due: pipelines/javascript.yml

Adjust inline docs for 'text' field in citations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/dotnet.yml, pipelines/python.yml

Add missing word
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

[repo] fix: C# Citations' `encodingFormat` to not be hardcoded. Fix JS AssistantsPlanner options to set api version (#2235)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

TS Bump Teams AI for patch release 1.7.1
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Add heyitsaamir to CODEOWNERS
  .github/CODEOWNERS
Due: none

[JS] Bump Teams AI for patch release 1.7.1 (#2236)
  .github/CODEOWNERS
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml
