Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  projectPath: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.TeamsAI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '$(projectPath)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(projectPath)'
    arguments: '--configuration $(buildConfiguration)'

- task: NuGetCommand@2
  displayName: 'NuGet Pack'
  inputs:
    command: pack
    packagesToPack: '$(projectPath)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
  
- task: EsrpCodeSigning@4
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.dll,*.exe,*.nupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'

# - task: onebranch.pipeline.signing@1
#   displayName: 'Sign Output'
#   inputs:
#     command: 'sign'
#     signing_profile: 'external_distribution'
#     signing_environment: 'azure-ado'
#     files_to_sign: '**/*.nupkg'
#     search_root: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

- script: 'dotnet nuget push $(Build.ArtifactStagingDirectory)/**/*.nupkg --api-key $(nugetApiKey) --source https://api.nuget.org/v3/index.json --skip-duplicate --no-symbols'
  displayName: 'NuGet Push'

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: js/packages/teams-ai/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: Npm@1
  displayName: 'Publish'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: 'Github_Pipelines/Teams'

fix pr-style typo
  .github/workflows/pr-style.yml
Due: none

allow workflows to be manually triggered
  .github/workflows/dotnet-build-test-lint.yml
  .github/workflows/dotnet-codeql.yml
  .github/workflows/js-build-test-lint.yml
Due: none

Update README.md
  dotnet/samples/README.md
Due: pipelines/dotnet.yml

questbot builds
  js/packages/teams-ai/src/validators/ActionResponseValidator.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.ts
  js/samples/04.ai.a.teamsChefBot/src/index.ts
  js/samples/04.q.questBot/package.json
  js/samples/04.q.questBot/src/ICampaign.ts
  js/samples/04.q.questBot/src/actions/index.ts
  js/samples/04.q.questBot/src/actions/inventoryAction.ts
  js/samples/04.q.questBot/src/actions/locationAction.ts
  js/samples/04.q.questBot/src/actions/mapAction.ts
  js/samples/04.q.questBot/src/actions/playerAction.ts
  js/samples/04.q.questBot/src/actions/questAction.ts
  js/samples/04.q.questBot/src/actions/storyAction.ts
  js/samples/04.q.questBot/src/actions/timeAction.ts
  js/samples/04.q.questBot/src/bot.ts
  js/samples/04.q.questBot/src/index.ts
  js/samples/04.q.questBot/src/prompts/prompt/actions.json
Due: pipelines/javascript.yml

refactor auth to support multiple settings
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/DefaultTurnStateManager.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/BotAuthentication.ts
  js/packages/teams-ai/src/authentication/MessagingExtensionAuthentication.ts
Due: pipelines/javascript.yml

fix: verify teams channel
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

feat: c# meeting handlers
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MeetingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ActivityUtilities.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/AdaptiveCards/AdaptiveCards.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Meetings/Meetings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Meetings/MeetingsHandlers.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageExtensions/MessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TaskModules/TaskModules.cs
Due: pipelines/dotnet.yml

typo
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Meetings/Meetings.cs
Due: pipelines/dotnet.yml

update package metadata
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

refactor
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
Due: pipelines/javascript.yml

update metadata
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Update Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Check Channels enum instead of explicit string
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/MessageExtensions.ts
Due: pipelines/javascript.yml

disable signing debug
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

Update dotnet.yml
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

Updated samples to support Azure OpenAI
  js/packages/teams-ai/src/moderators/Moderator.ts
  js/packages/teams-ai/src/planners/Planner.ts
  js/samples/04.ai.a.teamsChefBot/src/index.ts
  js/samples/04.ai.b.messageExtensions.AI-ME/src/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/index.ts
  js/samples/04.ai.d.chainedActions.listBot/src/index.ts
  js/samples/04.ai.e.chainedActions.devOpsBot/src/index.ts
  js/samples/04.e.twentyQuestions/src/index.ts
  js/samples/04.q.questBot/src/bot.ts
  js/samples/05.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

Add fallthrough response for Task Modules fetch, add channelId check, and add Task Modules tests.
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TaskModules.ts
Due: pipelines/javascript.yml

Remove extraneous comments
  js/packages/teams-ai/src/TaskModules.spec.ts
Due: pipelines/javascript.yml

remove un-needed line of code
  js/samples/05.chatModeration/src/index.ts
Due: pipelines/javascript.yml

add error handling
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/BotAuthentication.ts
Due: pipelines/javascript.yml

tweaked JSON feedback
  js/packages/teams-ai/src/validators/JSONResponseValidator.ts
Due: pipelines/javascript.yml

[C#] feat: handles config events (#765)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ConfigHandler.cs
Due: pipelines/dotnet.yml

delete local package
  dotnet/samples/LocalPkg/Microsoft.Teams.AI.1.0.0-preview.nupkg
Due: pipelines/dotnet.yml

auto sign in options
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
Due: pipelines/javascript.yml

globalize msg extension keys
  js/packages/teams-ai/src/MessageExtensions.ts
Due: pipelines/javascript.yml

fix merge issues
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/AzureOpenAIModerator.spec.ts
  js/packages/teams-ai/src/MessageExtensions.ts
  js/packages/teams-ai/src/OpenAIModerator.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
Due: pipelines/javascript.yml

[C#] chore: Delete Local Package (#776)
  dotnet/samples/LocalPkg/Microsoft.Teams.AI.1.0.0-preview.nupkg
Due: pipelines/dotnet.yml

application builder tests
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

[JS] fix: #247 #635 Add fallthrough for empty result Task Module Fetch and tests (#772)
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/MessageExtensions.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TaskModules.ts
Due: pipelines/javascript.yml

add memory class
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/MemoryTests/MemoryTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Memory/Memory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] feat: add meeting handlers (#771)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MeetingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ActivityUtilities.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/AdaptiveCards/AdaptiveCards.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Meetings/Meetings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Meetings/MeetingsHandlers.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageExtensions/MessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TaskModules/TaskModules.cs
Due: pipelines/dotnet.yml
