Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Update README.md image path
  js/samples/04.ai.a.teamsChefBot/README.md
Due: pipelines/javascript.yml

[JS] chore: Update README.md image path (#1431)
  js/samples/04.ai.a.teamsChefBot/README.md
Due: pipelines/javascript.yml

fix for dict/key referneces for action name and param
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Due: pipelines/python.yml

[PY] fix: retrieving name and parameter values from monologue augmentations (#1433)
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Due: pipelines/python.yml

Fix getting started links
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Due: none

Add eslint override for spec files
  js/.eslintrc
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Due: pipelines/javascript.yml

Lock down openai package version due to breaking change
  js/packages/teams-ai/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] fix: Update Chef Bot, add documentation, and fix dependency in mathbot (#1429)
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
  js/.eslintrc
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/internals/Colorize.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/DefaultModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/prompts/AssistantMessage.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.ts
  js/packages/teams-ai/src/prompts/GroupSection.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
  js/packages/teams-ai/src/prompts/TextSection.ts
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Manual bump of axios and @microsoft/teamsfx
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/08.datasource.azureAISearch/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] bump: Manual bump of axios and @microsoft/teamsfx (#1435)
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/08.datasource.azureAISearch/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

clean messy gitignore
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/.gitignore
  dotnet/samples/.gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Due: pipelines/dotnet.yml

remove data_sources from prompt template
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Due: pipelines/javascript.yml

revert prompt template changes
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Due: pipelines/javascript.yml

fix broken teamsapp.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
Due: pipelines/javascript.yml

fix teamsapp yml files
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Due: pipelines/javascript.yml

remove project id
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
Due: pipelines/javascript.yml

add missing files
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
  js/samples/08.datasource.azureOpenAI/env/.env.dev
  js/samples/08.datasource.azureOpenAI/env/.env.local
  js/samples/08.datasource.azureOpenAI/env/.env.testtool
Due: pipelines/javascript.yml

[C#] fix: Refactor `08.datasource.azureAISearch` sample (#1440)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/.gitignore
  dotnet/samples/.gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Due: pipelines/dotnet.yml

[JS] fix: Broken teamsapp.yml files (#1441)
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Due: pipelines/javascript.yml

bug fix
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Due: pipelines/javascript.yml

adapt test suite
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
Due: pipelines/javascript.yml

[JS] fix: ME Auth card title is a fixed string (#1444)
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Due: pipelines/javascript.yml

Update js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/README.md
Due: pipelines/javascript.yml

Update index.ts
  js/samples/08.datasource.azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

Revert "[JS] fix: ME Auth card title is a fixed string (#1444)"
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Due: pipelines/javascript.yml

fixing poetry.lock
  python/samples/06.assistants.a.mathBot/poetry.lock
Due: pipelines/python.yml

[JS] feat: `Azure OpenAI On Your Data` - Azure AI Search support (#1426)
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/samples/08.datasource.azureOpenAI/.eslintignore
  js/samples/08.datasource.azureOpenAI/.eslintrc
  js/samples/08.datasource.azureOpenAI/.gitignore
  js/samples/08.datasource.azureOpenAI/.prettierignore
  js/samples/08.datasource.azureOpenAI/.prettierrc
  js/samples/08.datasource.azureOpenAI/.vscode/launch.json
  js/samples/08.datasource.azureOpenAI/.vscode/tasks.json
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/appPackage/color.png
  js/samples/08.datasource.azureOpenAI/appPackage/manifest.json
  js/samples/08.datasource.azureOpenAI/appPackage/outline.png
  js/samples/08.datasource.azureOpenAI/assets/example.png
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
  js/samples/08.datasource.azureOpenAI/env/.env.dev
  js/samples/08.datasource.azureOpenAI/env/.env.local
  js/samples/08.datasource.azureOpenAI/env/.env.testtool
  js/samples/08.datasource.azureOpenAI/infra/azure.bicep
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/readme.md
  js/samples/08.datasource.azureOpenAI/package.json
  js/samples/08.datasource.azureOpenAI/sample.env
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/card.ts
  js/samples/08.datasource.azureOpenAI/src/data/nba.pdf
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/config.json
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
  js/samples/08.datasource.azureOpenAI/tsconfig.json
  js/samples/08.datasource.azureOpenAI/web.config
Due: pipelines/javascript.yml

fix monologue
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/utils/json/parse.py
Due: pipelines/python.yml

Update package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
Due: pipelines/javascript.yml

fixed poetry.lock file
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
Due: pipelines/python.yml

Updates to make running the sample directly simpler
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/env/.env.dev
  js/samples/04.ai.a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai.a.teamsChefBot/env/.env.local
  js/samples/04.ai.a.teamsChefBot/env/.env.local.user
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/sample.env
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Fixes build error and works around #1405
  js/samples/04.ai.a.teamsChefBot/package.json
Due: pipelines/javascript.yml

Fixes package validation errors when running Provision
  js/samples/04.ai.a.teamsChefBot/appPackage/color.png
  js/samples/04.ai.a.teamsChefBot/appPackage/outline.png
Due: pipelines/javascript.yml

moved public method up, added generic for State, added default handler for Too_Many_Steps, ran formatter
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/state.py
Due: pipelines/python.yml

Fixes instructions and npm install
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Modifies contribution guidance for samples.
  getting-started/SAMPLES.md
Due: none

Update teams_adapter.py
  python/packages/ai/teams/teams_adapter.py
Due: pipelines/python.yml
