Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Update OpenAIModel.ts to handle tools
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Fix ConversationHistory tests
  js/packages/teams-ai/src/prompts/ConversationHistory.spec.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
Due: pipelines/javascript.yml

Cleanup
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

ToolsAugmentation and ConversationHistory unit tests
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.spec.ts
Due: pipelines/javascript.yml

Apply PR feedback
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Add unit tests for PromptManager
  js/packages/teams-ai/src/internals/testing/assets/test/chat/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/chat/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/noAugDataSource/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/noAugDataSource/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/noAugDataSource/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/sequence/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/sequence/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/sequence/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/tools/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/tools/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/tools/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/updateSchema/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/updateSchema/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/updateSchema/skprompt.txt
  js/packages/teams-ai/src/models/LlamaModel.spec.ts
  js/packages/teams-ai/src/prompts/PromptManager.spec.ts
Due: pipelines/javascript.yml

Update LightBot
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/actions.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/config.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/skprompt.txt
Due: pipelines/javascript.yml

Add tests and a couple fixes
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/planners/ActionPlanner.spec.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
Due: pipelines/javascript.yml

Update ToolsAugmentation and OpenAIModel convertMessages
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Clean up code
  js/package.json
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Add a few OpenaiModel tests
  js/packages/teams-ai/src/internals/testing/assets/test/updateSchema/config.json
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
Due: pipelines/javascript.yml

Modify tools augmentation to use ActionOutputMessage
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/prompts/ActionOutputMessage.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/index.ts
Due: pipelines/javascript.yml

Fix up ActionOutputMessage
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/prompts/ActionOutputMessage.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
Due: pipelines/javascript.yml

Add fix for ensuring all action outputs are added to history
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/types/PromptResponse.ts
Due: pipelines/javascript.yml

Refactor tools completion logic
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Update LightBot to use Tools Augmentation
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/azure.parameters.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/actions.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/config.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.yml
Due: pipelines/javascript.yml

Update list bot and light bot to use gpt-4o
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.yml
Due: pipelines/javascript.yml

Apply PR comment fixes
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
Due: pipelines/javascript.yml

fixes for feedback loop handler and test
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

progress, fmt
  python/packages/ai/teams/auth/sso/sso_dialog.py
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

[PY] fix: feedback loop handler - dict access (#1943)
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

afterturn state, dupe token
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

print cleanup
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

stray comment cleanup
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

lint ./sso_dialog.py:47:8: E1101
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

sso dialog lint cleaned up
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

lint, msal_config
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

general fmt
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/sso/sso_options.py
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

file download support
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

updated math bot and order bot
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/ActionHandlers.cs
  dotnet/samples/06.assistants.b.orderBot/Models/OrderParameters.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/appPackage/manifest.json
  dotnet/samples/06.assistants.b.orderBot/assets/menu.pdf
  dotnet/samples/06.assistants.b.orderBot/env/.env.local
Due: pipelines/dotnet.yml

fix env
  dotnet/samples/06.assistants.b.orderBot/env/.env.local
Due: pipelines/dotnet.yml

refactor
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTest.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

fix lint
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatCompletionToolCallTests.cs
Due: pipelines/dotnet.yml

Update ActionHandlers.cs
  dotnet/samples/06.assistants.b.orderBot/ActionHandlers.cs
Due: pipelines/dotnet.yml

Update .env.local
  dotnet/samples/06.assistants.b.orderBot/env/.env.local
Due: pipelines/dotnet.yml

added function calls markdown
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/FUNCTION-CALLS.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

Updated StreamingResponse class to support queue based delivery of chunks to client
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

docs
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
  getting-started/SAMPLES.md
Due: none

docs
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
Due: none

Update ASSISTANTS-PLANNER.md
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
