Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
      Python310:
        python.version: '3.10'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(python.version)
  ...

Apply fixes
  js/samples/04.ai.f.vision.cardGazer/build/appPackage/manifest.local.json
  js/samples/05.chatModeration/sample.env
  js/samples/06.auth.teamsSSO.messageExtension/sample.env
Due: pipelines/javascript.yml

[PY] chore: updated SAMPLES.md with samples (#1382)
  getting-started/SAMPLES.md
Due: none

start of new sample
  js/samples/04.ai.g.LLAMA/src/index.ts
Due: pipelines/javascript.yml

Initiate new sample
  js/samples/04.ai.g.LLAMA/.eslintignore
  js/samples/04.ai.g.LLAMA/.eslintrc
  js/samples/04.ai.g.LLAMA/.gitignore
  js/samples/04.ai.g.LLAMA/.prettierignore
  js/samples/04.ai.g.LLAMA/.prettierrc
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/appPackage/color.png
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/appPackage/outline.png
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.parameters.json
  js/samples/04.ai.g.LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/teamsapp.local.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
  js/samples/04.ai.g.LLAMA/tsconfig.json
  js/samples/04.ai.g.LLAMA/web.config
Due: pipelines/javascript.yml

First turn Llama POC
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/packages/teams-ai/src/models/index.ts
Due: pipelines/javascript.yml

lint fixes
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/index.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/delete.ts
  js/samples/08.datasource.azureAISearch/src/indexers/setup.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
Due: pipelines/javascript.yml

fix typo
  js/samples/08.datasource.azureAISearch/infra/azure.parameters.json
  js/samples/08.datasource.azureAISearch/teamsapp.local.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Due: pipelines/javascript.yml

fix: bad grammar to avoid no attribute error
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Due: pipelines/python.yml

fix: fix testcase
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
Due: pipelines/python.yml

fix typos
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
Due: pipelines/javascript.yml

fix typo
  js/samples/08.datasource.azureAISearch/package.json
Due: pipelines/javascript.yml

[JS] feat: Azure AI Search data source (#1361)
  js/samples/08.datasource.azureAISearch/.eslintignore
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/.gitignore
  js/samples/08.datasource.azureAISearch/.prettierignore
  js/samples/08.datasource.azureAISearch/.prettierrc
  js/samples/08.datasource.azureAISearch/.vscode/launch.json
  js/samples/08.datasource.azureAISearch/.vscode/tasks.json
  js/samples/08.datasource.azureAISearch/README.md
  js/samples/08.datasource.azureAISearch/appPackage/color.png
  js/samples/08.datasource.azureAISearch/appPackage/manifest.json
  js/samples/08.datasource.azureAISearch/appPackage/outline.png
  js/samples/08.datasource.azureAISearch/assets/example.png
  js/samples/08.datasource.azureAISearch/assets/prompt-response.png
  js/samples/08.datasource.azureAISearch/infra/azure.bicep
  js/samples/08.datasource.azureAISearch/infra/azure.parameters.json
  js/samples/08.datasource.azureAISearch/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureAISearch/infra/botRegistration/readme.md
  js/samples/08.datasource.azureAISearch/package.json
  js/samples/08.datasource.azureAISearch/sample.env
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/index.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/delete.ts
  js/samples/08.datasource.azureAISearch/src/indexers/setup.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/prompts/chat/config.json
  js/samples/08.datasource.azureAISearch/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
  js/samples/08.datasource.azureAISearch/teamsapp.local.yml
  js/samples/08.datasource.azureAISearch/teamsapp.testtool.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
  js/samples/08.datasource.azureAISearch/tsconfig.json
  js/samples/08.datasource.azureAISearch/web.config
  js/yarn.lock
Due: pipelines/javascript.yml

Update llama sample to working light bot
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/yarn.lock
Due: pipelines/javascript.yml

Add readme for sample
  js/samples/04.ai.g.LLAMA/README.md
Due: pipelines/javascript.yml

fix for buffer.from bug
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Due: pipelines/javascript.yml

[JS] fix: TeamsAttachmentDownloader Buffer Error (#1403)
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Due: pipelines/javascript.yml

Cleanup Llama sample and fix augmentation
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
Due: pipelines/javascript.yml

Minor clean up light bot sample
  js/samples/04.ai.c.actionMapping.lightBot/src/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/responses.ts
Due: pipelines/javascript.yml

Turn off augmentation looping
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/src/index.ts
Due: pipelines/javascript.yml

init
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot.sln
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/.gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/ActionHandlers.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/color.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/manifest.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/outline.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/TeamsChefBot.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/example.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.local.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/.editorconfig
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Restaurant.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/RestaurantIndexer.cs
Due: pipelines/dotnet.yml

completed typeahead bot implementation
  python/samples/03.adaptiveCards.a.typeAheadBot/.gitignore
  python/samples/03.adaptiveCards.a.typeAheadBot/.pylintrc
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/settings.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/tasks.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.webappignore
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/color.png
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/manifest.json
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/outline.png
  python/samples/03.adaptiveCards.a.typeAheadBot/assets/screenshot.PNG
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev.user
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local.user
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.parameters.json
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/botRegistration/azurebot.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/__init__.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/ci.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/clean.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/fmt.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/lint.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/start.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/test.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/bot.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/dynamic_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/static_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/state.py
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.local.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.yml
Due: pipelines/python.yml

fixed JSON parsing for search result and README instructions
  python/packages/ai/teams/adaptive_cards/adaptive_cards_search_result.py
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
Due: pipelines/python.yml

update readme
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/TeamsChefBot.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
Due: pipelines/dotnet.yml

add a new option
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
Due: pipelines/dotnet.yml

Apply PR feedback
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/teamsapp.testtool.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
Due: pipelines/javascript.yml

init
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
  js/samples/08.datasource.azureOpenAI/.eslintignore
  js/samples/08.datasource.azureOpenAI/.eslintrc
  js/samples/08.datasource.azureOpenAI/.gitignore
  js/samples/08.datasource.azureOpenAI/.prettierignore
  js/samples/08.datasource.azureOpenAI/.prettierrc
  js/samples/08.datasource.azureOpenAI/.vscode/launch.json
  js/samples/08.datasource.azureOpenAI/.vscode/tasks.json
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/appPackage/color.png
  js/samples/08.datasource.azureOpenAI/appPackage/manifest.json
  js/samples/08.datasource.azureOpenAI/appPackage/outline.png
  js/samples/08.datasource.azureOpenAI/assets/example.png
  js/samples/08.datasource.azureOpenAI/infra/azure.bicep
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/readme.md
  js/samples/08.datasource.azureOpenAI/package.json
  js/samples/08.datasource.azureOpenAI/sample.env
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/card.ts
  js/samples/08.datasource.azureOpenAI/src/data/nba.pdf
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/config.json
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
  js/samples/08.datasource.azureOpenAI/tsconfig.json
  js/samples/08.datasource.azureOpenAI/web.config
Due: pipelines/javascript.yml

readme updates
  js/samples/08.datasource.azureOpenAI/README.md
Due: pipelines/javascript.yml

[JS] feat: Implement use of alternate model Meta Llama 2 (#1402)
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/packages/teams-ai/src/models/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/responses.ts
  js/samples/04.ai.g.LLAMA/.eslintignore
  js/samples/04.ai.g.LLAMA/.eslintrc
  js/samples/04.ai.g.LLAMA/.gitignore
  js/samples/04.ai.g.LLAMA/.prettierignore
  js/samples/04.ai.g.LLAMA/.prettierrc
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/appPackage/color.png
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/appPackage/outline.png
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.parameters.json
  js/samples/04.ai.g.LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/samples/04.ai.g.LLAMA/teamsapp.local.yml
  js/samples/04.ai.g.LLAMA/teamsapp.testtool.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
  js/samples/04.ai.g.LLAMA/tsconfig.json
  js/samples/04.ai.g.LLAMA/web.config
Due: pipelines/javascript.yml

fix typings
  js/packages/teams-ai/src/internals/types.ts
Due: pipelines/javascript.yml

test
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
Due: pipelines/javascript.yml

revert to v1.1.1
  js/samples/08.datasource.azureOpenAI/package.json
Due: pipelines/javascript.yml

#1418 delete unnecessary lines in ChefBot yml file
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
Due: pipelines/javascript.yml

add gitignore
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Due: pipelines/dotnet.yml

Apply suggestions from code review
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
Due: pipelines/dotnet.yml

[C#] feat: Azure AI Search data source (#1411)
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot.sln
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/.gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/ActionHandlers.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/color.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/manifest.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/outline.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/example.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.local.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/.editorconfig
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Restaurant.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/RestaurantIndexer.cs
Due: pipelines/dotnet.yml

#1389 Add documentation for multiple models in Teams Chef Bot
  js/samples/04.ai.a.teamsChefBot/README.md
Due: pipelines/javascript.yml

Add openai to dependencies for MathBot
  js/samples/06.assistants.a.mathBot/package.json
Due: pipelines/javascript.yml

Linting fixes
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/internals/Colorize.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/DefaultModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/prompts/AssistantMessage.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.ts
  js/packages/teams-ai/src/prompts/GroupSection.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
  js/packages/teams-ai/src/prompts/TextSection.ts
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
Due: pipelines/javascript.yml

[PY] feat: Typeahead Bot (#1412)
  python/packages/ai/teams/adaptive_cards/adaptive_cards_search_result.py
  python/samples/03.adaptiveCards.a.typeAheadBot/.gitignore
  python/samples/03.adaptiveCards.a.typeAheadBot/.pylintrc
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/settings.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/tasks.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.webappignore
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/color.png
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/manifest.json
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/outline.png
  python/samples/03.adaptiveCards.a.typeAheadBot/assets/screenshot.PNG
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev.user
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local.user
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.parameters.json
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/botRegistration/azurebot.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/__init__.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/ci.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/clean.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/fmt.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/lint.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/start.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/test.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/bot.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/dynamic_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/static_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/state.py
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.local.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.yml
Due: pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
