Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: js/packages/teams-ai/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: Npm@1
  displayName: 'Publish'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: 'Github_Pipelines/Teams'

add bot auth telemetry header test
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
Due: pipelines/javascript.yml

Update BotAdapterOptions.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
Due: pipelines/javascript.yml

update jsdoc
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
Due: pipelines/javascript.yml

feat: export InputFile class
  python/packages/ai/teams/__init__.py
Due: none

test: add default state test cases
  python/packages/ai/tests/state/test_default_conversation_state.py
  python/packages/ai/tests/state/test_default_temp_state.py
  python/packages/ai/tests/state/test_default_user_state.py
Due: none

test: (wip)add turn state test cases
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/tests/state/test_default_temp_state.py
  python/packages/ai/tests/state/test_turn_state.py
Due: none

Update TeamsBotFrameworkAuthentication.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
Due: pipelines/javascript.yml

fix docs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
Due: pipelines/dotnet.yml

Update JS.md
  getting-started/MIGRATION/JS.md
Due: none

fix formatting for technical docs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationOptions.cs
Due: pipelines/dotnet.yml

bump to 1.0.1
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[repo] docs: updated getting started docs for additional details (#1147)
  README.md
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Due: none

Apply PR suggestion + lint
  js/packages/teams-ai/src/Application.spec.ts
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
Due: pipelines/javascript.yml

[C#] chore: Bump dotnet library to v1.0.1 (#1156)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[JS] chore: Application unit tests (#1111)
  js/.eslintrc
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/samples/01.messaging.a.echoBot/.eslintrc
  js/samples/02.messageExtensions.a.searchCommand/.eslintrc
  js/samples/03.adaptiveCards.a.typeAheadBot/.eslintrc
  js/samples/04.ai.a.teamsChefBot/.eslintrc
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
  js/samples/04.ai.b.messageExtensions.AI-ME/.eslintrc
  js/samples/04.ai.c.actionMapping.lightBot/.eslintrc
  js/samples/04.ai.d.chainedActions.listBot/.eslintrc
  js/samples/04.ai.e.chainedActions.devOpsBot/.eslintrc
  js/samples/04.ai.f.vision.cardMaster/.eslintrc
  js/samples/04.e.twentyQuestions/.eslintrc
  js/samples/05.chatModeration/.eslintrc
  js/samples/06.assistants.a.mathBot/.eslintrc
  js/samples/06.assistants.b.orderBot/.eslintrc
  js/samples/06.auth.oauth.adaptiveCard/.eslintrc
  js/samples/06.auth.oauth.bot/.eslintrc
  js/samples/06.auth.oauth.messageExtension/.eslintrc
  js/samples/06.auth.teamsSSO.bot/.eslintrc
  js/samples/06.auth.teamsSSO.messageExtension/.eslintrc
  js/samples/07.whoBot/.eslintrc
Due: pipelines/javascript.yml

update readme reference
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] chore: Fix link to readme associated with C# package. (#1159)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] feat: add SequenceAugmentation unit tests (#1148)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
Due: pipelines/dotnet.yml

fix backwards compatibility
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
Due: pipelines/javascript.yml

test: add TurnState test cases
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/tests/state/test_turn_state.py
Due: none

feat: format code and fix lint issue
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/default_conversation_state.py
  python/packages/ai/teams/state/default_temp_state.py
  python/packages/ai/teams/state/default_user_state.py
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_default_conversation_state.py
  python/packages/ai/tests/state/test_default_temp_state.py
  python/packages/ai/tests/state/test_default_user_state.py
  python/packages/ai/tests/state/test_turn_state.py
  python/packages/ai/tests/state/test_turn_state_entry.py
Due: none

feat: add ActionPlanner unit test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
Due: pipelines/dotnet.yml

add sandbox
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

Update Application.spec.ts
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

update user agent
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
Due: pipelines/javascript.yml

completed OpenAIModerator and AzureContentSafetyModerator tests
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Due: pipelines/javascript.yml

docs: add docstring for new classes
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/state/default_conversation_state.py
  python/packages/ai/teams/state/default_temp_state.py
  python/packages/ai/teams/state/default_user_state.py
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_default_temp_state.py
Due: none

Update README.md
  getting-started/MIGRATION/README.md
Due: none

Added reminder to configure VS Code auto attach for debugging
  js/samples/README.md
Due: pipelines/javascript.yml

application concept
  getting-started/CONCEPTS/AI-MODULE.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/MIGRATION/DOTNET.md
  getting-started/MIGRATION/JS.md
Due: none

Update APPLICATION.md
  getting-started/CONCEPTS/APPLICATION.md
Due: none

Update README.md
  getting-started/CONCEPTS/README.md
Due: none
