Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: js/packages/teams-ai/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: Npm@1
  displayName: 'Publish'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: 'Github_Pipelines/Teams'

turn concept
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
Due: none

Update README.md
  getting-started/CONCEPTS/README.md
Due: none

Update README.md
  getting-started/README.md
Due: none

fixed model types, added unit tests, added missing model into embeddings
  js/packages/teams-ai/src/embeddings/EmbeddingsModel.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/TestEmbeddings.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/OpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

fixed linting
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

[JS] fix: Azure OpenAI credentials enabled for VectraDataSource for TeamsChefBot (#1101)
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/sample.env
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
  js/samples/04.ai.a.teamsChefBot/src/index.ts
Due: pipelines/javascript.yml

fix formatting bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

fix dotnet samples build
  dotnet/samples/.workflows/build-samples.sh
Due: pipelines/dotnet.yml

internalize `BotAdapter` initialization and add user agent
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Update Application.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

don't publish source code, only built lib
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

[JS] feat: Removed Deprecated Completions Logic, Added OpenAIClient and AzureOpenAIClient Unit Tests, Updated Response/Request Parameters (#1138)
  js/packages/teams-ai/src/embeddings/EmbeddingsModel.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/TestEmbeddings.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/OpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

[C#] feat: add OpenAIModel unit test (#1129)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

Add some unit tests to `Application.ts`
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Minor eslint updates
  js/.eslintrc
  js/samples/01.messaging.a.echoBot/.eslintrc
  js/samples/02.messageExtensions.a.searchCommand/.eslintrc
  js/samples/03.adaptiveCards.a.typeAheadBot/.eslintrc
  js/samples/04.ai.a.teamsChefBot/.eslintrc
  js/samples/04.ai.b.messageExtensions.AI-ME/.eslintrc
  js/samples/04.ai.c.actionMapping.lightBot/.eslintrc
  js/samples/04.ai.d.chainedActions.listBot/.eslintrc
  js/samples/04.ai.e.chainedActions.devOpsBot/.eslintrc
  js/samples/04.ai.f.vision.cardMaster/.eslintrc
  js/samples/04.e.twentyQuestions/.eslintrc
  js/samples/05.chatModeration/.eslintrc
  js/samples/06.assistants.a.mathBot/.eslintrc
  js/samples/06.assistants.b.orderBot/.eslintrc
  js/samples/06.auth.oauth.adaptiveCard/.eslintrc
  js/samples/06.auth.oauth.bot/.eslintrc
  js/samples/06.auth.oauth.messageExtension/.eslintrc
  js/samples/06.auth.teamsSSO.bot/.eslintrc
  js/samples/06.auth.teamsSSO.messageExtension/.eslintrc
  js/samples/07.whoBot/.eslintrc
Due: pipelines/javascript.yml

Add unit tests
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

Add two unit tests for auth-flows in `Authentication.run`
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
Due: pipelines/javascript.yml

[C#] fix: Calls to OpenAI trace logs format is malformed. (#1141)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/.workflows/build-samples.sh
Due: pipelines/dotnet.yml

Update Application.spec.ts
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

move `ApplicationBuilder` to its own file
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
Due: pipelines/javascript.yml

lint
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
Due: pipelines/javascript.yml

Update index.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/javascript.yml

added unit tests for UserTokenAccess, DataSourceSection, FunctionCallMessage, FunctionResponseMessage
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.spec.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.spec.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.spec.ts
Due: pipelines/javascript.yml

[repo] docs: updated getting started docs for additional details
  README.md
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Due: none

[JS] chore: UserAccessToken, DataSourceSection, FunctionCallMessage, FunctionResponseMessage Unit Tests (#1145)
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.spec.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.spec.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.spec.ts
Due: pipelines/javascript.yml

[C#] feat: add SequenceAugmentation unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
Due: pipelines/dotnet.yml

feat: finish implement turn state and related classes
  python/packages/ai/teams/state/default_conversation_state.py
  python/packages/ai/teams/state/default_temp_state.py
  python/packages/ai/teams/state/default_user_state.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
Due: none

feat: export state classes
  python/packages/ai/teams/state/__init__.py
Due: none

test: TurnStateEntry test case
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_turn_state_entry.py
Due: none

Fix unit test
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

refactor for custom bot authentication implementation
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
Due: pipelines/javascript.yml

Update QUICKSTART.md
  getting-started/QUICKSTART.md
Due: none

update version to avoid sample conflicts
  js/packages/teams-ai/package.json
  js/yarn.lock
Due: pipelines/javascript.yml
