Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

updates with budget management, key with value, predicted do command with id
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/text_section.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
Due: pipelines/python.yml

Add tools augmentation type
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
Due: pipelines/javascript.yml

Remove OpenAIFunction as no longer needed
  js/packages/teams-ai/src/types/OpenAIFunction.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Add ToolAugmentationConstants and update Message to include action_tool_calls
  js/packages/teams-ai/src/augmentations/ToolsAugmentationConstants.ts
  js/packages/teams-ai/src/augmentations/index.ts
  js/packages/teams-ai/src/prompts/Message.ts
Due: pipelines/javascript.yml

Add completionConfig default tools handling to OpenAIModel
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Move ToolsAugmentationConstants to types folder
  js/packages/teams-ai/src/augmentations/index.ts
  js/packages/teams-ai/src/types/ToolsAugmentationConstants.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Create ToolsAugmentation class
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/packages/teams-ai/src/types/ToolsAugmentationConstants.ts
Due: pipelines/javascript.yml

Add consistency to TurnState variable naming
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/types/ToolsAugmentationConstants.ts
Due: pipelines/javascript.yml

Update ActionPlanner with tools changes
  js/packages/teams-ai/src/planners/ActionPlanner.ts
Due: pipelines/javascript.yml

Refactor ToolsAugmentation
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
Due: pipelines/javascript.yml

Remove include_tools and toolsError from CompletionConfig and PromptResponse respectively
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
  js/packages/teams-ai/src/types/PromptResponse.ts
Due: pipelines/javascript.yml

Update Message type to use ActionCall instead of ChatCompletionMessageToolCall from openai.
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/packages/teams-ai/src/types/ActionCall.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Begin tools support in OpenAIModel.ts.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Comments
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
Due: pipelines/javascript.yml

Remove SUBMIT_TOOL_HISTORY
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/types/ToolsAugmentationConstants.ts
Due: pipelines/javascript.yml

Implement tools flow in `OpenAI.ts` and add ChatCompletionActionResponse type.
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/types/ChatCompletionActionResponse.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Fix tests due to state variable name change
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
Due: pipelines/javascript.yml

Run linter
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/external/index.ts
  js/packages/teams-ai/src/models/TestModel.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
Due: pipelines/javascript.yml

Add actionId to PredictedDoCommand interface
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/planners/Planner.ts
Due: pipelines/javascript.yml

Remove ToolsAugmentationConstants & update ToolsAugmentation to not use them
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/types/ToolsAugmentationConstants.ts
Due: pipelines/javascript.yml

fix: comment out azure openai lines and update readme
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
Due: pipelines/javascript.yml

feat: update teamschef bot sample to use msi for remote
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai-apps/a.teamsChefBot/infra/azure.bicep
  js/samples/04.ai-apps/a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai-apps/a.teamsChefBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.yml
Due: pipelines/javascript.yml

removed _actions param from tools aug
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

Dump of non-working WIP
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/prompts/Message.ts
Due: pipelines/javascript.yml

Add vscode python settings
  python/packages/ai/.vscode/settings.json
Due: pipelines/python.yml

Lint and add missing docs strings
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/external/index.ts
  js/packages/teams-ai/src/external/strict-event-emitter-types.ts
  js/packages/teams-ai/src/models/TestModel.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/types/OpenAIFunction.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

Removes OpenAIFunction import
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

[PY] fix: Add vscode python settings (#1907)
  python/packages/ai/.vscode/settings.json
Due: pipelines/python.yml

[JS] docs: Lint and add missing docs strings (#1908)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/external/index.ts
  js/packages/teams-ai/src/external/strict-event-emitter-types.ts
  js/packages/teams-ai/src/models/TestModel.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/types/OpenAIFunction.ts
  js/packages/teams-ai/src/types/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

more fmt, lint
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/auth_options.py
  python/packages/ai/teams/auth/sso/__init__.py
  python/packages/ai/teams/auth/sso/sso_dialog.py
  python/packages/ai/teams/auth/sso/sso_message_extension.py
  python/packages/ai/teams/auth/sso/sso_options.py
  python/packages/ai/teams/auth/sso/sso_prompt.py
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

update readme only
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
Due: pipelines/javascript.yml

[C#] feat: Migrate `AssistantsPlanner` to official OpenAI .NET SDK (#1895)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MeetingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TaskModulesTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/.editorconfig
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.sln
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/.editorconfig
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

final fmt lint appeasement
  python/packages/ai/teams/auth/sso/sso_message_extension.py
  python/packages/ai/teams/auth/sso/sso_options.py
Due: pipelines/python.yml

citations support
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTest.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[JS] docs: comment out azure openai lines and update readme (#1906)
  js/samples/04.ai-apps/a.teamsChefBot/README.md
Due: pipelines/javascript.yml

remove todo comment
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

revert bump to openai 2.0.0-beta.7
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Update OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
Due: pipelines/dotnet.yml

[PY] feat: SSO-token-exchange (#1867)
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/auth_options.py
  python/packages/ai/teams/auth/sso/__init__.py
  python/packages/ai/teams/auth/sso/sso.py
  python/packages/ai/teams/auth/sso/sso_dialog.py
  python/packages/ai/teams/auth/sso/sso_message_extension.py
  python/packages/ai/teams/auth/sso/sso_options.py
  python/packages/ai/teams/auth/sso/sso_prompt.py
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

Update teamsapp.yml
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
Due: pipelines/javascript.yml
