Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

fix failing tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

Revert "[C#] fix: Remove public feed from nuget config (#1480)"
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Revert log requests change in llama sample
  js/samples/04.ai.g.LLAMA/src/index.ts
Due: pipelines/javascript.yml

[JS] chore: Update samples and docs to optimize for running directly from Teams Toolkit gallery (#1458)
  getting-started/SAMPLES.md
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/appPackage/color.png
  js/samples/04.ai.a.teamsChefBot/appPackage/outline.png
  js/samples/04.ai.a.teamsChefBot/env/.env.dev
  js/samples/04.ai.a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai.a.teamsChefBot/env/.env.local
  js/samples/04.ai.a.teamsChefBot/env/.env.local.user
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/sample.env
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

remove nuget.config
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

[JS] chore: Move message extensions sample to teams-features directory (#1481)
  getting-started/SAMPLES.md
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/env/.env.local
  js/samples/02.messageExtensions.a.searchCommand/env/.env.staging
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.gitignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/launch.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/tasks.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/README.md
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/color.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/manifest.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/outline.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.parameters.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/sample.env
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmPackageCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmSearchResultCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/tsconfig.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/web.config
  js/yarn.lock
Due: pipelines/javascript.yml

Fix package.json error
  js/samples/04.ai.a.teamsChefBot/package.json
Due: pipelines/javascript.yml

[JS] fix: package.json error in TeamsChefBot (#1486)
  js/samples/04.ai.a.teamsChefBot/package.json
Due: pipelines/javascript.yml

[C#] fix: Remove the `nuget.config` file (#1485)
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Move AdaptiveCards sample and update TTK flow
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/color.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/manifest.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/outline.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.parameters.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/sample.env
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/staticSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/tsconfig.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/web.config
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.staging
  js/samples/README.md
Due: pipelines/javascript.yml

[JS] chore: Move AdaptiveCards sample and update TTK flow (#1487)
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/color.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/manifest.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/outline.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.parameters.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/sample.env
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/staticSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/tsconfig.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/web.config
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.staging
  js/samples/README.md
Due: pipelines/javascript.yml

[JS] chore: Remove devTools folder from sample app
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
Due: pipelines/javascript.yml

[JS] chore: Remove devTools folder from sample app (#1490)
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
Due: pipelines/javascript.yml

Patch js package and its samples
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] chore: Patch js package and its samples (#1491)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Move twenty questions sample to ai-concepts directory
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintignore
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintrc
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierrc
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/color.png
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/manifest.json
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/outline.png
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.staging
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.parameters.json
  js/samples/03.ai-concepts/a.twentyQuestions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/sample.env
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/config.json
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/a.twentyQuestions/src/responses.ts
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.local.yml
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.yml
  js/samples/03.ai-concepts/a.twentyQuestions/tsconfig.json
  js/samples/03.ai-concepts/a.twentyQuestions/web.config
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.e.twentyQuestions/README.md
Due: pipelines/javascript.yml

Fix link in SAMPLES.md
  getting-started/SAMPLES.md
Due: none

[JS] chore: Move twenty questions sample to ai-concepts directory (#1489)
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintignore
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintrc
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierrc
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/color.png
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/manifest.json
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/outline.png
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.staging
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.parameters.json
  js/samples/03.ai-concepts/a.twentyQuestions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/sample.env
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/config.json
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/a.twentyQuestions/src/responses.ts
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.local.yml
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.yml
  js/samples/03.ai-concepts/a.twentyQuestions/tsconfig.json
  js/samples/03.ai-concepts/a.twentyQuestions/web.config
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.e.twentyQuestions/README.md
Due: pipelines/javascript.yml

Update README.md
  dotnet/samples/08.datasource.azureopenai/README.md
Due: pipelines/dotnet.yml

logic for teams attachment downloader complete
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/teams_attachment_downloader.py
Due: pipelines/python.yml

Move AI Message Extensions sample to ai-concepts directory
  getting-started/SAMPLES.md
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.gitignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/launch.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/tasks.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/README.md
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/color.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/manifest.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/outline.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.parameters.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/sample.env
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/editView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/initialView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/postCard.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.local.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/tsconfig.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/web.config
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/env/.env.staging
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.local.yml
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.yml
Due: pipelines/javascript.yml

fixed logic and added tests
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

removed unused AuthenticatorResult class
  python/packages/ai/teams/teams_attachment_downloader.py
Due: pipelines/python.yml

removed unused import
  python/packages/ai/teams/teams_attachment_downloader.py
Due: pipelines/python.yml

updated response object
  python/packages/ai/teams/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

Add empty env files
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.staging
Due: pipelines/javascript.yml

[JS] chore: Move AI Message Extensions sample to ai-concepts directory (#1500)
  getting-started/SAMPLES.md
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.gitignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/launch.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/tasks.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/README.md
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/color.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/manifest.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/outline.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.staging
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.parameters.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/sample.env
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/editView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/initialView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/postCard.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.local.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/tsconfig.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/web.config
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.local.yml
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.yml
Due: pipelines/javascript.yml

refactored into folder structure and removed comment
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader_options.py
Due: pipelines/python.yml

[PY] feat: TeamsAttachmentDownloader (#1502)
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/teams_attachment_downloader/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader_options.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

Move chat moderation sample to ai-concepts folder
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/f.chatModeration/.eslintignore
  js/samples/03.ai-concepts/f.chatModeration/.eslintrc
  js/samples/03.ai-concepts/f.chatModeration/.gitignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierrc
  js/samples/03.ai-concepts/f.chatModeration/.vscode/launch.json
  js/samples/03.ai-concepts/f.chatModeration/.vscode/tasks.json
  js/samples/03.ai-concepts/f.chatModeration/README.md
  js/samples/03.ai-concepts/f.chatModeration/appPackage/color.png
  js/samples/03.ai-concepts/f.chatModeration/appPackage/manifest.json
  js/samples/03.ai-concepts/f.chatModeration/appPackage/outline.png
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.staging
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.bicep
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.parameters.json
  js/samples/03.ai-concepts/f.chatModeration/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/03.ai-concepts/f.chatModeration/sample.env
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/03.ai-concepts/f.chatModeration/src/index.ts
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/config.json
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/skprompt.txt
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.local.yml
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.yml
  js/samples/03.ai-concepts/f.chatModeration/tsconfig.json
  js/samples/03.ai-concepts/f.chatModeration/web.config
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/infra/azure.parameters.json
  js/samples/05.chatModeration/teamsapp.local.yml
Due: pipelines/javascript.yml

add oauth first pass
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/auth.py
  python/packages/ai/teams/auth/auth_manager.py
  python/packages/ai/teams/auth/auth_options.py
  python/packages/ai/teams/auth/message_extension.py
  python/packages/ai/teams/auth/oauth/__init__.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_dialog.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/packages/ai/teams/auth/sign_in_response.py
  python/packages/ai/teams/auth/token_exchange_middleware.py
  python/packages/ai/teams/auth/user_token/__init__.py
  python/packages/ai/teams/auth/user_token/exchange_token.py
  python/packages/ai/teams/auth/user_token/get_sign_in_resource.py
  python/packages/ai/teams/auth/user_token/get_user_token.py
  python/packages/ai/teams/auth/user_token/get_user_token_client.py
  python/packages/ai/teams/auth/user_token/sign_out_user.py
  python/packages/ai/teams/dialogs/__init__.py
  python/packages/ai/teams/dialogs/dialog.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/state_property_accessor.py
Due: pipelines/python.yml

Update repo link in samples
  js/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
Due: pipelines/javascript.yml

Update sample's repo link
  js/samples/04.ai-apps/a.teamsChefBot/package.json
Due: pipelines/javascript.yml

Move devOps sample to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/b.devOpsBot/.eslintignore
  js/samples/04.ai-apps/b.devOpsBot/.eslintrc
  js/samples/04.ai-apps/b.devOpsBot/.gitignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierrc
  js/samples/04.ai-apps/b.devOpsBot/.vscode/launch.json
  js/samples/04.ai-apps/b.devOpsBot/.vscode/tasks.json
  js/samples/04.ai-apps/b.devOpsBot/README.md
  js/samples/04.ai-apps/b.devOpsBot/appPackage/color.png
  js/samples/04.ai-apps/b.devOpsBot/appPackage/manifest.json
  js/samples/04.ai-apps/b.devOpsBot/appPackage/outline.png
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.staging
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.bicep
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai-apps/b.devOpsBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/sample.env
  js/samples/04.ai-apps/b.devOpsBot/src/index.ts
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/actions.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/config.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/skprompt.txt
  js/samples/04.ai-apps/b.devOpsBot/src/responses.ts
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.local.yml
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.yml
  js/samples/04.ai-apps/b.devOpsBot/tsconfig.json
  js/samples/04.ai-apps/b.devOpsBot/web.config
  js/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Due: pipelines/javascript.yml

Move CardGazer sample to ai-apps folder
  js/samples/04.ai-apps/c.vision.cardGazer/.eslintignore
  js/samples/04.ai-apps/c.vision.cardGazer/.eslintrc
  js/samples/04.ai-apps/c.vision.cardGazer/.gitignore
  js/samples/04.ai-apps/c.vision.cardGazer/.prettierignore
  js/samples/04.ai-apps/c.vision.cardGazer/.prettierrc
  js/samples/04.ai-apps/c.vision.cardGazer/.vscode/launch.json
  js/samples/04.ai-apps/c.vision.cardGazer/.vscode/tasks.json
  js/samples/04.ai-apps/c.vision.cardGazer/README.md
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/color.png
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/manifest.json
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/outline.png
  js/samples/04.ai-apps/c.vision.cardGazer/assets/card.png
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.staging
  js/samples/04.ai-apps/c.vision.cardGazer/infra/azure.bicep
  js/samples/04.ai-apps/c.vision.cardGazer/infra/azure.parameters.json
  js/samples/04.ai-apps/c.vision.cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/c.vision.cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai-apps/c.vision.cardGazer/package.json
  js/samples/04.ai-apps/c.vision.cardGazer/sample.env
  js/samples/04.ai-apps/c.vision.cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision.cardGazer/teamsapp.local.yml
  js/samples/04.ai-apps/c.vision.cardGazer/teamsapp.yml
  js/samples/04.ai-apps/c.vision.cardGazer/tsconfig.json
  js/samples/04.ai-apps/c.vision.cardGazer/web.config
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/env/.env.local.user
  js/samples/04.ai.f.vision.cardGazer/teamsapp.yml
Due: pipelines/javascript.yml

Move Mathbot sample to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintignore
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintrc
  js/samples/04.ai-apps/d.assistants-mathBot/.gitignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierrc
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/launch.json
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/tasks.json
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/color.png
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/manifest.json
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/outline.png
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.staging
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.yml
  js/samples/04.ai-apps/d.assistants-mathBot/tsconfig.json
  js/samples/04.ai-apps/d.assistants-mathBot/web.config
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
Due: pipelines/javascript.yml

Fix naming of cardGazer from vision.cardGazer to vision-cardGazer
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintignore
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintrc
  js/samples/04.ai-apps/c.vision-cardGazer/.gitignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierrc
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/launch.json
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/tasks.json
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/color.png
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/manifest.json
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/outline.png
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.parameters.json
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/sample.env
  js/samples/04.ai-apps/c.vision-cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.local.yml
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
  js/samples/04.ai-apps/c.vision-cardGazer/tsconfig.json
  js/samples/04.ai-apps/c.vision-cardGazer/web.config
Due: pipelines/javascript.yml

Move OrderBot to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintignore
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintrc
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierrc
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/launch.json
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/tasks.json
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/color.png
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/manifest.json
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/outline.png
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.staging
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderCard.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.json
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/index.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.yml
  js/samples/04.ai-apps/e.assistants-orderBot/tsconfig.json
  js/samples/04.ai-apps/e.assistants-orderBot/web.config
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/javascript.yml

Add prettier to dev dependencies
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
Due: pipelines/javascript.yml
