Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

remove regenerate keyword
  python/scripts/install.py
Due: pipelines/python.yml

add requires-python tag into dynamic array
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

remove name,desc,author
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix poetry.lock
  python/packages/ai/poetry.lock
Due: pipelines/python.yml

mandate poetry to be 1.8.5
  .github/workflows/python-build-test-lint.yml
Due: none

add back in previous name, desc, author
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

[JS] bump: Updating Feedback buttons to the sample (#2245)
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

fix lock file to match 1.8.5
  python/packages/ai/poetry.lock
Due: pipelines/python.yml

revert to previous pyproject.toml and install.py
  python/packages/ai/pyproject.toml
  python/scripts/install.py
Due: pipelines/python.yml

[PY] fix: streaming - citations & pyproject.toml updates (#2205)
  .github/workflows/python-build-test-lint.yml
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/streaming_entity.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/streaming/test_streaming_response.py
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/color.png
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/outline.png
Due: pipelines/python.yml

Publish 1.7.2
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] chore: release JS 1.7.2 (#2258)
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] fix: local debug environment variables location in teams chef bot sample (#2240)
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

don't use formatting for simple string values
  python/packages/ai/teams/utils/to_string.py
Due: pipelines/python.yml

fixed test cases
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

openai config
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

Update autogen package
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
Due: pipelines/python.yml

update models
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

Update test_get_used_citations.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml

Update get_used_citations.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
Due: pipelines/python.yml

add and test messages invoke module
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/messages/__init__.py
  python/packages/ai/teams/messages/messages.py
  python/packages/ai/tests/test_messages.py
Due: pipelines/python.yml

fix messages handler and tests
  python/packages/ai/teams/messages/messages.py
  python/packages/ai/tests/test_messages.py
Due: pipelines/python.yml

Update messages.py
  python/packages/ai/teams/messages/messages.py
Due: pipelines/python.yml

feature
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageFetchTaskHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

added support for tools with streaming
  getting-started/CONCEPTS/STREAMING.md
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

linting
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

Update getting-started/CONCEPTS/STREAMING.md
  getting-started/CONCEPTS/STREAMING.md
Due: none

[PY] feat: tools & streaming (#2279)
  getting-started/CONCEPTS/STREAMING.md
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/streaming/test_streaming_response.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

[PY] fix: Update autogen package (#2269)
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
Due: pipelines/python.yml

Fixed a race condition causing the typing activity to stay stuck on
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

revert back tiktoken & python versions
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

updated poetry lock file
  python/packages/ai/poetry.lock
Due: pipelines/python.yml

fixed white spaces
  python/packages/ai/teams/utils/to_string.py
Due: pipelines/python.yml

Update python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

fix loop logic
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
Due: pipelines/python.yml

add feedback type to streaming
  python/packages/ai/teams/streaming/streaming_channel_data.py
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

[JS] fix: Fixed stuck typing indicator issue (#2286)
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
