Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Add tests for snippet and formatCitationsResponse
  js/packages/teams-ai/src/Utilities.spec.ts
Due: pipelines/javascript.yml

Cleanup feedbackLoop handler in sample 4 h
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

fix bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

Fix up SayCommand tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

Update example image
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
Due: pipelines/javascript.yml

update samples to use aoai & fix assistant planner bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/appsettings.Development.json
  dotnet/samples/06.assistants.a.mathBot/appsettings.json
  dotnet/samples/06.assistants.a.mathBot/env/.env.dev.user
  dotnet/samples/06.assistants.a.mathBot/infra/azure.bicep
  dotnet/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  dotnet/samples/06.assistants.b.orderBot/Config.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/appsettings.Development.json
  dotnet/samples/06.assistants.b.orderBot/appsettings.json
  dotnet/samples/06.assistants.b.orderBot/env/.env.dev.user
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
  dotnet/samples/06.assistants.b.orderBot/infra/azure.parameters.json
Due: pipelines/dotnet.yml

Add TurnStateProperty tests
  js/packages/teams-ai/src/TeamsAttachmentDownloader.spec.ts
  js/packages/teams-ai/src/TurnStateProperty.spec.ts
Due: pipelines/javascript.yml

Minor fix to powered by ai docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Update feedback loop docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Update image in Feedback loop section of docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Minor edit
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Minor docs edits
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

More minor edits
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

minor fixes
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/samples/06.auth.oauth.bot/.gitignore
  python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/assets/screenshot_0.png
  python/samples/06.auth.oauth.bot/assets/screenshot_1.png
  python/samples/06.auth.oauth.bot/assets/screenshot_2.png
  python/samples/06.auth.oauth.bot/assets/screenshot_3.png
  python/samples/06.auth.oauth.messageExtensions/.gitignore
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_0.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_1.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_2.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_3.png
Due: pipelines/python.yml

Update bot.py
  python/samples/06.auth.oauth.bot/src/bot.py
Due: pipelines/python.yml

Update auth_manager.py
  python/packages/ai/teams/auth/auth_manager.py
Due: pipelines/python.yml

use older version of msgraph
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
Due: pipelines/python.yml

minor fixes
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

bulk address feedback and screenshare
  .vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/settings.json
  python/samples/04.ai.a.twentyQuestions/.vscode/tasks.json
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

Removing Azure AI Search details
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
Due: pipelines/javascript.yml

Update README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Update js/packages/teams-ai/README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

revised setup files, bug fixes in main logic, reformatting
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/env/.env.dev
  python/samples/04.ai.a.twentyQuestions/env/.env.dev.user
  python/samples/04.ai.a.twentyQuestions/env/.env.local
  python/samples/04.ai.a.twentyQuestions/env/.env.local.user
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

[PY] chore: Update README.md with python details (#1588)
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Cleanup SayCommand content and add typings for Enities array object.
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

As a stopgap, for Azure On Your Data do not automatically send url included with citation. Developers can add url manually if they wish.
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

Fix formatCitationResponse to handle citations of length longer than 1 digit
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

Add new utility, getUsedCitations, which will filter out citations not referenced in provided text
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
Due: pipelines/javascript.yml

Update SayCommand to filter out non-referenced citations
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

Clean up imports
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

testing remove launch.json
  .vscode/launch.json
Due: none

core implementation + unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/AzureSdkAssistantsExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
Due: pipelines/dotnet.yml

update samples
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

set either openai or azure openai credentials
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

[PY] feat: Twenty Questions (#1577)
  python/samples/04.ai.a.twentyQuestions/.gitignore
  python/samples/04.ai.a.twentyQuestions/.pylintrc
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/settings.json
  python/samples/04.ai.a.twentyQuestions/.vscode/tasks.json
  python/samples/04.ai.a.twentyQuestions/.webappignore
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/appPackage/color.png
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/appPackage/outline.png
  python/samples/04.ai.a.twentyQuestions/env/.env.dev
  python/samples/04.ai.a.twentyQuestions/env/.env.dev.user
  python/samples/04.ai.a.twentyQuestions/env/.env.local
  python/samples/04.ai.a.twentyQuestions/env/.env.local.user
  python/samples/04.ai.a.twentyQuestions/infra/azure.bicep
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/poetry.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/sample.env
  python/samples/04.ai.a.twentyQuestions/scripts/__init__.py
  python/samples/04.ai.a.twentyQuestions/scripts/ci.py
  python/samples/04.ai.a.twentyQuestions/scripts/clean.py
  python/samples/04.ai.a.twentyQuestions/scripts/fmt.py
  python/samples/04.ai.a.twentyQuestions/scripts/lint.py
  python/samples/04.ai.a.twentyQuestions/scripts/start.py
  python/samples/04.ai.a.twentyQuestions/scripts/test.py
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/app.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/config.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/config.json
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

verbose breakout
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

lint, fmt
  python/packages/ai/teams/app.py
Due: pipelines/python.yml
