Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Update python.yml for Azure Pipelines
  pipelines/python.yml
Due: pipelines/python.yml

Update python.yml
  pipelines/python.yml
Due: pipelines/python.yml

run `fmt`
  python/packages/ai/teams/app.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Due: pipelines/python.yml

update from main
  python/packages/ai/poetry.lock
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

Update assistants_planner.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
Due: pipelines/python.yml

Pair programming with @aacebo: Modify Planner response to be Message instead of string
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/internals/testing/TestPlanner.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/Planner.ts
Due: pipelines/javascript.yml

Update tests
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Due: pipelines/javascript.yml

Add Powered by AI citations to PredictedSayCommand
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/prompts/Message.ts
Due: pipelines/javascript.yml

Linting fixes
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Due: pipelines/javascript.yml

Update sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Due: pipelines/javascript.yml

Update citations app - no longer uses Adaptive Cards
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
Due: pipelines/javascript.yml

using aoai library
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
Due: pipelines/dotnet.yml

Fix responseFormatter
  js/samples/04.ai-apps/a.teamsChefBot/src/responseFormatter.ts
Due: pipelines/javascript.yml

Update teamsapp.local.yml
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Update README.md
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
Due: pipelines/javascript.yml

reinstate openai
  js/package.json
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

Update README.md
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
Due: pipelines/javascript.yml

Update .env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

fixes
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
Due: pipelines/javascript.yml

bulk port and rename
  python/samples/04.ai.a.twentyQuestions/.gitignore
  python/samples/04.ai.a.twentyQuestions/.pylintrc
  python/samples/04.ai.a.twentyQuestions/.webappignore
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/appPackage/color.png
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/appPackage/outline.png
  python/samples/04.ai.a.twentyQuestions/infra/azure.bicep
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.a.twentyQuestions/poetry.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/sample.env
  python/samples/04.ai.a.twentyQuestions/scripts/__init__.py
  python/samples/04.ai.a.twentyQuestions/scripts/ci.py
  python/samples/04.ai.a.twentyQuestions/scripts/clean.py
  python/samples/04.ai.a.twentyQuestions/scripts/fmt.py
  python/samples/04.ai.a.twentyQuestions/scripts/lint.py
  python/samples/04.ai.a.twentyQuestions/scripts/start.py
  python/samples/04.ai.a.twentyQuestions/scripts/test.py
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/app.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/config.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/config.json
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

Fix enable_feedback_loop to snake case
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

[PY] feat: DevOps Sample (#1563)
  python/samples/04.ai.e.chainedActions.devOpsBot/.gitignore
  python/samples/04.ai.e.chainedActions.devOpsBot/.pylintrc
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/launch.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/settings.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/tasks.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.webappignore
  python/samples/04.ai.e.chainedActions.devOpsBot/README.md
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/color.png
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/manifest.json
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/outline.png
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev.user
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local.user
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/__init__.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/ci.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/clean.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/fmt.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/lint.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/start.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/test.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/api.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/app.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/config.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/skprompt.txt
  python/samples/04.ai.e.chainedActions.devOpsBot/src/state.py
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Due: pipelines/python.yml

run `lint`
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Update responseFormatter.ts
  js/samples/04.ai-apps/g.datasource-azureAISearch/src/responseFormatter.ts
Due: pipelines/javascript.yml

fix build issues
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/appsettings.Development.json
  dotnet/samples/08.datasource.azureopenai/appsettings.json
Due: pipelines/dotnet.yml

move default actions to different files
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
Due: pipelines/javascript.yml

Update AI.ts
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

add copyright comments
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/javascript.yml

cleanup small file
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
Due: pipelines/javascript.yml

add some tests for default actions
  js/packages/teams-ai/src/actions/DoCommand.spec.ts
  js/packages/teams-ai/src/actions/FlaggedInput.spec.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.spec.ts
  js/packages/teams-ai/src/actions/HttpError.spec.ts
  js/packages/teams-ai/src/actions/PlanReady.spec.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/TooManySteps.spec.ts
  js/packages/teams-ai/src/actions/Unknown.spec.ts
Due: pipelines/javascript.yml

add tests for do/say actions
  js/packages/teams-ai/src/actions/DoCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

Make fix to twenty questions sample azure deployment
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
Due: pipelines/javascript.yml

Add to getting started docs: Powered by AI
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/assets/ai-generated.png
  getting-started/assets/citations-example.png
  getting-started/assets/feedback-loop-buttons.png
Due: none

Add feedback loop route handler and update sample
  js/packages/teams-ai/src/Application.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

Lint
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/Action.ts
Due: pipelines/javascript.yml

[C#] fix: Failing sample builds (#1579)
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/appsettings.Development.json
  dotnet/samples/08.datasource.azureopenai/appsettings.json
Due: pipelines/dotnet.yml

Add FeedbackLoopData test
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml
