Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

working
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/AugmentationType.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/ToolsAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionAction.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionsFunctionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedDoCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionOutputMessageSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ConversationHistorySection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/LayoutSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/UserInputMessageSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageContentJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
Due: pipelines/dotnet.yml

[PY] docs: Update README.md (#2057)
  python/samples/04.ai.f.dataSource.azureOpenAI/README.md
Due: pipelines/python.yml

Update python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/README.md
Due: pipelines/python.yml

Update python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/README.md
Due: pipelines/python.yml

[PY] docs: Update README.md #other-ways-to-run-the-sample (#2055)
  python/samples/06.auth.oauth.bot/README.md
Due: pipelines/python.yml

[PY] docs: Update README.md #other-ways-to-run-the-sample (#2056)
  python/samples/06.auth.oauth.messageExtensions/README.md
Due: pipelines/python.yml

#2039 Fix CardGazer bug
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
  js/samples/05.authentication/b.oauth-bot/README.md
  js/samples/05.authentication/b.oauth-bot/teamsapp.yml
Due: pipelines/javascript.yml

Update README for CardGazer
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
Due: pipelines/javascript.yml

[JS] fix: CardGazer sample (#2059)
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
  js/samples/05.authentication/b.oauth-bot/README.md
  js/samples/05.authentication/b.oauth-bot/teamsapp.yml
Due: pipelines/javascript.yml

[repo] docs: Update POWERED-BY-AI.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Update citations abstract length to be max 480 chars
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/src/actions/SayCommand.ts
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/ToolsAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ChatMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatCompletionToolCallTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PlanTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PromptsTests/SectionsTests/ConversationHistorySectionTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
Due: pipelines/dotnet.yml

[repo] fix: JS, PY, C# - Update citations abstract length to be max 480 chars (#2067)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/src/actions/SayCommand.ts
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Refactor AiEntity, ClientCitation, SensitivityUsageInfo, TooManyStepsParameters
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/index.ts
  js/packages/teams-ai/src/types/AIEntity.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
  js/packages/teams-ai/src/types/SensitivityUsageInfo.ts
  js/packages/teams-ai/src/types/TooManyStepsParameters.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

light bot
  dotnet/packages/Microsoft.TeamsAI/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.Teams.AI.sln
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageContentJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBotActions.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Prompts/tools/actions.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Prompts/tools/config.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Prompts/tools/skprompt.txt
  dotnet/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Due: pipelines/dotnet.yml

Refactor InnerMonologue, InnerMonologueSchema, PlanSchema
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/augmentations/ActionAugmentationSection.ts
  js/packages/teams-ai/src/augmentations/Augmentation.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/types/InnerMonologue.ts
  js/packages/teams-ai/src/types/InnerMonologueSchema.ts
  js/packages/teams-ai/src/types/PlanSchema.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

list bot
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/Prompts/Tools/actions.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Prompts/Tools/config.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Prompts/Tools/skprompt.txt
  dotnet/samples/04.ai.d.chainedActions.listBot/teamsapp.yml
Due: pipelines/dotnet.yml

devops sample
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Prompts/Tools/actions.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Prompts/Tools/config.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Prompts/Tools/skprompt.txt
Due: pipelines/dotnet.yml

docs
  getting-started/CONCEPTS/FUNCTION-CALLS.md
Due: none

remove dabble
  dotnet/packages/Microsoft.TeamsAI/Microsoft.Teams.AI.sln
Due: pipelines/dotnet.yml

clean up
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/ToolsAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionOutputMessageSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/UserInputMessageSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
Due: pipelines/dotnet.yml

Correction for Broken links across the repository
  dotnet/packages/Microsoft.TeamsAI/README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
  dotnet/samples/04.ai.b.messageExtensions.gptME/README.md
  dotnet/samples/04.ai.c.actionMapping.lightBot/README.md
  dotnet/samples/04.ai.d.chainedActions.listBot/README.md
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/README.md
  dotnet/samples/04.ai.f.vision.cardMaster/README.md
  dotnet/samples/04.e.twentyQuestions/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
  js/packages/teams-ai/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/05.authentication/a.oauth-adaptiveCard/README.md
  js/samples/05.authentication/b.oauth-bot/README.md
  js/samples/05.authentication/c.oauth-messageExtension/README.md
  js/samples/05.authentication/d.teamsSSO-bot/README.md
  js/samples/05.authentication/e.teamsSSO-messageExtension/README.md
  js/samples/README.md
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/06.auth.oauth.messageExtensions/README.md
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

action output message section tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PromptsTests/SectionsTests/ActionOutputMessageSectionTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionOutputMessageSection.cs
Due: pipelines/dotnet.yml

Correction for Broken links across the repository
  getting-started/QUICKSTART.md
  python/samples/02.messageExtensions.a.searchCommand/README.md
Due: pipelines/python.yml

Overidden change bringing back
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
Due: pipelines/javascript.yml

fix failing test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PromptsTests/SectionsTests/ActionOutputMessageSectionTests.cs
Due: pipelines/dotnet.yml

remove dabble dir
  .gitignore
Due: none

[repo] docs: Correction for Broken links across the repository (#2073)
  dotnet/packages/Microsoft.TeamsAI/README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
  dotnet/samples/04.ai.b.messageExtensions.gptME/README.md
  dotnet/samples/04.ai.c.actionMapping.lightBot/README.md
  dotnet/samples/04.ai.d.chainedActions.listBot/README.md
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/README.md
  dotnet/samples/04.ai.f.vision.cardMaster/README.md
  dotnet/samples/04.e.twentyQuestions/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
  getting-started/QUICKSTART.md
  js/packages/teams-ai/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/05.authentication/a.oauth-adaptiveCard/README.md
  js/samples/05.authentication/b.oauth-bot/README.md
  js/samples/05.authentication/c.oauth-messageExtension/README.md
  js/samples/05.authentication/d.teamsSSO-bot/README.md
  js/samples/05.authentication/e.teamsSSO-messageExtension/README.md
  js/samples/README.md
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/02.messageExtensions.a.searchCommand/README.md
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/06.auth.oauth.messageExtensions/README.md
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Package bump for 1.5.1
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Update dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
Due: pipelines/dotnet.yml

[repo] docs: Update POWERED-BY-AI.md syntax correction (#2066)
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

[JS] chore: Package bump for 1.5.1 (#2074)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

chef bot fix
  dotnet/samples/04.ai.a.teamsChefBot/KernelMemoryDataSource.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/teamsapp.yml
Due: pipelines/dotnet.yml

add editor config
  dotnet/samples/04.ai.a.teamsChefBot/.editorconfig
Due: pipelines/dotnet.yml

[C#] fix: Chef bot sample not working (#2076)
  dotnet/samples/04.ai.a.teamsChefBot/.editorconfig
  dotnet/samples/04.ai.a.teamsChefBot/KernelMemoryDataSource.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/teamsapp.yml
Due: pipelines/dotnet.yml

implementation for C# streaming
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ChatMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/BaseOpenAIModelOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/IPromptCompletionModelEvents.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/IPromptCompletionStreamingModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/PromptChunk.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/PromptCompletionModelEmitter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamType.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
