Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

fix comma in azure.bicep
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
Due: pipelines/dotnet.yml

fix azureOpenAIApiEndpoint var name
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
Due: pipelines/dotnet.yml

[PY] fix: StreamingResponse attributes shared between different StreamingResponse instances (#2321)
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

updated poetry lock files
  python/packages/ai/poetry.lock
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/05.chatModeration/poetry.lock
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/07.planners.a.langchain/poetry.lock
Due: pipelines/python.yml

remove pin
  .github/workflows/python-build-test-lint.yml
Due: none

remove poetry-core pin in pyproject samples
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[repo] fix: issues in sample (#2333)
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
Due: pipelines/dotnet.yml

minor bump to 1.7.0
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

bump samples
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

poetry lock updates
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/05.chatModeration/poetry.lock
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/07.planners.a.langchain/poetry.lock
Due: pipelines/python.yml

[PY] bump: minor bump to 1.7.0 (#2340)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

dotnet sample - converted to github app w/ semantic kernel as orchestrator
  dotnet/samples/04.ai.h.ossDevOpsAgent/.gitignore
  dotnet/samples/04.ai.h.ossDevOpsAgent/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Config.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AppState.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/OSSDevOpsAgent.csproj
  dotnet/samples/04.ai.h.ossDevOpsAgent/OSSDevOpsAgent.sln
  dotnet/samples/04.ai.h.ossDevOpsAgent/OSSDevOpsAgentPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Properties/launchSettings.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/README.md
  dotnet/samples/04.ai.h.ossDevOpsAgent/aad.manifest.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/color.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/manifest.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/outline.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.Development.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/get-pull-request.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/list-pull-requests.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/new-assignee.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/oauth-app-settings.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/oauth-webhook-events.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/webhook-settings.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/env/.env.dev
  dotnet/samples/04.ai.h.ossDevOpsAgent/env/.env.local
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/azure.bicep
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/azure.local.bicep
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/azure.parameters.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/azure.parameters.local.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/botRegistration/azurebot.bicep
  dotnet/samples/04.ai.h.ossDevOpsAgent/infra/botRegistration/readme.md
  dotnet/samples/04.ai.h.ossDevOpsAgent/teamsapp.local.yml
  dotnet/samples/04.ai.h.ossDevOpsAgent/teamsapp.yml
Due: pipelines/dotnet.yml

updated semantic kernel implementation
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
Due: pipelines/dotnet.yml

update casing and getter/setter for kernelHistory
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AppState.cs
Due: pipelines/dotnet.yml

Fixed prefix check for `o1` models to remove `-`. Also added support for `o3` based thinking models.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

o1fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

added proactive webhook notifs w/ notion of maintaining chat history
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
Due: pipelines/dotnet.yml

[C#] fix: Fixed prefix check for o1 models and added o3 support (#2346)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

[JS] Bug: Fixed prefix check for `o1` models and added `o3` support (#2345)
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

[repo] docs: Update POWERED-BY-AI.md (Typo "Azure Open AI"→"Azure OpenAI") (#2319)
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Reraise
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Enhance KeyError handling in `__getattr__`
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Fix lint
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

[PY] fix: Reraise `AttributeError` from `__getattr__` if attribute is not found (#2348)
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Only run coverage for files that need it
  .github/workflows/coverage.yml
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Check out code
  .github/workflows/coverage.yml
Due: none

Fictional change
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Revert
  js/samples/04.ai-apps/a.teamsChefBot/assets/TeamsChef003.png
Due: pipelines/javascript.yml

[repo] chore: Only run coverage for files that need it (#2351)
  .github/workflows/coverage.yml
Due: none

added chat history, refactored
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AppState.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/PullRequestsPlugin.cs
Due: pipelines/dotnet.yml

updated to support o3
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

fix lint
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

[PY] fix: updated prefix for o1 and added support for o3 (#2354)
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

updated to support posting a new thread in channel + cleanup
  dotnet/samples/04.ai.h.ossDevOpsAgent/Config.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.Development.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.json
Due: pipelines/dotnet.yml

added base template of filtering PRs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PRLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequest.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequestFilters.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/User.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/PullRequestsPlugin.cs
Due: pipelines/dotnet.yml

fixing chat history
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/PullRequestsPlugin.cs
Due: pipelines/dotnet.yml

implemented filtering PRs logic, adaptive cards, and saving to history for direct invokes
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PRUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequest.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/PullRequestsPlugin.cs
Due: pipelines/dotnet.yml

added streaming to completion call
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
Due: pipelines/dotnet.yml
