Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Update ASSISTANTS-PLANNER.md
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
Due: none

[PY] fix: Chat Completion - Tools Fixes (#1942)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/action_output_message.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/prompts/test_action_output_message.py
  python/packages/ai/tests/ai/prompts/test_assets/tools/actions.json
  python/packages/ai/tests/ai/prompts/test_assets/tools/config.json
  python/packages/ai/tests/ai/prompts/test_assets/tools/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: pipelines/python.yml

Fix feedback loop
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

Fix up
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

C# fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoPrompt.cs
Due: pipelines/dotnet.yml

Fix
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
Due: pipelines/python.yml

[repo] fix: TeamsSsoPrompt never completes due to timeout (#1958)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoPrompt.cs
Due: pipelines/dotnet.yml

[PY] fix: feedback loop contract (#1957)
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

test: add unit test for actionExecuteResponseType
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Due: pipelines/javascript.yml

updated with code snippets
  getting-started/CONCEPTS/FUNCTION-CALLS.md
Due: none

enable streaming for chefbot
  js/samples/04.ai-apps/a.teamsChefBot/sample.env
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/src/prompts/default/config.json
  js/samples/04.ai-apps/a.teamsChefBot/src/prompts/default/skprompt.txt
Due: pipelines/javascript.yml

Fixed issue with stream ID not being sent
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

[JS] fix: Streaming Fix (#1940)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

Update twenty questions sample
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
Due: pipelines/javascript.yml

Update ListBot to use tools augmentation
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/actions.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/skprompt.txt
Due: pipelines/javascript.yml

#1522 Update LlamaModel sample to be twenty questions bot
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/index.ts
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/actions.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/hint/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/responses.ts
Due: pipelines/javascript.yml

fix failing tests
  js/packages/teams-ai/src/StreamingResponse.spec.ts
Due: pipelines/javascript.yml

Update DevOps bot to tools augmentation
  js/samples/04.ai-apps/b.devOpsBot/src/index.ts
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/actions.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/config.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/skprompt.txt
Due: pipelines/javascript.yml

updated README with general instructions
  js/samples/04.ai-apps/a.teamsChefBot/README.md
Due: pipelines/javascript.yml

Update CardGazer and WhoBot to tools augmentation
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/f.whoBot/src/prompts/chat/config.json
Due: pipelines/javascript.yml

[JS] feat: Streaming - ChefBot Sample (#1965)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/sample.env
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/src/prompts/default/config.json
  js/samples/04.ai-apps/a.teamsChefBot/src/prompts/default/skprompt.txt
Due: pipelines/javascript.yml

updated to tools for lightbot
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/actions.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/config.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/skprompt.txt
Due: pipelines/python.yml

updated listbot
  python/samples/04.ai.d.chainedActions.listBot/src/bot.py
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/actions.json
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/config.json
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/skprompt.txt
Due: pipelines/python.yml

updated devops
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/skprompt.txt
Due: pipelines/python.yml

updated langchain
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/planner.py
  python/samples/07.planners.a.langchain/src/prompts/tools/actions.json
  python/samples/07.planners.a.langchain/src/prompts/tools/config.json
  python/samples/07.planners.a.langchain/src/prompts/tools/skprompt.txt
Due: pipelines/python.yml

initial get_token_or_sign_in_user
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[PY] chore: update samples to use tools (#1971)
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/actions.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/config.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/tools/skprompt.txt
  python/samples/04.ai.d.chainedActions.listBot/src/bot.py
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/actions.json
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/config.json
  python/samples/04.ai.d.chainedActions.listBot/src/prompts/tools/skprompt.txt
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/tools/skprompt.txt
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/planner.py
  python/samples/07.planners.a.langchain/src/prompts/tools/actions.json
  python/samples/07.planners.a.langchain/src/prompts/tools/config.json
  python/samples/07.planners.a.langchain/src/prompts/tools/skprompt.txt
Due: pipelines/python.yml

[repo] docs: chat completions - tools (#1962)
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/FUNCTION-CALLS.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

[JS] chore: Update samples with actions to tools augmentation (#1966)
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/actions.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/default/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/index.ts
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/actions.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/hint/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/responses.ts
  js/samples/04.ai-apps/b.devOpsBot/src/index.ts
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/actions.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/config.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/default/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/f.whoBot/src/prompts/chat/config.json
Due: pipelines/javascript.yml

Update readme for autogen and twenty questions
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.g.autogen.product-spec-critique/README.md
Due: pipelines/python.yml

formatting
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

add empty payload
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

fix lint
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
Due: pipelines/python.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/FilteredTeamsSSOTokenExchangeMiddleware.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
Due: pipelines/dotnet.yml

[PY] fix: empty payload expected by SMBA for feedback loop activity (#1980)
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
Due: pipelines/python.yml

bump to 1.4.0
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

add tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationBuilderTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
Due: pipelines/dotnet.yml

[PY] chore: minor bump to 1.4.0 (#1982)
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
