Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Update dataclasses for Model serialization
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

[PY] feat: Powered by AI citations, feedback loop, and generated by AI (#1652)
  js/packages/teams-ai/src/Utilities.spec.ts
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/function_response_message.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/utils/__init__.py
  python/packages/ai/teams/utils/citations/__init__.py
  python/packages/ai/teams/utils/citations/format_citations_response.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/teams/utils/snippet.py
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/utils/__init__.py
  python/packages/ai/tests/utils/citations/__init__.py
  python/packages/ai/tests/utils/citations/test_format_citations_response.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
  python/packages/ai/tests/utils/test_snippet.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/javascript.yml, pipelines/python.yml

[repo] chore: Update CODEOWNERS (#1667)
  .github/CODEOWNERS
Due: none

update version and minor citation fix
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

[PY] feat: Azure OpenAI On Your Data - Azure AI Search support
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/packages/ai/teams/ai/prompts/message.py
Due: pipelines/python.yml

Update README.md
  README.md
Due: none

Updated EmbeddingsResponse class output property to Optional[Union[List[List[float]], str]]
  python/packages/ai/teams/ai/embeddings/embeddings_response.py
Due: pipelines/python.yml

[repo] chore: Update README.md (#1674)
  README.md
Due: none

Added StreamingResponse class
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/javascript.yml

updating AI sample paths for prompts to dirname abs path
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.d.chainedActions.listBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/05.chatModeration/src/bot.py
Due: pipelines/python.yml

[PY] fix: update prompts folder path for AI samples to absolute (#1689)
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.d.chainedActions.listBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/05.chatModeration/src/bot.py
Due: pipelines/python.yml

[PY] fix: Updated EmbeddingsResponse class output property to Optional[Union[Li… (#1677)
  python/packages/ai/teams/ai/embeddings/embeddings_response.py
Due: pipelines/python.yml

testing auth
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[PY] doc: add data source Azure OpenAI example
  python/samples/04.ai.f.dataSource.azureOpenAI/.gitignore
  python/samples/04.ai.f.dataSource.azureOpenAI/.pylintrc
  python/samples/04.ai.f.dataSource.azureOpenAI/.vscode/launch.json
  python/samples/04.ai.f.dataSource.azureOpenAI/.vscode/settings.json
  python/samples/04.ai.f.dataSource.azureOpenAI/.vscode/tasks.json
  python/samples/04.ai.f.dataSource.azureOpenAI/.webappignore
  python/samples/04.ai.f.dataSource.azureOpenAI/README.md
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/color.png
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/manifest.json
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/outline.png
  python/samples/04.ai.f.dataSource.azureOpenAI/assets/example.png
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/azure.bicep
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/azure.parameters.json
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/sample.env
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/__init__.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/ci.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/clean.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/fmt.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/lint.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/start.py
  python/samples/04.ai.f.dataSource.azureOpenAI/scripts/test.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/api.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/app.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/bot.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/config.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/data/nba.pdf
  python/samples/04.ai.f.dataSource.azureOpenAI/src/prompts/chat/config.json
  python/samples/04.ai.f.dataSource.azureOpenAI/src/prompts/chat/skprompt.txt
  python/samples/04.ai.f.dataSource.azureOpenAI/src/state.py
  python/samples/04.ai.f.dataSource.azureOpenAI/teamsapp.local.yml
  python/samples/04.ai.f.dataSource.azureOpenAI/teamsapp.yml
Due: pipelines/python.yml

debug, stepwise, breakdown
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

first pass format
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

trim commented stuff
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Updated OpenAIModel to support streaming
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/OpenAIStream.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/yarn.lock
Due: pipelines/javascript.yml

removed https check on AOAI embeddings url
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
Due: pipelines/javascript.yml, pipelines/python.yml

updated dotnet's https check
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
Due: pipelines/dotnet.yml

removed unusued import
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
Due: pipelines/python.yml

diagnostic prints removed
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

fix: add missing symbol for dataclass_json
  python/packages/ai/teams/ai/prompts/message.py
Due: pipelines/python.yml

fix: force add env for example 04.ai.f
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.dev
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.dev.user
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local.user
Due: pipelines/python.yml

fix: update example 4.ai.f manifest
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/manifest.json
Due: pipelines/python.yml

fix: remove extra vars
  python/samples/04.ai.f.dataSource.azureOpenAI/src/state.py
Due: pipelines/python.yml

fix: update path to prompt folder
  python/samples/04.ai.f.dataSource.azureOpenAI/src/bot.py
Due: pipelines/python.yml

fix: remove reference to OpenAI model and keep AzureOpenAI only
  python/samples/04.ai.f.dataSource.azureOpenAI/src/bot.py
Due: pipelines/python.yml

adjustments to _authenticate_user method.
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Added StreamingLLMClient class which manages streaming responses back to the client.
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/StreamingLLMClient.ts
  js/packages/teams-ai/src/planners/index.ts
Due: pipelines/javascript.yml

[repo] fix: removed HTTPS requirement for AOAI Embeddings (#1694)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

fix: remove unused OpenAI key
  python/samples/04.ai.f.dataSource.azureOpenAI/sample.env
Due: pipelines/python.yml

lint, fmt
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

fixing check annotations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/SequentialDelayStrategyTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AppConfig.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/TeamsSsoAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
Due: pipelines/dotnet.yml

additional sealed classes
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoPromptTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/TestAuthenticationManager.cs
Due: pipelines/dotnet.yml

[C#] chore: fixing check annotations (#1701)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/SequentialDelayStrategyTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AppConfig.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoPromptTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/TeamsSsoAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/TestAuthenticationManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
Due: pipelines/dotnet.yml

Update teamsapp.local.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

update http error handler and add ad support for azure openai
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/yarn.lock
Due: pipelines/javascript.yml

fix
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
