Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js
    - pipelines/javascript.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test:nyc:report'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: |
      js/packages/teams-ai/*
      js/packages/teams-ai/src/*
      js/packages/teams-ai/lib/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
    ArtifactName: Packages

# - task: Npm@1
#   displayName: 'Publish'
#   continueOnError: true
#   inputs:
#     command: publish
#     workingDir: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
#     publishRegistry: useFeed
#     publishFeed: 'Github_Pipelines/Teams'

Refactor createTestTurnContextAndState
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/internals/testing/TestUtilities.ts
Due: pipelines/javascript.yml

Update docs strings for TeamsBotSsoPrompt spec
  js/packages/teams-ai/src/authentication/TeamsBotSsoPrompt.spec.ts
Due: pipelines/javascript.yml

Refactor TeamsAttachmentDownloader to only get access token if authentication is enabled and allow localhost attachments
  js/.eslintrc
  js/packages/teams-ai/src/TeamsAdapter.ts
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Due: pipelines/javascript.yml

Refactor TeamsAttachmentDownloader to allow different credential types
  js/packages/teams-ai/src/TeamsAdapter.ts
  js/packages/teams-ai/src/TeamsAttachmentDownloader.spec.ts
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Due: pipelines/javascript.yml

Rename Card Gazer sample (04.ai.f)
  getting-started/SAMPLES.md
  js/samples/04.ai.f.vision.cardGazer/.eslintignore
  js/samples/04.ai.f.vision.cardGazer/.eslintrc
  js/samples/04.ai.f.vision.cardGazer/.gitignore
  js/samples/04.ai.f.vision.cardGazer/.prettierignore
  js/samples/04.ai.f.vision.cardGazer/.prettierrc
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/appPackage/color.png
  js/samples/04.ai.f.vision.cardGazer/appPackage/manifest.json
  js/samples/04.ai.f.vision.cardGazer/appPackage/outline.png
  js/samples/04.ai.f.vision.cardGazer/build/appPackage/manifest.local.json
  js/samples/04.ai.f.vision.cardGazer/infra/azure.bicep
  js/samples/04.ai.f.vision.cardGazer/infra/azure.parameters.json
  js/samples/04.ai.f.vision.cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai.f.vision.cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.f.vision.cardGazer/sample.env
  js/samples/04.ai.f.vision.cardGazer/src/index.ts
  js/samples/04.ai.f.vision.cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai.f.vision.cardGazer/src/prompts/chat/config.json
  js/samples/04.ai.f.vision.cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai.f.vision.cardGazer/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardGazer/teamsapp.yml
  js/samples/04.ai.f.vision.cardGazer/tsconfig.json
  js/samples/04.ai.f.vision.cardGazer/web.config
  js/samples/04.ai.f.vision.cardMaster/.vscode/launch.json
  js/samples/04.ai.f.vision.cardMaster/.vscode/tasks.json
  js/samples/04.ai.f.vision.cardMaster/env/.env.local
  js/samples/04.ai.f.vision.cardMaster/env/.env.local.user
  js/samples/04.ai.f.vision.cardMaster/env/.env.staging
  js/samples/04.ai.f.vision.cardMaster/infra/azure.parameters.json
  js/samples/04.ai.f.vision.cardMaster/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.yml
Due: pipelines/javascript.yml

Add back .vscode folder in cardGazer sample
  js/samples/04.ai.f.vision.cardGazer/.vscode/launch.json
  js/samples/04.ai.f.vision.cardGazer/.vscode/tasks.json
Due: pipelines/javascript.yml

Update .gitignore
  js/.gitignore
  js/samples/04.ai.f.vision.cardGazer/.gitignore
Due: pipelines/javascript.yml

Add test for AppCredentials
  js/packages/teams-ai/src/TeamsAttachmentDownloader.spec.ts
Due: pipelines/javascript.yml

Update env files in Card Gazer sample
  js/.gitignore
  js/samples/04.ai.f.vision.cardGazer/env/.env.local
  js/samples/04.ai.f.vision.cardGazer/env/.env.local.user
  js/samples/04.ai.f.vision.cardGazer/env/.env.staging
Due: pipelines/javascript.yml

[C#] refactor: refactor embeddings to sync with JS sdk (#1227)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/AzureOpenAIConfiguration.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIConfiguration.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/BaseOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/IEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddingsOptions.cs
Due: pipelines/dotnet.yml

[C#] feat: Add Kernel Memory Data source to Teams Chef Bot (#1222)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/samples/04.ai.a.teamsChefBot/KernelMemoryDataSource.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/Prompts/Chat/config.json
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/files/README.md
  dotnet/samples/04.ai.a.teamsChefBot/files/action-planner.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/actions.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/ai-system.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/application.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/augmentations.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/c#-migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/concepts.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/data-sources.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/getting started.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/github.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/js-migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/moderator.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/planner.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/prompts.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/quickstart.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/samples.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/turns.txt
Due: pipelines/dotnet.yml

[PY] feat: add remaining sections and messages (#1224)
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/assistant_message.py
  python/packages/ai/teams/ai/promptsv2/conversation_history.py
  python/packages/ai/teams/ai/promptsv2/data_source_section.py
  python/packages/ai/teams/ai/promptsv2/function_call_message.py
  python/packages/ai/teams/ai/promptsv2/function_response_message.py
  python/packages/ai/teams/ai/promptsv2/group_section.py
  python/packages/ai/teams/ai/promptsv2/system_message.py
  python/packages/ai/teams/ai/promptsv2/template_section.py
  python/packages/ai/teams/ai/promptsv2/user_message.py
  python/packages/ai/tests/ai/prompts/test_assistant_message.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_data_source_section.py
  python/packages/ai/tests/ai/prompts/test_function_call_message.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_group_section.py
  python/packages/ai/tests/ai/prompts/test_system_message.py
  python/packages/ai/tests/ai/prompts/test_user_message.py
Due: none

Add unit tests for UserInputMessage
  js/packages/teams-ai/src/internals/testing/TestUtilities.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.spec.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.ts
Due: pipelines/javascript.yml

feat: add prompt and user input message
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/completion_config.py
  python/packages/ai/teams/ai/promptsv2/prompt.py
  python/packages/ai/teams/ai/promptsv2/prompt_template.py
  python/packages/ai/teams/ai/promptsv2/prompt_template_config.py
  python/packages/ai/teams/ai/promptsv2/user_input_message.py
  python/packages/ai/tests/ai/prompts/test_user_input_message.py
Due: none

feat: update data source section constructor parameter name
  python/packages/ai/teams/ai/promptsv2/data_source_section.py
Due: none

fix: lint issue in test case
  python/packages/ai/tests/ai/prompts/test_user_input_message.py
Due: none

ensure response exists
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/src/AI.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Update DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
Due: pipelines/dotnet.yml

[JS] chore: #54 Add unit tests for UserInputMessage (#1229)
  js/packages/teams-ai/src/internals/testing/TestUtilities.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.spec.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.ts
Due: pipelines/javascript.yml

[repo] fix: on default say action ensure command has response (#1230)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/src/AI.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

add to oauth
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
  js/samples/06.auth.oauth.bot/src/index.ts
Due: pipelines/javascript.yml

enableSSO for ME
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
  js/packages/teams-ai/src/authentication/TeamsSsoMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoMessageExtensionAuthentication.ts
  js/samples/06.auth.oauth.messageExtension/src/index.ts
Due: pipelines/javascript.yml

oauthprompt fix
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
Due: pipelines/javascript.yml

add me auth
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
Due: pipelines/javascript.yml

feat: remove comments
  python/packages/ai/teams/ai/promptsv2/user_input_message.py
Due: none

write unit tests for bot auth
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

adaptive card auth
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.ts
  js/samples/06.auth.oauth.adaptiveCard/src/index.ts
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.local.yml
Due: pipelines/javascript.yml

feat: add prompt manager
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/completion_config.py
  python/packages/ai/teams/ai/promptsv2/prompt_manager.py
  python/packages/ai/teams/ai/promptsv2/prompt_manager_options.py
  python/packages/ai/teams/ai/promptsv2/prompt_template_config.py
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/config.json
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/include_images/config.json
  python/packages/ai/tests/ai/prompts/test_assets/include_images/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/migrate_old_schema/config.json
  python/packages/ai/tests/ai/prompts/test_assets/migrate_old_schema/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/no_config/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/no_prompt/config.json
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

test: fix test cases in linux os
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

fix tests
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
Due: pipelines/javascript.yml

Update js/samples/06.auth.oauth.messageExtension/src/index.ts
  js/samples/06.auth.oauth.messageExtension/src/index.ts
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

fix auth related warnings
  js/packages/teams-ai/src/authentication/AdaptiveCardAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Due: pipelines/javascript.yml

rename
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

Update USER-AUTH.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

Update getting-started/CONCEPTS/USER-AUTH.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none
