Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

move dependencies out of dev group and run fmt
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

[PY] feat: embeddings (#1217)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings_options.py
  python/packages/ai/teams/ai/embeddings/embeddings_model.py
  python/packages/ai/teams/ai/embeddings/embeddings_response.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings_options.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

Docs strings and linting fixes
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/MemoryFork.ts
  js/packages/teams-ai/src/TurnStateProperty.ts
  js/packages/teams-ai/src/prompts/PromptSectionBase.ts
Due: pipelines/javascript.yml

Update TurnState error messages
  js/packages/teams-ai/src/TurnState.ts
Due: pipelines/javascript.yml

Add TurnState unit tests
  js/packages/teams-ai/src/TurnState.spec.ts
Due: pipelines/javascript.yml

[PY] feat: use CloudAdapter instead of BotFrameworkAdapter (#1273)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
  python/samples/01.messaging.a.echoBot/src/config.py
  python/samples/01.messaging.a.echoBot/teamsapp.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/04.ai.a.teamsChefBot/poetry.lock
  python/samples/04.ai.a.teamsChefBot/src/app.py
  python/samples/04.ai.a.teamsChefBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/src/app.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Due: none

add default moderator
  python/packages/ai/teams/ai/moderators/__init__.py
  python/packages/ai/teams/ai/moderators/default_moderator.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/tests/ai/moderators/test_default_moderator.py
Due: none

add openai moderator
  python/packages/ai/teams/ai/moderators/__init__.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
Due: none

add azure content safety moderator
  python/packages/ai/teams/ai/moderators/__init__.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: none

add openai model
  python/packages/ai/.pylintrc
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
Due: none

[PY] feat: Moderators (#1280)
  python/packages/ai/teams/ai/moderators/__init__.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/default_moderator.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_default_moderator.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
Due: none

add openai model tests
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: none

[repo] chore: Update DATA-SOURCES.md
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

override and test process method - js
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.ts
Due: pipelines/javascript.yml

Update TeamsAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

[PY] feat: Models (#1282)
  python/packages/ai/.pylintrc
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: none

added actions and augmentations to prompts
  python/packages/ai/teams/ai/models/chat_completion_action.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/augmentation_config.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/actions.json
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/config.json
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

fixing imports
  python/packages/ai/teams/ai/planner/planner.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
Due: none

add TeamsAdapter
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/teams_adapter.py
Due: none

override process method to add header
  python/packages/ai/teams/teams_adapter.py
Due: none

fix other user agents
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/embeddings_model.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
Due: none

fix moderator user_agent
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
Due: none

add common UserAgent logic
  python/packages/ai/teams/ai/__init__.py
  python/packages/ai/teams/ai/embeddings/embeddings_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/user_agent.py
Due: none

update to relative paths
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/planner/__init__.py
  python/packages/ai/teams/ai/planner/planner.py
Due: none

fix some imports and run fmt
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/planner/__init__.py
  python/packages/ai/teams/ai/planner/planner.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
Due: none

Update ai.py
  python/packages/ai/teams/ai/ai.py
Due: none

fix more imports
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
Due: none

Cleanup TeamsAttchmntDler.spec.ts
  js/packages/teams-ai/src/TeamsAttachmentDownloader.spec.ts
Due: pipelines/javascript.yml

fix linting
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

[repo] chore: Update DATA-SOURCES.md (#1284)
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

Remove Colorize from calculated test coverage
  js/.nycrc
  js/packages/teams-ai/src/internals/Colorize.spec.ts
Due: pipelines/javascript.yml

[PY] feat: add `TeamsAdapter` (#1287)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/ai/__init__.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/embeddings_model.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/user_agent.py
Due: none

[repo] chore: add `User-Agent` to responses (#1285)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

updated to IOError
  python/packages/ai/teams/ai/prompts/prompt_manager.py
Due: none

Update index.ts
  js/samples/06.assistants.b.orderBot/src/index.ts
Due: pipelines/javascript.yml

added support for message reactions and message updates
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/activity_type.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/message_reaction_types.py
  python/packages/ai/tests/test_app.py
Due: none

[PY] feat: Augmentation and Action Support for Prompts (#1291)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/chat_completion_action.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/planner/__init__.py
  python/packages/ai/teams/ai/planner/planner.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/augmentation_config.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/actions.json
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/config.json
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

[PY] feat: Activity Handlers - Message Reactions and Message Update (#1295)
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/activity_type.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/message_reaction_types.py
  python/packages/ai/tests/test_app.py
Due: none

added meetingStart and meetingEnd
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings.py
  python/packages/ai/tests/test_meetings.py
Due: none

fixed linting
  python/packages/ai/teams/meetings.py
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
