Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

add docs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/AdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PRLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PRUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequest.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequestFilters.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PullRequestManager.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/PullRequestsPlugin.cs
Due: pipelines/dotnet.yml

cleanup
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/ListOfPRsSubmitActivity.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
Due: pipelines/dotnet.yml

adding plugin components
  dotnet/samples/04.ai.h.ossDevOpsAgent/Config.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GHPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GHService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Model/PRLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/AppState.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHAdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHPullRequest.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHPullRequestLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHSubmitPRsActivity.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Templates/IRepositoryPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Templates/IRepositoryService.cs
Due: pipelines/dotnet.yml

adding inline docs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GHPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GHService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHAdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Templates/IRepositoryPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Templates/IRepositoryService.cs
Due: pipelines/dotnet.yml

refactoring
  dotnet/samples/04.ai.h.ossDevOpsAgent/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/AppState.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Config.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/DevOpsAgent.csproj
  dotnet/samples/04.ai.h.ossDevOpsAgent/DevOpsAgent.sln
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubCards.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubFilterActivity.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubPR.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Interfaces/IRepositoryPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Interfaces/IRepositoryService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/KernelOrchestrator.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHAdaptiveCardBuilder.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHPullRequest.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHPullRequestLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Models/GHUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/README.md
  dotnet/samples/04.ai.h.ossDevOpsAgent/Templates/IRepositoryService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/manifest.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/get-pull-request.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/list-pull-requests.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/new-assignee.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/oauth-app-settings.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/oauth-webhook-events.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/webhook-settings.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/env/.env.dev
  dotnet/samples/04.ai.h.ossDevOpsAgent/teamsapp.local.yml
  dotnet/samples/04.ai.h.ossDevOpsAgent/teamsapp.yml
Due: pipelines/dotnet.yml

cleaning
  dotnet/samples/04.ai.h.ossDevOpsAgent/Controllers/BotController.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/ConversationInfo.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/DevOpsAgent.csproj
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubCards.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubFilterActivity.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubLabel.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubPR.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubModels/GitHubUser.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Interfaces/IRepositoryPlugin.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Interfaces/IRepositoryService.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/Program.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/color.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/outline.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/appsettings.Development.json
  dotnet/samples/04.ai.h.ossDevOpsAgent/env/.env.local
Due: pipelines/dotnet.yml

cleanup with pictures
  dotnet/samples/04.ai.h.ossDevOpsAgent/DevOpsAgent.csproj
  dotnet/samples/04.ai.h.ossDevOpsAgent/GitHubCards.cs
  dotnet/samples/04.ai.h.ossDevOpsAgent/README.md
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/oauth-redirect.jpg
  dotnet/samples/04.ai.h.ossDevOpsAgent/assets/webhook.jpg
Due: pipelines/dotnet.yml

fix missing equals sign
  dotnet/samples/04.ai.h.ossDevOpsAgent/env/.env.local
Due: pipelines/dotnet.yml

updates to README
  dotnet/samples/04.ai.h.ossDevOpsAgent/README.md
Due: pipelines/dotnet.yml

updated pictures to adhere to TTK
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/color.png
  dotnet/samples/04.ai.h.ossDevOpsAgent/appPackage/outline.png
Due: pipelines/dotnet.yml

Bump 1.7.4
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

Add strong name
  dotnet/packages/Microsoft.TeamsAI/Directory.Build.props
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/ActionCollection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnStateEntry.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/DefaultHttpClient.cs
  dotnet/packages/key.snk
  dotnet/packages/key.txt
Due: pipelines/dotnet.yml

[C#] repo: Update dotnet-codeql.yml
  .github/workflows/dotnet-codeql.yml
Due: none

Update dotnet-build-test-lint.yml
  .github/workflows/dotnet-build-test-lint.yml
Due: none

[C#] chore: Update dotnet-codeql.yml (#2373)
  .github/workflows/dotnet-build-test-lint.yml
  .github/workflows/dotnet-codeql.yml
Due: none

[JS] Bump 1.7.4 (#2371)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

updated lock files and tomls
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[PY] bump: minor bump to 1.8.0 (#2376)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[C#] fix: Add strong name signing to dlls (#2372)
  dotnet/packages/Microsoft.TeamsAI/Directory.Build.props
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/ActionCollection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnStateEntry.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/DefaultHttpClient.cs
  dotnet/packages/key.snk
  dotnet/packages/key.txt
Due: pipelines/dotnet.yml

pipeline fix
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

typo fix
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

update .net version to v8
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

use msi auth
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fix release
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

v2 app
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAgentApplicationOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsApplication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Compat/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Compat/ApplicationBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Compat/ApplicationOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Forgot to push the builder :P
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsApplicationBuilder.cs
Due: pipelines/dotnet.yml

fix build pipeline
  dotnet/packages/Microsoft.TeamsAI/Directory.Build.props
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/35MSSharedLib1024.snk
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/key.snk
  dotnet/packages/key.txt
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

remove cwd
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

pk
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

temporarily disable strong sign
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fix issue
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fixx
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fix code
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fix again
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml
