Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

[PY] Avoid returning token prematurely on signin/verifyState invoke
  python/packages/ai/teams/auth/auth_manager.py
Due: pipelines/python.yml

[PY] Copy activity to new activity when continuing conversation
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Fix entra app 401 errors
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

Removes settings when using the Test tool to prevent 401 errors
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.testtool.yml
Due: pipelines/javascript.yml

move test_ai.py dir
  python/packages/ai/tests/ai/test_ai.py
Due: pipelines/python.yml

Update README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Due: pipelines/javascript.yml

[JS] docs: Updated README to match new changes to OYD Sample (#1834)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Due: pipelines/javascript.yml

[JS] Fix issues deploying to Azure with Teams Toolkit and use Managed Identity with OYD sample (#1832)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/launch.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.staging
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.testtool.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/tsconfig.json
Due: pipelines/javascript.yml

Do not throw if no content
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Fix pylint
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Minimal formatting
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Fix unpacking for file downloads
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Use extend
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Fix lint
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[PY] fix: Remove unpacking to list for file downloads (#1851)
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

revised implementation for tools - with plan format
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/openai_function.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/augmentation_config.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

fixed tests in tools_augmentation
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
Due: pipelines/python.yml

fixed fmt
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
Due: pipelines/python.yml

lint types and checks
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/tests/ai/test_ai.py
Due: pipelines/python.yml

update `openai` version to match peer version
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[JS] fix: update `openai` version to match peer version (#1855)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[PY] fix: Fix Application's activity selector to not cast ActivityTypes to str (#1842)
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[PY] feat: do_action (#1810)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/tests/ai/test_ai.py
Due: pipelines/python.yml

added openai_model tests and bug fixes
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

impl
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAISdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/SequentialDelayRetryPolicyTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/bin/Debug/netstandard2.0/CoverletSourceRootsMapping
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AddHeaderRequestPolicy.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ClientResultExceptionExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAISdkChatMessageExensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequentialDelayRetryPolicy.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequentialDelayStrategy.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

updated poetry.lock
  python/packages/ai/poetry.lock
Due: pipelines/python.yml

fix sample build
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fixed map to list for SUBMIT_TOOL_OUTPUTS_MESSAGES
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

fixed test with map to list
  python/packages/ai/poetry.lock
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

added feedback handler
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

updated test
  python/packages/ai/poetry.lock
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

fixed test
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

fixed arr to map
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

updated powered-by-ai docs with python snippets
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

[PY] feat: Feedback Loop Handler + Powered-By-AI Doc Updates (#1859)
  getting-started/CONCEPTS/POWERED-BY-AI.md
  python/packages/ai/poetry.lock
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

[PY] fix: Match against text only if it exists in message selector
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Update README.md
  python/samples/04.ai.f.dataSource.azureOpenAI/README.md
Due: pipelines/python.yml
