Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Added tests for new StreamingResponse class
  js/packages/teams-ai/src/StreamingResponse.spec.ts
Due: pipelines/javascript.yml

Added TestModel and unit test
  js/packages/teams-ai/src/models/TestModel.spec.ts
  js/packages/teams-ai/src/models/TestModel.ts
  js/packages/teams-ai/src/models/index.ts
Due: pipelines/javascript.yml

Added some basic LLMClient tests
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
Due: pipelines/javascript.yml

Added StreamingLLMClient tests
  js/packages/teams-ai/src/planners/StreamingLLMClient.spec.ts
Due: pipelines/javascript.yml

removed client check https for JS
  js/packages/teams-ai/src/internals/OpenAIClient.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

removed dotnet https checks
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureOpenAIModelOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

removed failing test
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
Due: pipelines/javascript.yml

removed unused var
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
Due: pipelines/javascript.yml

updated test for dotnet
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

update ai search sample to use managed identity
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

update default env files
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Due: pipelines/javascript.yml

[repo] fix: removed HTTPS client requirement (#1718)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureOpenAIModelOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  js/packages/teams-ai/src/internals/OpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/OpenAIClient.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Update commands validation for sequence augmentation
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Due: pipelines/python.yml

init response if cmd dict doesn't have it
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Due: pipelines/python.yml

Fix tests
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
Due: pipelines/python.yml

Fix some tests
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

Update HttpError.spec.ts
  js/packages/teams-ai/src/actions/HttpError.spec.ts
Due: pipelines/javascript.yml

Update yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

add more sample parameters
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

add welcome message
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

fix
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
Due: pipelines/python.yml

requested updates
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
Due: pipelines/javascript.yml

Update package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
Due: pipelines/javascript.yml

update azure identity
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] feat: add managed identity auth support for AOAI and update AI Search sample (#1725)
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/HttpError.spec.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

[PY] fix: Update commands validation for sequence augmentation (#1697)
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

python version bump
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix: remove unused OPENAI_KEY in config.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/config.py
Due: pipelines/python.yml

bump library, samples
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/ActivityHandlers.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/GameBotHandlers.cs
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
Due: pipelines/dotnet.yml

Update citations sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

JS 1.3.0 release
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

Bump samples
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[JS] chore: 1.3.0 release (#1733)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[JS] fix: Update citations sample (#1732)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

[repo] bump: dotnet to v1.3.0 (#1731)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/ActivityHandlers.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/GameBotHandlers.cs
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
Due: pipelines/dotnet.yml

auth auto checks
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
