Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

new implementation + tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientAssistantTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientThreadTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/AzureSdkAssistantsExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

update samples
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

remove obsolete internal models and mark public ones as Obsolete
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
Due: pipelines/dotnet.yml

[JS] feat: Update Citations behavior in SayCommand (#1591)
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

chat promtp response to be chat message
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AITests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/CommandJsonConverter.cs
Due: pipelines/dotnet.yml

completed implementation of aoai support with assistants
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

updated mathbot
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/samples/06.assistants.a.mathBot/README.md
  python/samples/06.assistants.a.mathBot/env/.env.dev.user
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/sample.env
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/config.py
Due: pipelines/python.yml

updated orderbot with aoai
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Due: pipelines/python.yml

updated envs and readme
  python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/env/.env.dev
  python/samples/06.auth.oauth.bot/env/.env.dev.user
  python/samples/06.auth.oauth.bot/env/.env.local
  python/samples/06.auth.oauth.bot/env/.env.local.user
  python/samples/06.auth.oauth.bot/sample.env
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/env/.env.dev
  python/samples/06.auth.oauth.messageExtensions/env/.env.dev.user
  python/samples/06.auth.oauth.messageExtensions/env/.env.local
  python/samples/06.auth.oauth.messageExtensions/env/.env.local.user
  python/samples/06.auth.oauth.messageExtensions/sample.env
Due: pipelines/python.yml

updated poetry.lock
  python/samples/06.auth.oauth.bot/poetry.lock
Due: pipelines/python.yml

fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
Due: pipelines/dotnet.yml

add test case
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
Due: pipelines/dotnet.yml

add another test case
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
Due: pipelines/dotnet.yml

fix me auth
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.local.json
Due: pipelines/python.yml

_remove_mentions attribute fix
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Update POWERED-BY-AI.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

Update manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
Due: pipelines/python.yml

refactor + unit tests
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

update samples
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Due: pipelines/javascript.yml

Update SayCommand to use correct text for referencedCitations
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

[JS] fix: #1617 Update SayCommand to use correct text for referencedCitations (#1618)
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

[JS] feat: `AssistantsPlanner` support for Azure Assistants API (#1571)
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
  js/yarn.lock
Due: pipelines/javascript.yml

[C#] feat: `AssistantsPlanner` support for Azure Assistants API (#1609)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientAssistantTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientThreadTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/appsettings.Development.json
  dotnet/samples/06.assistants.a.mathBot/appsettings.json
  dotnet/samples/06.assistants.a.mathBot/env/.env.dev.user
  dotnet/samples/06.assistants.a.mathBot/infra/azure.bicep
  dotnet/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  dotnet/samples/06.assistants.b.orderBot/Config.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/appsettings.Development.json
  dotnet/samples/06.assistants.b.orderBot/appsettings.json
  dotnet/samples/06.assistants.b.orderBot/env/.env.dev.user
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
  dotnet/samples/06.assistants.b.orderBot/infra/azure.parameters.json
Due: pipelines/dotnet.yml

[repo] docs: Update POWERED-BY-AI.md (#1613)
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: none

[C#] feat: change `PredictedSayCommand` to include response `ChatMessage` (#1610)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AITests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/CommandJsonConverter.cs
Due: pipelines/dotnet.yml

Add dev support to issues template
  .github/ISSUE_TEMPLATE/developer-support.md
Due: none

write unit tests
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.ts
Due: pipelines/javascript.yml

[JS] fix: `signinVerify` invoke may be processed by wrong OAuth Connection (#1620)
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.ts
Due: pipelines/javascript.yml

added unit tests for assistants planner
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

removed file_ids from create
  python/packages/ai/teams/ai/planners/assistants_planner.py
Due: pipelines/python.yml

Update README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Due: pipelines/javascript.yml

[JS] fix: Removing Azure AI Search details from Azure OpenAI Sample (#1584)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
Due: pipelines/javascript.yml

[PY] feat: `AssistantsPlanner` support for Azure Assistants API (#1614)
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
  python/samples/06.assistants.a.mathBot/README.md
  python/samples/06.assistants.a.mathBot/env/.env.dev.user
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/sample.env
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/config.py
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Due: pipelines/python.yml

add using tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
Due: pipelines/dotnet.yml

bump packages in samples
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

update package versions
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

[repo] chore: Add dev support to issues template (#1619)
  .github/ISSUE_TEMPLATE/developer-support.md
Due: none

[C#] fix: `signinVerify` invoke may be processed by wrong OAuth Connection (#1627)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fix bot
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
Due: pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
