Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Fix error message of dynamic card
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
Due: pipelines/javascript.yml

fix: remove projectId in teasmfx yml file
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[JS] fix: remove projectId in teasmfx yml file (#1558)
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[JS] chore: TeamsAttachmentDownloader cleanup + remove env files from cache (#1556)
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] fix: #1526: Fix typeahead sample's dynamic command (#1557)
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
Due: pipelines/javascript.yml

add new sample
  python/packages/ai/teams/app.py
  python/packages/ai/teams/auth/auth_options.py
  python/samples/06.auth.oauth.messageExtensions/.gitignore
  python/samples/06.auth.oauth.messageExtensions/.pylintrc
  python/samples/06.auth.oauth.messageExtensions/.vscode/launch.json
  python/samples/06.auth.oauth.messageExtensions/.vscode/settings.json
  python/samples/06.auth.oauth.messageExtensions/.vscode/tasks.json
  python/samples/06.auth.oauth.messageExtensions/.webappignore
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/aad.manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/color.png
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/outline.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_0.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_1.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_2.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_3.png
  python/samples/06.auth.oauth.messageExtensions/infra/azure.bicep
  python/samples/06.auth.oauth.messageExtensions/infra/azure.local.bicep
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.json
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.local.json
  python/samples/06.auth.oauth.messageExtensions/infra/botRegistration/azurebot.bicep
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/poetry.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/scripts/__init__.py
  python/samples/06.auth.oauth.messageExtensions/scripts/ci.py
  python/samples/06.auth.oauth.messageExtensions/scripts/clean.py
  python/samples/06.auth.oauth.messageExtensions/scripts/fmt.py
  python/samples/06.auth.oauth.messageExtensions/scripts/lint.py
  python/samples/06.auth.oauth.messageExtensions/scripts/start.py
  python/samples/06.auth.oauth.messageExtensions/scripts/test.py
  python/samples/06.auth.oauth.messageExtensions/src/api.py
  python/samples/06.auth.oauth.messageExtensions/src/app.py
  python/samples/06.auth.oauth.messageExtensions/src/bot.py
  python/samples/06.auth.oauth.messageExtensions/src/config.py
  python/samples/06.auth.oauth.messageExtensions/src/graph.py
  python/samples/06.auth.oauth.messageExtensions/teamsapp.local.yml
  python/samples/06.auth.oauth.messageExtensions/teamsapp.yml
Due: pipelines/python.yml

`js` => add activivty handler
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Update Application.ts
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

add invoke flag to necessary handlers
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

`dotnet` => implement handoff handler
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
Due: pipelines/dotnet.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

`py` => implement handoffs
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

fix lint
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

Update app.py
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Update HandoffHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
Due: pipelines/dotnet.yml

implemented devops bot
  python/samples/04.ai.e.chainedActions.devOpsBot/.gitignore
  python/samples/04.ai.e.chainedActions.devOpsBot/.pylintrc
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/launch.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/settings.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/tasks.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.webappignore
  python/samples/04.ai.e.chainedActions.devOpsBot/README.md
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/color.png
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/manifest.json
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/outline.png
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev.user
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local.user
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/__init__.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/ci.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/clean.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/fmt.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/lint.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/start.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/test.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/api.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/app.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/config.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/skprompt.txt
  python/samples/04.ai.e.chainedActions.devOpsBot/src/state.py
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Due: pipelines/python.yml

[JS] feat: handoff activity handler (#1562)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

fix ME oauth
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/src/bot.py
  python/samples/06.auth.oauth.messageExtensions/src/graph.py
Due: pipelines/python.yml

Update test_auth_manager.py
  python/packages/ai/tests/auth/test_auth_manager.py
Due: pipelines/python.yml

fixes for attachment downloader
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

Update card.png
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
Due: pipelines/javascript.yml

Update test_llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Due: pipelines/python.yml

js-azure-assistants support
  js/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/yarn.lock
Due: pipelines/javascript.yml

add order bot support
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Update oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Due: pipelines/python.yml

Modify azure openai sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/citation-response.json
Due: pipelines/javascript.yml

debug
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/internals/testing/TestPlanner.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/Planner.ts
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  js/yarn.lock
Due: pipelines/javascript.yml

Update sample.env for sample 4 h
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Due: pipelines/javascript.yml

Add citations to default SAY response
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/prompts/Message.ts
Due: pipelines/javascript.yml

Update Citations sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/citation-response.json
Due: pipelines/javascript.yml

attempt to fix python pipeline security
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  pipelines/python.yml
Due: pipelines/javascript.yml, pipelines/python.yml

Update python.yml for Azure Pipelines
  pipelines/python.yml
Due: pipelines/python.yml

[PY] chore: bump botbuilder-python packages and fix for TeamsAttachmentDownloader (#1566)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml
