Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

added debugger configuration to debug using Bot Framework Emulator
  js/samples/04.ai.a.teamsChefBot/.vscode/launch.json
Due: pipelines/javascript.yml

added bot framework debugger config
  js/samples/04.ai.a.teamsChefBot/.vscode/launch.json
Due: pipelines/javascript.yml

ai module init
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/AI-MODULE.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/TURNS.md
  js/packages/teams-ai/src/Application.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Update README.md
  getting-started/CONCEPTS/README.md
Due: none

Update AI-SYSTEM.md
  getting-started/CONCEPTS/AI-SYSTEM.md
Due: none

Update MODERATOR.md
  getting-started/CONCEPTS/MODERATOR.md
Due: none

Update PLANNER.md
  getting-started/CONCEPTS/PLANNER.md
Due: none

actions
  getting-started/CONCEPTS/ACTIONS.md
Due: none

Update ACTIONS.md
  getting-started/CONCEPTS/ACTIONS.md
Due: none

feat: add tokenizer
  python/packages/ai/teams/ai/tokenizers/__init__.py
  python/packages/ai/teams/ai/tokenizers/gpt_tokenizer.py
  python/packages/ai/teams/ai/tokenizers/tokenizer.py
  python/packages/ai/tests/ai/tokenizers/test_gpt_tokenizer.py
Due: none

docs: add docstring
  python/packages/ai/teams/ai/tokenizers/gpt_tokenizer.py
  python/packages/ai/teams/ai/tokenizers/tokenizer.py
Due: none

tests: fix test cases
  python/packages/ai/tests/ai/tokenizers/test_gpt_tokenizer.py
Due: none

fix: fix lint issue
  python/packages/ai/teams/ai/tokenizers/tokenizer.py
Due: none

[JS] feat: add user agent override and internalize `BotAdapter` (#1142)
  getting-started/MIGRATION/JS.md
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/index.ts
  js/yarn.lock
Due: pipelines/javascript.yml

action planner
  getting-started/CONCEPTS/ACTION-PLANNER.md
Due: none

action planner and prompt management
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/PROMPTS.md
Due: none

Update PROMPTS.md
  getting-started/CONCEPTS/PROMPTS.md
Due: none

[JS] chore: OpenAIModerator and AzureContentSafetyModerator unit tests (#1161)
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Due: pipelines/javascript.yml

add adapter to telemetry headers
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationBuilderTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/SimpleAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

Create USER-AUTH.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

add adapter tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TeamsAdapterTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/SimpleAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

ensure no duplicates added
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TeamsAdapterTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

fix tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TeamsAdapterTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

update `ts` user-agent implementation to match `dotnet`
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
  js/packages/teams-ai/src/TeamsAdapter.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/javascript.yml

add file disclaimers
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
  js/packages/teams-ai/src/TeamsAdapter.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Update Application.spec.ts
  js/packages/teams-ai/src/Application.spec.ts
Due: pipelines/javascript.yml

[C#] feat: add ActionPlanner unit test (#1160)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
Due: pipelines/dotnet.yml

augmentations
  getting-started/CONCEPTS/AUGMENTATIONS.md
Due: none

Update AUGMENTATIONS.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
