Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js
    - pipelines/javascript.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test:nyc:report'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: |
      js/packages/teams-ai/*
      js/packages/teams-ai/src/*
      js/packages/teams-ai/lib/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
    ArtifactName: Packages

# - task: Npm@1
#   displayName: 'Publish'
#   continueOnError: true
#   inputs:
#     command: publish
#     workingDir: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
#     publishRegistry: useFeed
#     publishFeed: 'Github_Pipelines/Teams'

[JS] feat: Add `enableSso` property to toggle SSO in user auth scenarios (#1232)
  getting-started/CONCEPTS/USER-AUTH.md
  js/packages/teams-ai/src/authentication/AdaptiveCardAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
  js/packages/teams-ai/src/authentication/TeamsSsoMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoMessageExtensionAuthentication.ts
  js/samples/06.auth.oauth.adaptiveCard/src/index.ts
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.local.yml
  js/samples/06.auth.oauth.bot/src/index.ts
  js/samples/06.auth.oauth.messageExtension/src/index.ts
Due: pipelines/javascript.yml

enable-sso for ME
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/OAuthMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthSettings.cs
  dotnet/samples/06.auth.oauth.messageExtension/Program.cs
Due: pipelines/dotnet.yml

simplified oauthbot sso
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

fix warnings
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
Due: pipelines/javascript.yml

removed OAuthBotPrompt
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

[JS] refactor: Remove redundant `OAuthBotPrompt` (#1235)
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotPrompt.ts
Due: pipelines/javascript.yml

enablo sso for bot auth
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
  dotnet/samples/06.auth.oauth.bot/Program.cs
Due: pipelines/dotnet.yml

fix bug
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
Due: pipelines/javascript.yml

[PY] feat: add prompt and user input message (#1228)
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/completion_config.py
  python/packages/ai/teams/ai/promptsv2/data_source_section.py
  python/packages/ai/teams/ai/promptsv2/prompt.py
  python/packages/ai/teams/ai/promptsv2/prompt_template.py
  python/packages/ai/teams/ai/promptsv2/prompt_template_config.py
  python/packages/ai/teams/ai/promptsv2/user_input_message.py
  python/packages/ai/tests/ai/prompts/test_user_input_message.py
Due: none

[PY] feat: add prompt manager (#1233)
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/completion_config.py
  python/packages/ai/teams/ai/promptsv2/prompt_manager.py
  python/packages/ai/teams/ai/promptsv2/prompt_manager_options.py
  python/packages/ai/teams/ai/promptsv2/prompt_template_config.py
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/config.json
  python/packages/ai/tests/ai/prompts/test_assets/happy_path/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/include_images/config.json
  python/packages/ai/tests/ai/prompts/test_assets/include_images/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/migrate_old_schema/config.json
  python/packages/ai/tests/ai/prompts/test_assets/migrate_old_schema/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/no_config/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_assets/no_prompt/config.json
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

remove SK package
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/azure_openai/__init__.py
  python/packages/ai/teams/ai/models/azure_openai/client/__init__.py
  python/packages/ai/teams/ai/models/azure_openai/client/azure_openai_client.py
  python/packages/ai/teams/ai/models/azure_openai/planner.py
  python/packages/ai/teams/ai/models/azure_openai/planner_options.py
  python/packages/ai/teams/ai/models/chat_completion_action.py
  python/packages/ai/teams/ai/models/openai/__init__.py
  python/packages/ai/teams/ai/models/openai/client/__init__.py
  python/packages/ai/teams/ai/models/openai/client/openai_client.py
  python/packages/ai/teams/ai/models/openai/client/openai_client_error.py
  python/packages/ai/teams/ai/models/openai/client/openai_client_response.py
  python/packages/ai/teams/ai/models/openai/client/schemas/__init__.py
  python/packages/ai/teams/ai/models/openai/client/schemas/moderation.py
  python/packages/ai/teams/ai/models/openai/planner.py
  python/packages/ai/teams/ai/models/openai/planner_options.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/modelsv2/__init__.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
  python/packages/ai/tests/ai/validators/test_action_response_validator.py
  python/packages/ai/tests/ai/validators/test_default_response_validator.py
  python/packages/ai/tests/ai/validators/test_json_response_validator.py
  python/packages/ai/tests/task_modules/test_task_modules.py
Due: none

Update adapter.py
  python/packages/ai/tests/utils/adapter.py
Due: none

lint
  python/packages/ai/tests/utils/adapter.py
Due: none

Update __init__.py
  python/packages/ai/teams/ai/state/__init__.py
Due: none

reorganize prompts to get rid of some errors
  python/packages/ai/examples/openai_planner.py
  python/packages/ai/scripts/fmt.py
  python/packages/ai/scripts/lint.py
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/assistant_message.py
  python/packages/ai/teams/ai/prompts/function_call_message.py
  python/packages/ai/teams/ai/prompts/function_response_message.py
  python/packages/ai/teams/ai/prompts/prompt.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_section_layout.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/sections/__init__.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/data_source_section.py
  python/packages/ai/teams/ai/prompts/sections/group_section.py
  python/packages/ai/teams/ai/prompts/sections/layout_engine_section.py
  python/packages/ai/teams/ai/prompts/sections/prompt_section.py
  python/packages/ai/teams/ai/prompts/sections/prompt_section_base.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/ai/prompts/sections/text_section.py
  python/packages/ai/teams/ai/prompts/system_message.py
  python/packages/ai/teams/ai/prompts/user_input_message.py
  python/packages/ai/teams/ai/prompts/user_message.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_layout_engine.py
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: none

Update app.py
  python/samples/04.ai.a.teamsChefBot/src/app.py
Due: none

Update bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: none

completed augmentations implementation
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/openai/planner.py
  python/packages/ai/teams/ai/planner/predicted_do_command.py
  python/packages/ai/teams/ai/planner/response_parser.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
Due: none

removed print statements in tests
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
Due: none

remove unnecessary comment
  dotnet/samples/06.auth.oauth.bot/Program.cs
  dotnet/samples/06.auth.oauth.messageExtension/Program.cs
Due: pipelines/dotnet.yml

Add unit tests for PromptManager.ts
  js/packages/teams-ai/src/internals/testing/assets/test/README.md
  js/packages/teams-ai/src/internals/testing/assets/test/missingConfig/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/missingConfig/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/missingPrompt/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/missingPrompt/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/skprompt.txt
  js/packages/teams-ai/src/prompts/PromptManager.spec.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
Due: pipelines/javascript.yml

[JS] chore: #54 Add unit tests for PromptManager.ts (#1246)
  js/packages/teams-ai/src/internals/testing/assets/test/README.md
  js/packages/teams-ai/src/internals/testing/assets/test/missingConfig/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/missingConfig/skprompt.txt
  js/packages/teams-ai/src/internals/testing/assets/test/missingPrompt/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/missingPrompt/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/actions.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/config.json
  js/packages/teams-ai/src/internals/testing/assets/test/unknown/skprompt.txt
  js/packages/teams-ai/src/prompts/PromptManager.spec.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
Due: pipelines/javascript.yml

oauth bot tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
Due: pipelines/dotnet.yml

me auth tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/OAuthMessageExtensionsTests.cs
Due: pipelines/dotnet.yml

fixed linting issues
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/openai/planner.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
Due: none

fixed type annotation
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Due: none

fixed merge conflict
  python/packages/ai/poetry.lock
Due: none

fixed poetry.lock merge conflict
  python/packages/ai/poetry.lock
Due: none

updated linting
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/embeddings_response.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

fixed trailing whitespace
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

Add unit tests for Colorize.ts
  js/packages/teams-ai/src/internals/Colorize.spec.ts
Due: pipelines/javascript.yml

add tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/OAuthAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
Due: pipelines/dotnet.yml

patch version bump v1.1.1
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
Due: pipelines/dotnet.yml

[C#] chore: path bump to `v1.1.1` (#1265)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
Due: pipelines/dotnet.yml

[C#] feat: Add enableSso property to toggle SSO in user auth scenarios (#1236)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/OAuthMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/OAuthAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/OAuthMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthSettings.cs
  dotnet/samples/06.auth.oauth.bot/Program.cs
  dotnet/samples/06.auth.oauth.messageExtension/Program.cs
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

fixed linting with dict conversion
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
Due: none

feat: use CloudAdapter instead of BotFrameworkAdapter
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
  python/samples/01.messaging.a.echoBot/src/config.py
  python/samples/01.messaging.a.echoBot/teamsapp.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/04.ai.a.teamsChefBot/poetry.lock
  python/samples/04.ai.a.teamsChefBot/src/app.py
  python/samples/04.ai.a.teamsChefBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/src/app.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Due: none

[PY] feat: augmentations (#1243)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/action_augmentation_section.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/planner/predicted_do_command.py
  python/packages/ai/teams/ai/planner/response_parser.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
Due: none
