Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

[JS] fix: Update teamsapp.yml (#1917)
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
Due: pipelines/javascript.yml

setting up to test
  python/packages/ai/teams/auth/__init__.py
Due: pipelines/python.yml

dialog expecting storage?
  python/packages/ai/teams/auth/sso/sso_options.py
Due: pipelines/python.yml

test progress, retry issues
  python/packages/ai/teams/auth/sso/sso_dialog.py
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

[C#] feat: `AssistantsPlanner` support for `file_search` tool annotations (#1913)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTest.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

fixed app.py feedback_loop decorator to remove error when accessing dict as object
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

fixed feedback look dict accessed as object
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[repo] docs: Update APPLICATION.md (#1898)
  getting-started/CONCEPTS/APPLICATION.md
Due: none

[PY] feat: Chat Completion - Tools (#1853)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/augmentation_config.py
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/ai/prompts/sections/text_section.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
Due: pipelines/python.yml

assistants planner mi support
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/teamsapp.yml
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/dotnet.yml

Update Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

feat: support different adaptive card response type
  js/packages/teams-ai/src/AdaptiveCards.ts
Due: pipelines/javascript.yml

test: update tests
  js/packages/teams-ai/src/AdaptiveCards.ts
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
Due: pipelines/javascript.yml

[C#] feat: `AssistantsPlanner` support for authenticating Azure OpenAI using managed identity (#1930)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/teamsapp.yml
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/dotnet.yml

Load FeedbackLoopData from dict assuming camel case
  python/packages/ai/teams/app.py
  python/packages/ai/teams/feedback_loop_data.py
Due: pipelines/python.yml

feat: Twenty Questions supports Teams App test tool
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.testtool
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.testtool.yml
Due: pipelines/javascript.yml

[JS] chore: `TwentyQuestions` supports Teams App test tool (#1935)
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.testtool
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.testtool.yml
Due: pipelines/javascript.yml

helper functions for notification bot
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

feat: update comments
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

fixed issues with streaming support
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

file upload support
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/InputFile.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAttachmentDownloader.cs
Due: pipelines/dotnet.yml

feat: Echo Bot supports Teams App test tool
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/env/.env.testtool
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

feat: Type Ahead Bot supports Teams App test tool
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/env/.env.testtool
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

feat: Teams Chef supports Teams App test tool
  js/samples/04.ai-apps/a.teamsChefBot/.gitignore
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/launch.json
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/tasks.json
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.testtool
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

feat: List Bot supports Teams App test tool
  js/samples/03.ai-concepts/d.chainedActions-listBot/.gitignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/launch.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/tasks.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/README.md
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.testtool
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

feat: Light Bot supports Teams App test tool
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.gitignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/launch.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/tasks.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/README.md
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.testtool
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

[JS] chore: samples support Teams App test tool (#1941)
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/env/.env.testtool
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/teamsapp.testtool.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/env/.env.testtool
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.testtool.yml
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.gitignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/launch.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/tasks.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/README.md
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.testtool
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.testtool.yml
  js/samples/03.ai-concepts/d.chainedActions-listBot/.gitignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/launch.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/tasks.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/README.md
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.testtool
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.testtool.yml
  js/samples/04.ai-apps/a.teamsChefBot/.gitignore
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/launch.json
  js/samples/04.ai-apps/a.teamsChefBot/.vscode/tasks.json
  js/samples/04.ai-apps/a.teamsChefBot/README.md
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.testtool
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.testtool.yml
Due: pipelines/javascript.yml

fixes for tools implementation
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/action_output_message.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
  python/packages/ai/tests/ai/prompts/test_action_output_message.py
Due: pipelines/python.yml

added remaining tests
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/prompts/test_assets/tools/actions.json
  python/packages/ai/tests/ai/prompts/test_assets/tools/config.json
  python/packages/ai/tests/ai/prompts/test_assets/tools/skprompt.txt
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
Due: pipelines/python.yml

Update types related to tools
  js/packages/teams-ai/src/types/ActionCall.ts
  js/packages/teams-ai/src/types/ChatCompletionActionResponse.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
  js/packages/teams-ai/src/types/PromptResponse.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Remove ChatCompletionActionResponse as unneeded
  js/packages/teams-ai/src/types/ChatCompletionActionResponse.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Add ToolsAugmentation
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/augmentations/index.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Due: pipelines/javascript.yml

Facilitate Message to include action_calls and action_call_id for tools
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/planners/Planner.ts
  js/packages/teams-ai/src/prompts/Message.ts
Due: pipelines/javascript.yml

Update ConversationHistory
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
Due: pipelines/javascript.yml

Handle actions in history
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

Add teams ai diagram back to repo
  assets/teams-ai-diagram.png
Due: none

Add diagram to CONCEPTS page
  getting-started/CONCEPTS/README.md
Due: none

Delete older teams ai diagram
  getting-started/assets/image.png
Due: none

Fix ActionPlanner iterating through addActionOutputs
  js/packages/teams-ai/src/planners/ActionPlanner.ts
Due: pipelines/javascript.yml

Remove addFunctionToHistory as it is unused
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml
