Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  projectPath: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.TeamsAI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '$(projectPath)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(projectPath)'
    arguments: '--configuration $(buildConfiguration)'

- task: NuGetCommand@2
  displayName: 'NuGet Pack'
  inputs:
    command: pack
    packagesToPack: '$(projectPath)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
  
- task: EsrpCodeSigning@4
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.dll,*.exe,*.nupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'

# - task: onebranch.pipeline.signing@1
#   displayName: 'Sign Output'
#   inputs:
#     command: 'sign'
#     signing_profile: 'external_distribution'
#     signing_environment: 'azure-ado'
#     files_to_sign: '**/*.nupkg'
#     search_root: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

- script: 'dotnet nuget push $(Build.ArtifactStagingDirectory)/**/*.nupkg --api-key $(nugetApiKey) --source https://api.nuget.org/v3/index.json --skip-duplicate --no-symbols'
  displayName: 'NuGet Push'

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: js/packages/teams-ai/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: Npm@1
  displayName: 'Publish'
  inputs:
    command: publish
    publishRegistry: useFeed
    publishFeed: 'Github_Pipelines/Teams'

fix nuget code signing
  pipelines/dotnet.yml
  pipelines/nuget-sign.json
Due: pipelines/dotnet.yml

removed .env files from samples and updated .gitignore files
  js/samples/01.messaging.a.echoBot/.gitignore
  js/samples/02.messageExtensions.a.searchCommand/.gitignore
  js/samples/03.adaptiveCards.a.typeAheadBot/.gitignore
  js/samples/04.ai.a.teamsChefBot/.gitignore
  js/samples/04.ai.b.messageExtensions.AI-ME/.gitignore
  js/samples/04.ai.c.actionMapping.lightBot/.gitignore
  js/samples/04.ai.d.chainedActions.listBot/.gitignore
  js/samples/04.ai.e.chainedActions.devOpsBot/.env
  js/samples/04.ai.e.chainedActions.devOpsBot/.gitignore
  js/samples/04.ai.teamsChefBot/build/appPackage/manifest.local.json
  js/samples/04.e.twentyQuestions/.env
  js/samples/04.e.twentyQuestions/.gitignore
  js/samples/04.q.questBot/.env
  js/samples/04.q.questBot/.gitignore
  js/samples/05.chatModeration/.env
Due: pipelines/javascript.yml

fix signing
  pipelines/dotnet.yml
  pipelines/nuget-sign.json
Due: pipelines/dotnet.yml

Update dotnet.yml
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

fixed a DataSource bug
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.ts
  js/packages/teams-ai/src/prompts/PromptSectionBase.ts
  js/samples/04.ai.a.teamsChefBot/src/responseFormatter.ts
Due: pipelines/javascript.yml

fixed bug in ME sample
  js/samples/04.ai.b.messageExtensions.AI-ME/src/index.ts
Due: pipelines/javascript.yml

fixed commenting out of AzureOpenAI codeblock for TwentyQuestions
  dotnet/samples/04.e.twentyQuestions/Program.cs
Due: pipelines/dotnet.yml

tweaked feedback for SequenceAugmentation
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/prompts/sequence/config.json
Due: pipelines/javascript.yml

Update javascript.yml
  pipelines/javascript.yml
Due: none

debug pipeline
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

revert
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

[C#] feat: ApplicationBuilder Implementation (#756)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationBuilderTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationBuilder.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.e.twentyQuestions/Program.cs
  getting-started/dotnet/00.MIGRATION.md
Due: pipelines/dotnet.yml

[C#] feat: handle Message Extension new activities (#740)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/InvokeActivityUtilities.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageExtensions/MessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MessageExtensions/MessageExtensionsHandlers.cs
Due: pipelines/dotnet.yml

fix: downgrade moq
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.TeamsAI.Tests.csproj
Due: pipelines/dotnet.yml

fix: teams specific events
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

[C#] feat: handles message update/delete events
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

refactor auth + some unit tests
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/auth/Authentication.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/BotAuthentication.ts
  js/packages/teams-ai/src/authentication/MessagingExtensionAuthentication.ts
  js/packages/teams-ai/src/authentication/UserTokenAccess.ts
  js/packages/teams-ai/src/authentication/index.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/javascript.yml

[C#] fix: check channel id "msteams" for teams-specific events (#762)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

test: disable typing timer
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/AdaptiveCardsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MessageExtensionsTests.cs
Due: pipelines/dotnet.yml

test: disable typing timer
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TaskModulesTests.cs
Due: pipelines/dotnet.yml

[C#] feat: handles message update/delete events (#763)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/AdaptiveCardsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TaskModulesTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Due: pipelines/dotnet.yml

Updated DevOps sample
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.e.chainedActions.devOpsBot/src/index.ts
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/chat/config.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/chat/skprompt.txt
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/chatGPT/config.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/chatGPT/skprompt.txt
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/actions.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/config.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/skprompt.txt
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/summarize/config.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/summarize/skprompt.txt
Due: pipelines/javascript.yml

[C#] fix: downgrade moq to 4.18 (#760)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.TeamsAI.Tests.csproj
Due: pipelines/dotnet.yml

updated 20 questions sample
  js/samples/04.e.twentyQuestions/src/index.ts
  js/samples/04.e.twentyQuestions/src/prompts/hint/config.json
  js/samples/04.e.twentyQuestions/src/prompts/hint/skprompt.txt
  js/samples/04.e.twentyQuestions/src/responses.ts
Due: pipelines/javascript.yml

updated chat moderation sample
  js/packages/teams-ai/src/moderators/AzureOpenAIModerator.ts
  js/samples/05.chatModeration/src/bot.ts
  js/samples/05.chatModeration/src/index.ts
  js/samples/05.chatModeration/src/prompts/chat/config.json
  js/samples/05.chatModeration/src/prompts/chat/skprompt.txt
Due: pipelines/javascript.yml

added missing conversationUpdate handlers and events with associated tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ConversationUpdateEvents.cs
Due: pipelines/dotnet.yml

[C#] feat: Add handling to missing ConversationUpdate events (#764)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ConversationUpdateEvents.cs
Due: pipelines/dotnet.yml

[C#] feat: handles config events
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ConfigHandler.cs
Due: pipelines/dotnet.yml

add package dotnet publish
  .github/workflows/dotnet-publish.yml
Due: none

Update dotnet-publish.yml
  .github/workflows/dotnet-publish.yml
Due: none

fix workflow
  .github/workflows/dotnet-publish.yml
  dotnet/samples/README.md
Due: pipelines/dotnet.yml

update CI
  .github/workflows/dotnet-build-test-lint.yml
  .github/workflows/dotnet-codeql.yml
  .github/workflows/dotnet-publish.yml
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml
