Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

fix: environment variables location in local environment
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

fix: readme line section
  js/samples/04.ai-apps/a.teamsChefBot/README.md
Due: pipelines/javascript.yml

Updating Feedback buttons to the sample
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

added feedback loop type
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

reorder citations so it doesnt conflict w tools
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

linting fixes
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

reorder citations so it doesnt conflict with tools
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
Due: pipelines/dotnet.yml

tt fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/TypingTimer.cs
Due: pipelines/dotnet.yml

add extra check
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

add StreamingEntity object, +1 to currPos for citations, and update to outline/color pngs
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/streaming_entity.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/color.png
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/outline.png
Due: pipelines/python.yml

[C#] fix: Typing indicator is "stuck" (#2250)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/TypingTimer.cs
Due: pipelines/dotnet.yml

[JS] fix: streaming - citations, feedback loop, and duplicate typing activity (#2185)
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

[C#] fix: streaming - citations and duplicate typing activity (#2202)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/TypingTimer.cs
Due: pipelines/dotnet.yml

[C#] docs: Update README.md | add steps for multi tenant support in dotnet auth sample documentation (#2208)
  dotnet/samples/06.auth.teamsSSO.bot/README.md
Due: pipelines/dotnet.yml

Bump openai
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Update Assistants samples
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Due: pipelines/javascript.yml

Fix AssistantsPlanner apiVersion
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Push yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

[JS] fix: Assistants Planner API version (#2256)
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

update install.py from v2 release of poetry, where no-update is default behaviour
  python/scripts/install.py
Due: pipelines/python.yml

update pyproject format for v2 poetry release on check.py
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update author obj in pyproject.toml
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update url to obj in pyproject
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix key value pair in url object
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix to equals for kv in urls
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

duplicate authors, description, name due to poetry config invalid- bug on poetry
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

Fixing pr comments
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

restore older version of pyproject.toml, in addition to updates
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

remove a few duplicate fields
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update to project.dependencies in string format
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

add project.requires-python
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix period
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update carats to equals, carat constraint is auto converted during poetry add
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix carat versioning to range
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

remove the requires-python extra tag
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

add back in prev dependency block to fix python range discrepcancy, and update poetry.lock
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

remove specific python vers tag, kept in 2 dependency blocks
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update to use --regenerate
  python/scripts/install.py
Due: pipelines/python.yml

update to use dependencies in dynamic mode
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

restore w/o obj placement in python dependency
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml
