Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

updated OAI and AOAI setup
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
Due: pipelines/python.yml

updated README
  python/samples/05.chatModeration/README.md
Due: pipelines/python.yml

remove test tool
  js/samples/08.datasource.azureAISearch/.gitignore
  js/samples/08.datasource.azureAISearch/devTools/.testTool.installInfo.json
  js/samples/08.datasource.azureAISearch/devTools/teamsapptester/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

specify node egine
  js/samples/08.datasource.azureAISearch/package.json
Due: pipelines/javascript.yml

updated lock
  js/yarn.lock
Due: pipelines/javascript.yml

patch version bump
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

update node versions
  .github/workflows/js-build-test-lint.yml
  pipelines/javascript.yml
Due: pipelines/javascript.yml

gte 18
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

[C#] bump: patch bump to v1.1.2 (#1373)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[JS] chore: prepare for 1.1.1 release (#1370)
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/appPackage/build/manifest.local.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Due: pipelines/javascript.yml

only support 18
  .github/workflows/js-build-test-lint.yml
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

[JS] chore: update node version to LTS (#1372)
  .github/workflows/js-build-test-lint.yml
  js/packages/teams-ai/package.json
  pipelines/javascript.yml
Due: pipelines/javascript.yml

updated AOAI model to gpt-35-turbo
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
Due: pipelines/python.yml

updated AOAI model to gpt-35-turbo for samples
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/05.chatModeration/src/bot.py
Due: pipelines/python.yml

add back in associated keys/endpoints for deployment with Azure App Service
  python/samples/04.ai.b.messageExtensions.AI-ME/env/.env.dev.user
  python/samples/04.ai.c.actionMapping.lightBot/env/.env.dev.user
  python/samples/05.chatModeration/env/.env.dev.user
Due: pipelines/python.yml

feat: do not install poetry during local debug
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/05.chatModeration/teamsapp.local.yml
Due: pipelines/python.yml

update content safety moderator
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: pipelines/python.yml

update bot
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/src/bot.py
Due: pipelines/python.yml

Update azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Due: pipelines/python.yml

Cleanup env files and clarify credentials directions in the samples
  js/samples/01.messaging.a.echoBot/README.md
  js/samples/01.messaging.a.echoBot/sample.env
  js/samples/02.messageExtensions.a.searchCommand/README.md
  js/samples/02.messageExtensions.a.searchCommand/sample.env
  js/samples/03.adaptiveCards.a.typeAheadBot/README.md
  js/samples/03.adaptiveCards.a.typeAheadBot/sample.env
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/sample.env
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/sample.env
  js/samples/04.ai.e.chainedActions.devOpsBot/README.md
  js/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/appPackage/manifest.json
  js/samples/04.ai.f.vision.cardGazer/sample.env
  js/samples/04.ai.g.LLAMA/appPackage/build/manifest.local.json
  js/samples/04.e.twentyQuestions/README.md
  js/samples/04.e.twentyQuestions/sample.env
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/sample.env
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.assistants.b.orderBot/sample.env
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.adaptiveCard/sample.env
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.bot/sample.env
  js/samples/06.auth.oauth.messageExtension/README.md
  js/samples/06.auth.oauth.messageExtension/sample.env
  js/samples/06.auth.teamsSSO.bot/README.md
  js/samples/06.auth.teamsSSO.bot/sample.env
  js/samples/06.auth.teamsSSO.bot/src/public/auth-end.html
  js/samples/06.auth.teamsSSO.bot/src/public/auth-start.html
  js/samples/06.auth.teamsSSO.messageExtension/README.md
  js/samples/06.auth.teamsSSO.messageExtension/sample.env
  js/samples/07.whoBot/README.md
  js/samples/07.whoBot/sample.env
Due: pipelines/javascript.yml

[PY] feat: do not run poetry install during local debug (#1374)
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/05.chatModeration/teamsapp.local.yml
Due: pipelines/python.yml

add back in old formatting for flagged inputs
  python/samples/05.chatModeration/src/bot.py
Due: pipelines/python.yml

fix in azure moderator
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Due: pipelines/python.yml

Update Migration Navigation
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
  getting-started/MIGRATION/03.PYTHON.md
  getting-started/MIGRATION/README.md
Due: none

Update getting started other navigation
  getting-started/OTHER/BOTFRAMEWORK-EMULATOR.md
  getting-started/OTHER/MANUAL-RESOURCE-SETUP.md
  getting-started/OTHER/README.md
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/OTHER/TEAMS-TOOLKIT.md
Due: none

Update getting started navigation
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Due: none

fixed failing tests for azure content safety moderator
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: pipelines/python.yml

fixed formatting for sdk
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: pipelines/python.yml

Add documentation on action handlers
  getting-started/CONCEPTS/ACTIONS.md
Due: none

Add more navigation to CONCEPTS section
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

update version and getting started docs
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

[PY] chore: v1 Release (#1378)
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

updated pyproject.toml to reference 1.0.0 version of ai sdk
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
Due: pipelines/python.yml

fixed poetry.lock
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/05.chatModeration/poetry.lock
Due: pipelines/python.yml

Fix tables in quickstart.md
  getting-started/QUICKSTART.md
Due: none

Fix tables in PYTHON.md
  getting-started/MIGRATION/03.PYTHON.md
Due: none

[PY] chore: update pyproject.toml and poetry.lock files (#1381)
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
Due: pipelines/python.yml

updated SAMPLES.md with python samples
  getting-started/SAMPLES.md
Due: none
