Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Fix JSON parsing issue in ToolsAugmentation
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
Due: pipelines/javascript.yml

Lint fix
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

Finish unit tests for AssistantsPlanner
  js/package.json
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Update yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

Restore docstring comments
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

[C#] fix: Map tokens config to `max_tokens` when non-o1 model is used. (#2150)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/04.e.twentyQuestions/teamsapp.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Due: pipelines/dotnet.yml

[PY] fix: Map tokens config to `max_tokens` when non-o1 model is used. (#2151)
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

add unit test
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

[PY] feat: Add managed identity auth support to `AssistantsPlanner` (#2153)
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/teamsapp.yml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/python.yml

bump sdk
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

bump package and sample references
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[C#] bump: dotnet to 1.8.0 (#2157)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fix replacement
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

fix streaming pyproject
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
Due: pipelines/python.yml

ran poetry fmt
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

Update manifest.json
  dotnet/samples/05.chatModeration/appPackage/manifest.json
Due: pipelines/dotnet.yml

Bump Teams AI package to 1.6.0
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[PY] bump: minor bump to 1.5.0 (#2158)
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

[JS] chore: Bump Teams AI JS to 1.6.0 (#2160)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Allow passing custom credentials factory to CloudAdapter
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
Due: pipelines/dotnet.yml

update to remove properties object nesting
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

[JS] fix: remove properties nesting for streaming entities object (#2173)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

bump version
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[JS] chore: `1.6.1` (#2174)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

update stream type enum converS
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[C#] fix: update streamType enum conversion to string (#2178)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

bump to v1.8.1
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[repo] fix: Update CODEOWNERS
  .github/CODEOWNERS
Due: none

[repo] fix: Update CODEOWNERS (#2181)
  .github/CODEOWNERS
Due: none

[C#] bump: dotnet to v1.8.1 (#2180)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

update types
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
Due: pipelines/javascript.yml

run eslint
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

add messages invoke handler
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/Messages.spec.ts
  js/packages/teams-ai/src/Messages.ts
Due: pipelines/javascript.yml

Update ClientCitation.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
Due: pipelines/javascript.yml

fix citations - now enabled while and after streaming is complete
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

lint, fix tests and timeout
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

fix timeout on tests due to buffer
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
Due: pipelines/javascript.yml

fix duplicate typing activity
  js/packages/teams-ai/src/Application.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
