Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:

trigger:
  batch: true
  branches:
    include:
    - main
    - breaking-changes-2
  paths:
    include:
    - dotnet
    - pipelines/dotnet.yml

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  package: 'dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.x'
    includePreviewVersions: true

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: restore
    projects: '$(package)'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: build
    projects: '$(package)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '$(package)'
    packDestination: '$(Build.ArtifactStagingDirectory)'
    includeSymbols: true
  
- task: EsrpCodeSigning@4
  displayName: 'Sign'
  inputs:
    ConnectedServiceName: 'Teams ESRP CodeSign v3'
    FolderPath: '$(Build.ArtifactStagingDirectory)'
    Pattern: '*.nupkg,*.snupkg'
    signConfigType: 'inlineSignParams'
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'
    PendingAnalysisWaitTimeoutMinutes: '5'
    inlineOperation: |
     [
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetSign",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-401405",
             "operationSetCode": "NuGetVerify",
             "parameters": [],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: Packages

- task: NuGetAuthenticate@1
  displayName: 'Azure NuGet Authenticate'

- task: NuGetCommand@2
  displayName: 'Azure NuGet Push'
  inputs:
    command: push
    publishVstsFeed: 'Github_Pipelines/Teams'
    allowPackageConflicts: true
    includeNugetOrg: true

pipelines/javascript.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - js
    - pipelines/javascript.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node'

- script: 'npm i -g yarn'
  displayName: 'Install Yarn'

- script: 'yarn'
  workingDirectory: 'js'
  displayName: 'Install Dependencies'

- script: 'yarn build'
  workingDirectory: 'js'
  displayName: 'Build'

- script: 'yarn test:nyc:report'
  workingDirectory: 'js'
  displayName: 'Test'

- script: 'yarn lint'
  workingDirectory: 'js'
  displayName: 'Lint'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: |
      js/packages/teams-ai/*
      js/packages/teams-ai/src/*
      js/packages/teams-ai/lib/*
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathToPublish: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
    ArtifactName: Packages

# - task: Npm@1
#   displayName: 'Publish'
#   continueOnError: true
#   inputs:
#     command: publish
#     workingDir: '$(Build.ArtifactStagingDirectory)/js/packages/teams-ai'
#     publishRegistry: useFeed
#     publishFeed: 'Github_Pipelines/Teams'

added fileConsentAccept, fileConsentDecline, O365ConnectorCard handlers
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: none

port missing properties on ActionPlanner
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
Due: pipelines/dotnet.yml

revert Options to public method
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
Due: pipelines/dotnet.yml

feat: support deploying echo bot to azure
  .github/workflows/python-build-test-lint.yml
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/.vscode/settings.json
  python/samples/01.messaging.a.echoBot/.webappignore
  python/samples/01.messaging.a.echoBot/infra/azure.bicep
  python/samples/01.messaging.a.echoBot/infra/azure.parameters.json
  python/samples/01.messaging.a.echoBot/poetry.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/scripts/__init__.py
  python/samples/01.messaging.a.echoBot/scripts/ci.py
  python/samples/01.messaging.a.echoBot/scripts/clean.py
  python/samples/01.messaging.a.echoBot/scripts/fmt.py
  python/samples/01.messaging.a.echoBot/scripts/lint.py
  python/samples/01.messaging.a.echoBot/scripts/start.py
  python/samples/01.messaging.a.echoBot/scripts/test.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
  python/samples/01.messaging.a.echoBot/src/config.py
  python/samples/01.messaging.a.echoBot/src/requirements.txt
  python/samples/01.messaging.a.echoBot/teamsapp.local.yml
  python/samples/01.messaging.a.echoBot/teamsapp.yml
  python/scripts/build.py
  python/scripts/check.py
  python/scripts/lint.py
  python/scripts/test.py
Due: none

build: do not install sample dependencies in CI
  python/scripts/install.py
Due: none

docs: update readme
  python/samples/01.messaging.a.echoBot/README.md
Due: none

[PY] feat: Activity Handlers - Meetings and RemoveRecipientMention (#1298)
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings.py
  python/packages/ai/tests/test_meetings.py
Due: none

added True bool to route construction for invoke calls
  python/packages/ai/teams/app.py
Due: none

added querySettingUrl, settings, and onCardButtonClicked handlers
  python/packages/ai/teams/message_extensions.py
  python/packages/ai/tests/test_message_extensions.py
Due: none

rework state and add llm_client
  python/packages/ai/teams/ai/__init__.py
  python/packages/ai/teams/ai/clients/__init__.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_turn_state.py
  python/packages/ai/tests/state/test_turn_state_entry.py
Due: none

rework state some more
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_turn_state.py
  python/packages/ai/tests/state/test_turn_state_entry.py
Due: none

add planner and plan
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/planners/planner.py
Due: none

[JS] fix: OPENAI_KEY not found in process.env (#1294)
  js/samples/06.assistants.b.orderBot/src/index.ts
Due: pipelines/javascript.yml

feat: export dependencies from poetry
  .github/workflows/python-build-test-lint.yml
  python/samples/01.messaging.a.echoBot/.gitignore
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/01.messaging.a.echoBot/poetry.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/scripts/__init__.py
  python/samples/01.messaging.a.echoBot/scripts/ci.py
  python/samples/01.messaging.a.echoBot/scripts/clean.py
  python/samples/01.messaging.a.echoBot/scripts/fmt.py
  python/samples/01.messaging.a.echoBot/scripts/lint.pyt
  python/samples/01.messaging.a.echoBot/scripts/start.py
  python/samples/01.messaging.a.echoBot/scripts/test.py
  python/samples/01.messaging.a.echoBot/src/requirements.txt
  python/samples/01.messaging.a.echoBot/teamsapp.yml
  python/scripts/build.py
  python/scripts/check.py
  python/scripts/install.py
  python/scripts/lint.py
  python/scripts/test.py
Due: none

docs: update readme
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/01.messaging.a.echoBot/scripts/lint.py
Due: none

update other features to use new planners
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/chat_completion_action.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/moderators/default_moderator.py
  python/packages/ai/teams/ai/moderators/moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
  python/packages/ai/teams/ai/validators/validation.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_default_moderator.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
  python/packages/ai/tests/planner/test_response_parser.py
Due: none

Update test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
Due: none

[PY] feat: Activity Handlers - FileConsent and ActionableMessage (#1299)
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: none

[PY] feat: Activity Handlers - Message Extensions (querySettingUrl, setting, onCardButtonClicked) (#1311)
  python/packages/ai/teams/message_extensions.py
  python/packages/ai/tests/test_message_extensions.py
Due: none

Remove commented out test
  js/packages/teams-ai/src/internals/Colorize.spec.ts
Due: pipelines/javascript.yml

Update TeamsAdapter port
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
Due: pipelines/javascript.yml

fix turn state entry
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state_entry.py
Due: none

disable sample scripts until they are updated
  python/scripts/build.py
  python/scripts/ci.py
  python/scripts/fmt.py
  python/scripts/lint.py
  python/scripts/test.py
Due: none

fix meetings
  python/packages/ai/teams/meetings/__init__.py
  python/packages/ai/teams/meetings/meetings.py
Due: none

fmt
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings/meetings.py
Due: none

fix message extensions
  python/packages/ai/.pylintrc
  python/packages/ai/teams/message_extensions/message_extensions.py
Due: none

Update TeamsAdapter tests
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
Due: pipelines/javascript.yml

update comments
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/planners/planner.py
Due: none

add public get for default prompt
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
Due: pipelines/dotnet.yml

[C#] port: missing properties on ActionPlanner (#1303)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
Due: pipelines/dotnet.yml

update bot and use TeamsAdapter
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
Due: none

[PY] feat: deploy echo bot to azure (#1310)
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/samples/01.messaging.a.echoBot/.gitignore
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/.vscode/settings.json
  python/samples/01.messaging.a.echoBot/.webappignore
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/01.messaging.a.echoBot/infra/azure.bicep
  python/samples/01.messaging.a.echoBot/infra/azure.parameters.json
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
  python/samples/01.messaging.a.echoBot/src/config.py
  python/samples/01.messaging.a.echoBot/teamsapp.local.yml
  python/samples/01.messaging.a.echoBot/teamsapp.yml
Due: none
