Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
      Python310:
        python.version: '3.10'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(python.version)
  ...

[JS] chore: Move datasource Azure OpenAI sample to ai-apps (#1520)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/launch.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/tasks.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/outline.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.staging
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.testtool
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/readme.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/data/nba.pdf
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.testtool.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/tsconfig.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/web.config
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

patch
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Due: pipelines/javascript.yml

[C#] feat: `Azure OpenAI On Your Data` support (#1478)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.sln
  dotnet/samples/08.datasource.azureopenai/Config.cs
  dotnet/samples/08.datasource.azureopenai/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureopenai/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureopenai/README.md
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
  dotnet/samples/08.datasource.azureopenai/assets/example.png
  dotnet/samples/08.datasource.azureopenai/infra/azure.bicep
  dotnet/samples/08.datasource.azureopenai/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureopenai/nba.pdf
  dotnet/samples/08.datasource.azureopenai/teamsapp.local.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Due: pipelines/dotnet.yml

remove test tool
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Due: pipelines/javascript.yml

[JS] fix: AOAI sample patch (#1528)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

Added support for calling OpenAI "like" services
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Added support for specifying a static seed
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Added support for enforcing the return of JSON from OpenAI.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Added support for calling OpenAI like embedding services
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Due: pipelines/javascript.yml

Added support for specifying the dimensions of embedding requests.
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/internals/types.ts
Due: pipelines/javascript.yml

implementation for ME bot
  python/samples/02.messageExtensions.a.searchCommand/.gitignore
  python/samples/02.messageExtensions.a.searchCommand/.pylintrc
  python/samples/02.messageExtensions.a.searchCommand/.vscode/launch.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/settings.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/tasks.json
  python/samples/02.messageExtensions.a.searchCommand/.webappignore
  python/samples/02.messageExtensions.a.searchCommand/README.md
  python/samples/02.messageExtensions.a.searchCommand/appPackage/color.png
  python/samples/02.messageExtensions.a.searchCommand/appPackage/manifest.json
  python/samples/02.messageExtensions.a.searchCommand/appPackage/outline.png
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev.user
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local.user
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.bicep
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.parameters.json
  python/samples/02.messageExtensions.a.searchCommand/infra/botRegistration/azurebot.bicep
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/scripts/__init__.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/ci.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/clean.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/fmt.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/lint.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/start.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/test.py
  python/samples/02.messageExtensions.a.searchCommand/src/api.py
  python/samples/02.messageExtensions.a.searchCommand/src/app.py
  python/samples/02.messageExtensions.a.searchCommand/src/bot.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_package_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_search_result_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/config.py
  python/samples/02.messageExtensions.a.searchCommand/src/state.py
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.local.yml
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.yml
Due: pipelines/python.yml

Update js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Due: pipelines/javascript.yml

Update js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

[JS] feat: Updates to OpenAIModel and OpenAIEmbeddings classes. (#1541)
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

fix last message bug and added comment
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

normalize package.jsons
  js/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
Due: pipelines/javascript.yml

Update JS sample links
  getting-started/SAMPLES.md
Due: none

Partial update to SAMPLES.md
  getting-started/SAMPLES.md
  js/yarn.lock
Due: pipelines/javascript.yml

[PY] fix: vision input message retrieval typo (#1549)
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

Removed cached env files for cardGazer
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
Due: pipelines/javascript.yml

[PY] feat: Search Command ME Sample Bot (#1542)
  python/samples/02.messageExtensions.a.searchCommand/.gitignore
  python/samples/02.messageExtensions.a.searchCommand/.pylintrc
  python/samples/02.messageExtensions.a.searchCommand/.vscode/launch.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/settings.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/tasks.json
  python/samples/02.messageExtensions.a.searchCommand/.webappignore
  python/samples/02.messageExtensions.a.searchCommand/README.md
  python/samples/02.messageExtensions.a.searchCommand/appPackage/color.png
  python/samples/02.messageExtensions.a.searchCommand/appPackage/manifest.json
  python/samples/02.messageExtensions.a.searchCommand/appPackage/outline.png
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev.user
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local.user
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.bicep
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.parameters.json
  python/samples/02.messageExtensions.a.searchCommand/infra/botRegistration/azurebot.bicep
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/scripts/__init__.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/ci.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/clean.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/fmt.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/lint.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/start.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/test.py
  python/samples/02.messageExtensions.a.searchCommand/src/api.py
  python/samples/02.messageExtensions.a.searchCommand/src/app.py
  python/samples/02.messageExtensions.a.searchCommand/src/bot.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_package_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_search_result_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/config.py
  python/samples/02.messageExtensions.a.searchCommand/src/state.py
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.local.yml
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.yml
Due: pipelines/python.yml

added llm client tests
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Due: pipelines/python.yml

[JS] chore: Update links to JS samples in SAMPLES.md (#1529)
  getting-started/SAMPLES.md
  js/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Add document about deploying Bot to Linux Web App
  js/samples/README.md
Due: pipelines/javascript.yml

typos
  js/samples/README.md
Due: pipelines/javascript.yml

Minor cleanup and comments to TeamsAttachmentDownloader
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Due: pipelines/javascript.yml

fix oauth and do some cleanup
  python/packages/ai/.pylintrc
  python/packages/ai/teams/app.py
  python/packages/ai/teams/auth/auth.py
  python/packages/ai/teams/auth/auth_component.py
  python/packages/ai/teams/auth/auth_manager.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_dialog.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/packages/ai/teams/auth/token_exchange_middleware.py
  python/packages/ai/teams/auth/user_token/__init__.py
  python/packages/ai/teams/auth/user_token/exchange_token.py
  python/packages/ai/teams/auth/user_token/get_sign_in_resource.py
  python/packages/ai/teams/auth/user_token/get_user_token.py
  python/packages/ai/teams/auth/user_token/get_user_token_client.py
  python/packages/ai/teams/auth/user_token/sign_out_user.py
  python/packages/ai/teams/dialogs/dialog.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/state/state_property_accessor.py
  python/packages/ai/teams/state/todict.py
  python/packages/ai/tests/auth/test_auth_manager.py
  python/samples/06.auth.oauth.bot/src/bot.py
Due: pipelines/python.yml

Update test_auth_manager.py
  python/packages/ai/tests/auth/test_auth_manager.py
Due: pipelines/python.yml

updatead python docs
  getting-started/QUICKSTART.md
  python/README.md
  python/packages/ai/README.md
  python/samples/README.md
Due: pipelines/python.yml

use actions
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Due: pipelines/python.yml

[JS] docs: Add document about deploying Bot to Linux Web App (#1554)
  js/samples/README.md
Due: pipelines/javascript.yml

[PY] chore: added llm_client tests and resolved getter bug (#1552)
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Due: pipelines/python.yml

Yarn update
  js/yarn.lock
Due: pipelines/javascript.yml

[PY] chore: updated docs (#1555)
  getting-started/QUICKSTART.md
  python/README.md
  python/packages/ai/README.md
  python/samples/README.md
Due: pipelines/python.yml

Revert "Removed cached env files for cardGazer"
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
Due: pipelines/javascript.yml

#1526: Fix typeahead sample's dynamic command
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
