Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

fix: correct api key logic
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

removed tools
  python/packages/ai/teams/ai/tools/tool_entry.py
Due: pipelines/python.yml

reverted to original state class
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

add deployment env var
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

back to the old way of using datasources
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

[JS] chore: Azure AI Search Sample add deployment env var (#1749)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
Due: pipelines/javascript.yml

fix bug
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
Due: pipelines/javascript.yml

[JS] Fix: Duplicate client citation objects being added in activity (#1751)
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
Due: pipelines/javascript.yml

[JS] fix: correct api key logic (#1747)
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Bump for JS package
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Bump teams-ai package
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

[JS] Bump to 1.3.1 (#1755)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Update js teams-ai README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Updated samples to use latest version of OpenAI library
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

removed strict-event-emitter-types as a module dependency
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/external/index.ts
  js/packages/teams-ai/src/external/strict-event-emitter-types.ts
  js/packages/teams-ai/src/index.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/yarn.lock
Due: pipelines/javascript.yml

removed openAI as package dependency since it's a peerDependency
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

Update JS migration docs
  getting-started/MIGRATION/01.JS.md
Due: none

Update AI info on feedbackLoop
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

Added additional docs for streaming
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

Update index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

draft implementation of tools with direct invocation and use of state.temp.tools and PromptTemplate
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
Due: pipelines/python.yml

user managed identity + aoai sample
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/samples/04.ai.f.dataSource.azureOpenAI/.gitignore
  python/samples/04.ai.f.dataSource.azureOpenAI/README.md
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/color.png
  python/samples/04.ai.f.dataSource.azureOpenAI/appPackage/manifest.json
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.dev.user
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local.user
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/azure.bicep
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/azure.parameters.json
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/botRegistration/readme.md
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/src/bot.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/config.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/prompts/chat/config.json
  python/samples/04.ai.f.dataSource.azureOpenAI/teamsapp.local.yml
Due: pipelines/python.yml

Merged logic from StreamingLLMClient into LLMClient class
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/planners/StreamingLLMClient.spec.ts
  js/packages/teams-ai/src/planners/StreamingLLMClient.ts
  js/packages/teams-ai/src/planners/index.ts
Due: pipelines/javascript.yml

[JS] fix: Update js teams-ai README.md (#1756)
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

[repo] docs: JS Migration and feedbackLoop documentation updates (#1757)
  getting-started/MIGRATION/01.JS.md
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

add conditional check for default aug
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

linting fix
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
Due: pipelines/python.yml

[JS] feat: add Streaming support (#1717)
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/external/index.ts
  js/packages/teams-ai/src/external/strict-event-emitter-types.ts
  js/packages/teams-ai/src/index.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/models/TestModel.spec.ts
  js/packages/teams-ai/src/models/TestModel.ts
  js/packages/teams-ai/src/models/index.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

fix lint
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
Due: pipelines/python.yml

comment fix
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

fix
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.dev.user
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local
  python/samples/04.ai.f.dataSource.azureOpenAI/env/.env.local.user
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/azure.bicep
  python/samples/04.ai.f.dataSource.azureOpenAI/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.f.dataSource.azureOpenAI/src/bot.py
  python/samples/04.ai.f.dataSource.azureOpenAI/src/prompts/chat/config.json
  python/samples/04.ai.f.dataSource.azureOpenAI/teamsapp.local.yml
Due: pipelines/python.yml

init sample
  python/.gitignore
  python/samples/07.planners.a.langchain/.gitignore
  python/samples/07.planners.a.langchain/.pylintrc
  python/samples/07.planners.a.langchain/.vscode/launch.json
  python/samples/07.planners.a.langchain/.vscode/settings.json
  python/samples/07.planners.a.langchain/.vscode/tasks.json
  python/samples/07.planners.a.langchain/.webappignore
  python/samples/07.planners.a.langchain/README.md
  python/samples/07.planners.a.langchain/appPackage/color.png
  python/samples/07.planners.a.langchain/appPackage/manifest.json
  python/samples/07.planners.a.langchain/appPackage/outline.png
  python/samples/07.planners.a.langchain/env/.env.dev
  python/samples/07.planners.a.langchain/env/.env.dev.user
  python/samples/07.planners.a.langchain/env/.env.local
  python/samples/07.planners.a.langchain/env/.env.local.user
  python/samples/07.planners.a.langchain/infra/azure.bicep
  python/samples/07.planners.a.langchain/infra/azure.parameters.json
  python/samples/07.planners.a.langchain/infra/botRegistration/azurebot.bicep
  python/samples/07.planners.a.langchain/poetry.toml
  python/samples/07.planners.a.langchain/pyproject.toml
  python/samples/07.planners.a.langchain/sample.env
  python/samples/07.planners.a.langchain/scripts/__init__.py
  python/samples/07.planners.a.langchain/scripts/ci.py
  python/samples/07.planners.a.langchain/scripts/clean.py
  python/samples/07.planners.a.langchain/scripts/fmt.py
  python/samples/07.planners.a.langchain/scripts/lint.py
  python/samples/07.planners.a.langchain/scripts/start.py
  python/samples/07.planners.a.langchain/scripts/test.py
  python/samples/07.planners.a.langchain/src/api.py
  python/samples/07.planners.a.langchain/src/app.py
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/config.py
  python/samples/07.planners.a.langchain/src/prompts/sequence/actions.json
  python/samples/07.planners.a.langchain/src/prompts/sequence/config.json
  python/samples/07.planners.a.langchain/src/prompts/sequence/skprompt.txt
  python/samples/07.planners.a.langchain/src/state.py
  python/samples/07.planners.a.langchain/teamsapp.local.yml
  python/samples/07.planners.a.langchain/teamsapp.yml
Due: pipelines/python.yml

update ignore
  python/.gitignore
  python/samples/07.planners.a.langchain/.gitignore
Due: pipelines/python.yml

push custom planner
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/planners/planner.py
  python/samples/07.planners.a.langchain/README.md
  python/samples/07.planners.a.langchain/appPackage/manifest.json
  python/samples/07.planners.a.langchain/env/.env.local
  python/samples/07.planners.a.langchain/env/.env.local.user
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/message.py
  python/samples/07.planners.a.langchain/src/planner.py
  python/samples/07.planners.a.langchain/src/prompts/default/actions.json
  python/samples/07.planners.a.langchain/src/prompts/default/config.json
  python/samples/07.planners.a.langchain/src/prompts/default/skprompt.txt
  python/samples/07.planners.a.langchain/src/state.py
  python/samples/07.planners.a.langchain/teamsapp.local.yml
  python/samples/07.planners.a.langchain/teamsapp.yml
Due: pipelines/python.yml

fix bot framework bug
  python/packages/ai/teams/teams_adapter.py
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/planner.py
Due: pipelines/python.yml

cleanup
  python/samples/07.planners.a.langchain/env/.env.local
  python/samples/07.planners.a.langchain/env/.env.local.user
  python/samples/07.planners.a.langchain/teamsapp.yml
Due: pipelines/python.yml

fmt & lint
  python/samples/07.planners.a.langchain/src/api.py
  python/samples/07.planners.a.langchain/src/bot.py
  python/samples/07.planners.a.langchain/src/message.py
  python/samples/07.planners.a.langchain/src/planner.py
  python/samples/07.planners.a.langchain/src/state.py
Due: pipelines/python.yml

Update teams_adapter.py
  python/packages/ai/teams/teams_adapter.py
Due: pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
