Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Add citations logic to on_say_command
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

Fix format/linting errors
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/utilities.py
Due: pipelines/python.yml

Fix format/linting errors
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
Due: pipelines/python.yml

Fix line too long
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

Fix snake casing
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

Fix missing comma
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

Run fmt
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

Fix argument order
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

[C#] feat: Powered by AI: Citations, feedback loop, and GeneratedByAI icon (#1648)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/DefaultAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/appPackage/color.png
  dotnet/samples/08.datasource.azureopenai/appPackage/manifest.json
  dotnet/samples/08.datasource.azureopenai/appPackage/outline.png
  getting-started/CONCEPTS/POWERED-BY-AI.md
Due: pipelines/dotnet.yml

Minor fix to sample 4.h env variables error
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

Bump teams-ai to version 1.2.1
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

map assitants response to citations
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

update tests
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
Due: pipelines/javascript.yml

[JS] fix: map assitants response to citations (#1655)
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

[JS] chore: Patch release 1.2.1 (#1654)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Fix PR comments for Plan
  python/packages/ai/teams/ai/planners/plan.py
Due: pipelines/python.yml

Fix monologue and Sequence augmentation to have message context
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/message.py
Due: pipelines/python.yml

Move and divide utils
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/prompts/function_response_message.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/teams/utils/__init__.py
  python/packages/ai/teams/utils/citations/__init__.py
  python/packages/ai/teams/utils/citations/format_citations_response.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/teams/utils/snippet.py
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/ai/test_utilities.py
  python/packages/ai/tests/utils/__init__.py
  python/packages/ai/tests/utils/citations/__init__.py
  python/packages/ai/tests/utils/citations/test_format_citations_response.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
  python/packages/ai/tests/utils/test_snippet.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

Bump dotnet to v1.3.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fix state
  python/packages/ai/teams/state/state.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

Format sequence and monologue
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Due: pipelines/python.yml

Update PredictedSayCommand for assistants_planner.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
Due: pipelines/python.yml

fix failing test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/DefaultActionsTests.cs
Due: pipelines/dotnet.yml

[repo] bump: dotnet to v1.3.0 (#1659)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/DefaultActionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

Fix tests
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

do not include private keys in dictionary
  python/packages/ai/teams/state/todict.py
Due: pipelines/python.yml

change from bracket syntax to object init
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Due: pipelines/dotnet.yml

Update state.py
  python/packages/ai/teams/state/state.py
Due: pipelines/python.yml

Update dotnet.yml for Azure Pipelines
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

[PY] fix: ensure state saves and loads properly (#1660)
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/state/todict.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

[C#] fix: Change bracket notation to object initializer (#1661)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Due: pipelines/dotnet.yml

Apply fixes
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/teams/ai/planners/plan.py
Due: pipelines/python.yml

Update tests
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Due: pipelines/python.yml

Change sequence_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Due: pipelines/python.yml

fixes
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/prompts/message.py
Due: pipelines/python.yml

Remove print
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Due: pipelines/python.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

in progress streaming changes
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/OpenAIStream.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
