Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

[PY] fix: Optimizing the to_string Function (#2107)
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  getting-started/CONCEPTS/STREAMING.md
Due: pipelines/dotnet.yml

bump tokenizer version to work with KM
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

bump KM dependency
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
Due: pipelines/dotnet.yml

Refactor AiEntity, ClientCitation, SensitivityUsageInfo, TooManyStepsParameters
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/index.ts
  js/packages/teams-ai/src/types/AIEntity.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
  js/packages/teams-ai/src/types/SensitivityUsageInfo.ts
  js/packages/teams-ai/src/types/TooManyStepsParameters.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Refactor InnerMonologue, InnerMonologueSchema, PlanSchema
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/augmentations/ActionAugmentationSection.ts
  js/packages/teams-ai/src/augmentations/Augmentation.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/types/InnerMonologue.ts
  js/packages/teams-ai/src/types/InnerMonologueSchema.ts
  js/packages/teams-ai/src/types/PlanSchema.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Alphabetical sort
  js/packages/teams-ai/src/actions/index.ts
Due: pipelines/javascript.yml

Move EmbeddingsModel types to types folder
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/index.ts
  js/packages/teams-ai/src/internals/testing/TestEmbeddings.ts
  js/packages/teams-ai/src/types/EmbeddingsModel.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Fix tests & lint
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

[C#] feat: O1 model support (#2111)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ChatMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatCompletionToolCallTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/LayoutSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAttachmentDownloader.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  getting-started/CONCEPTS/STREAMING.md
Due: pipelines/dotnet.yml

[JS] chore: Begin to move typings to typings folder (#2120)
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/index.ts
  js/packages/teams-ai/src/augmentations/ActionAugmentationSection.ts
  js/packages/teams-ai/src/augmentations/Augmentation.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/index.ts
  js/packages/teams-ai/src/index.ts
  js/packages/teams-ai/src/internals/testing/TestEmbeddings.ts
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/types/AIEntity.ts
  js/packages/teams-ai/src/types/ClientCitation.ts
  js/packages/teams-ai/src/types/EmbeddingsModel.ts
  js/packages/teams-ai/src/types/InnerMonologue.ts
  js/packages/teams-ai/src/types/InnerMonologueSchema.ts
  js/packages/teams-ai/src/types/PlanSchema.ts
  js/packages/teams-ai/src/types/SensitivityUsageInfo.ts
  js/packages/teams-ai/src/types/TooManyStepsParameters.ts
  js/packages/teams-ai/src/types/index.ts
  js/samples/04.ai-apps/a.teamsChefBot/src/index.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

fix streaming response
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[C#] fix: When streaming operation failed the exception is suppressed. (#2122)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

py o1 work
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

add compat remark as comment
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIConstants.cs
  js/packages/teams-ai/src/AI.ts
  python/packages/ai/teams/ai/actions/action_types.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Update ACTIONS.md
  getting-started/CONCEPTS/ACTIONS.md
Due: none

[repo] fix: add stop command docs/comments for tools augmentation compatibility (#2127)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIConstants.cs
  getting-started/CONCEPTS/ACTIONS.md
  js/packages/teams-ai/src/AI.ts
  python/packages/ai/teams/ai/actions/action_types.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

test
  python/packages/ai/poetry.lock
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

fix moderation bug
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
Due: pipelines/python.yml

lint fix
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
Due: pipelines/python.yml

minor small updates
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

update ga contract content safety
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
Due: pipelines/javascript.yml

Update AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
Due: pipelines/javascript.yml

added in powered by AI features
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

updated README
  getting-started/CONCEPTS/STREAMING.md
Due: none

fix moderator sample
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/samples/03.ai-concepts/f.chatModeration/src/index.ts
Due: pipelines/javascript.yml

Update bot.ts
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

[JS] fix: content safety public preview deprecation (#2133)
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/03.ai-concepts/f.chatModeration/src/index.ts
Due: pipelines/javascript.yml

Bump Teams-AI package for patch release
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

[JS] chore: Bump Teams-AI package for patch release (#2134)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

updated sample bot
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

updated enableFeedbackLoop var
  js/packages/teams-ai/src/planners/ActionPlanner.ts
Due: pipelines/javascript.yml

updated readme from ai to app
  getting-started/CONCEPTS/STREAMING.md
Due: none

[JS] feat: Generated by AI Label, Feedback Loop, Streaming Buffer, Error Propagation, Entities Metadata (#2135)
  getting-started/CONCEPTS/STREAMING.md
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.spec.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

Preserve message context in OpenAIModel
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Add reference type to test file
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
Due: pipelines/javascript.yml

Fix citations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
  python/packages/ai/teams/ai/ai.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Update openai version in samples
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

fix order bot bug
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Due: pipelines/python.yml
