Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

added in cancellationToken
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/IPromptCompletionModelEvents.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

bump to 1.4.1
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

[PY] bump: 1.4.1 patch (#2079)
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

update samples
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazerBotActions.cs
  dotnet/samples/04.ai.f.vision.cardMaster/Program.cs
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/sequence/skprompt.txt
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/actions.json
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/config.json
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/skprompt.txt
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

fix math bot
  dotnet/samples/06.assistants.a.mathBot/Program.cs
Due: pipelines/dotnet.yml

fix azure ai search sample
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appsettings.Development.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appsettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
Due: pipelines/dotnet.yml

[C#] bump: dotnet to v1.6.0 (#2083)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazerBotActions.cs
  dotnet/samples/04.ai.f.vision.cardMaster/Program.cs
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/sequence/skprompt.txt
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/actions.json
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/config.json
  dotnet/samples/04.ai.f.vision.cardMaster/Prompts/tools/skprompt.txt
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appsettings.Development.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appsettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

update model to streaming child interface
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

Fix OpenAIModel initialization with azureADTokenProvider parameter
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

added configureAwait
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

fix conditional checks
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

[JS] fix: #2001 Fix OpenAIModel initialization with azureADTokenProvider parameter (#2096)
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

removed cancellationToken
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/IPromptCompletionModelEvents.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

bumped System.Text.Json to 8.0.5 for security vuln
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
Due: pipelines/dotnet.yml

add streaming docs
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/FUNCTION-CALLS.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/STREAMING.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

added sample bot links
  getting-started/CONCEPTS/STREAMING.md
Due: none

fix array instantiation
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

updated in Activity
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[C#] fix: StreamingResponse array instantiation (#2101)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[repo] chore: add streaming to CONCEPTS docs (#2100)
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/ASSISTANTS-PLANNER.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/FUNCTION-CALLS.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/STREAMING.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

working
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ChatMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatCompletionToolCallTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AssistantsMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAttachmentDownloader.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

minor bump
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

[C#] bump: dotnet to 1.7.0 (#2105)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

refactor: Optimizing the to_string Function
  python/packages/ai/teams/utils/to_string.py
Due: pipelines/python.yml

update to_string function and add test unit
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

Remove botAadApp/create action in favor of aadApp/create
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Update teamsapp.local.yml
  js/samples/04.ai-apps/a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

update linting issue
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/utils/test_to_string.py
Due: pipelines/python.yml

fix merge issues
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

fix merge issues 2
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
Due: pipelines/dotnet.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

layout section bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/LayoutSection.cs
Due: pipelines/dotnet.yml

Fix spelling of 'incoming'
  dotnet/samples/04.ai.a.teamsChefBot/files/c#-migration.txt
  dotnet/samples/04.ai.g.teamsChefBot-streaming/files/c#-migration.txt
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/MIGRATION/02.DOTNET.md
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[repo] docs: fix typo (#2113)
  dotnet/samples/04.ai.a.teamsChefBot/files/c#-migration.txt
  dotnet/samples/04.ai.g.teamsChefBot-streaming/files/c#-migration.txt
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/MIGRATION/02.DOTNET.md
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Update README.md fixed a typo
  README.md
Due: none

Update README.md
  README.md
Due: none

[repo] docs: Update README.md fixed a typo (#2114)
  README.md
Due: none
