Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

[JS] fix: Citations where context was being dropped in OpenAIModel.ts (#2136)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
  python/packages/ai/teams/ai/ai.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

updated with additions
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

[PY] feat: o1 model support (#2123)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/tests/ai/models/test_openai_model.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Due: pipelines/python.yml

Bump package versions for JS patch release
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Due: pipelines/javascript.yml

Update openai package in js folder
  js/package.json
Due: pipelines/javascript.yml

Update yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

Update openai package in devops bot
  js/samples/04.ai-apps/b.devOpsBot/package.json
Due: pipelines/javascript.yml

[JS] chore: patch release v 1.5.3 (#2137)
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

content safety
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AzureContentSafetyModeratorTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModeratorOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/05.chatModeration/.editorconfig
  dotnet/samples/05.chatModeration/.gitignore
  dotnet/samples/05.chatModeration/ActionHandlers.cs
  dotnet/samples/05.chatModeration/AdapterWithErrorHandler.cs
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/05.chatModeration/ChatModeration.sln
  dotnet/samples/05.chatModeration/Config.cs
  dotnet/samples/05.chatModeration/Controllers/BotController.cs
  dotnet/samples/05.chatModeration/Program.cs
  dotnet/samples/05.chatModeration/Prompts/Chat/config.json
  dotnet/samples/05.chatModeration/Prompts/Chat/skprompt.txt
  dotnet/samples/05.chatModeration/Properties/launchSettings.json
  dotnet/samples/05.chatModeration/README.md
  dotnet/samples/05.chatModeration/appPackage/manifest.json
  dotnet/samples/05.chatModeration/appsettings.Development.json
  dotnet/samples/05.chatModeration/appsettings.json
  dotnet/samples/05.chatModeration/assets/moderation.png
  dotnet/samples/05.chatModeration/env/.env.dev
  dotnet/samples/05.chatModeration/env/.env.local
  dotnet/samples/05.chatModeration/infra/azure.bicep
  dotnet/samples/05.chatModeration/infra/azure.parameters.json
  dotnet/samples/05.chatModeration/infra/botRegistration/azurebot.bicep
  dotnet/samples/05.chatModeration/infra/botRegistration/readme.md
  dotnet/samples/05.chatModeration/teamsapp.local.yml
  dotnet/samples/05.chatModeration/teamsapp.yml
Due: pipelines/dotnet.yml

Fix deps
  dotnet/samples/05.chatModeration/ChatModeration.csproj
Due: pipelines/dotnet.yml

fixes
  dotnet/samples/05.chatModeration/Program.cs
  dotnet/samples/05.chatModeration/teamsapp.yml
Due: pipelines/dotnet.yml

updated sample bot and feedback loop
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/samples/04.ai.g.teamsChefBot-streaming/Program.cs
Due: pipelines/dotnet.yml

[C#] fix: content safety public preview deprecation (#2138)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AzureContentSafetyModeratorTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModeratorOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/05.chatModeration/.editorconfig
  dotnet/samples/05.chatModeration/.gitignore
  dotnet/samples/05.chatModeration/ActionHandlers.cs
  dotnet/samples/05.chatModeration/AdapterWithErrorHandler.cs
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/05.chatModeration/ChatModeration.sln
  dotnet/samples/05.chatModeration/Config.cs
  dotnet/samples/05.chatModeration/Controllers/BotController.cs
  dotnet/samples/05.chatModeration/Program.cs
  dotnet/samples/05.chatModeration/Prompts/Chat/config.json
  dotnet/samples/05.chatModeration/Prompts/Chat/skprompt.txt
  dotnet/samples/05.chatModeration/Properties/launchSettings.json
  dotnet/samples/05.chatModeration/README.md
  dotnet/samples/05.chatModeration/appPackage/manifest.json
  dotnet/samples/05.chatModeration/appsettings.Development.json
  dotnet/samples/05.chatModeration/appsettings.json
  dotnet/samples/05.chatModeration/assets/moderation.png
  dotnet/samples/05.chatModeration/env/.env.dev
  dotnet/samples/05.chatModeration/env/.env.local
  dotnet/samples/05.chatModeration/infra/azure.bicep
  dotnet/samples/05.chatModeration/infra/azure.parameters.json
  dotnet/samples/05.chatModeration/infra/botRegistration/azurebot.bicep
  dotnet/samples/05.chatModeration/infra/botRegistration/readme.md
  dotnet/samples/05.chatModeration/teamsapp.local.yml
  dotnet/samples/05.chatModeration/teamsapp.yml
Due: pipelines/dotnet.yml

[C#] feat: Generated by AI Label, Feedback Loop, Streaming Buffer, Error Propagation, Entities Metadata (#2139)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ActionPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/ActionPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/samples/04.ai.g.teamsChefBot-streaming/Program.cs
Due: pipelines/dotnet.yml

draft implementation of streaming
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model_emitter.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/prompt_chunk.py
  python/packages/ai/teams/streaming/stream_types.py
  python/packages/ai/teams/streaming/streaming_channel_data.py
  python/packages/ai/teams/streaming/streaming_events.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/ai/models/test_prompt_completion_model_emitter.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

updates with data and nonolocals
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

update keys and use task
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

updated code, with entities, powered by AI - label and feedback
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/__init__.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_completion_model_emitter.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/streaming/__init__.py
  python/packages/ai/teams/streaming/prompt_chunk.py
  python/packages/ai/teams/streaming/stream_handler_types.py
  python/packages/ai/teams/streaming/stream_types.py
  python/packages/ai/teams/streaming/streaming_channel_data.py
  python/packages/ai/teams/streaming/streaming_handlers.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/ai/models/test_prompt_completion_model_emitter.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

removed print
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

added listbot sample
  python/samples/04.ai.h.chainedActions.listBot-streaming/.gitignore
  python/samples/04.ai.h.chainedActions.listBot-streaming/.pylintrc
  python/samples/04.ai.h.chainedActions.listBot-streaming/.vscode/launch.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/.vscode/settings.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/.vscode/tasks.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/.webappignore
  python/samples/04.ai.h.chainedActions.listBot-streaming/README.md
  python/samples/04.ai.h.chainedActions.listBot-streaming/appPackage/color.png
  python/samples/04.ai.h.chainedActions.listBot-streaming/appPackage/manifest.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/appPackage/outline.png
  python/samples/04.ai.h.chainedActions.listBot-streaming/env/.env.dev
  python/samples/04.ai.h.chainedActions.listBot-streaming/env/.env.dev.user
  python/samples/04.ai.h.chainedActions.listBot-streaming/env/.env.local
  python/samples/04.ai.h.chainedActions.listBot-streaming/env/.env.local.user
  python/samples/04.ai.h.chainedActions.listBot-streaming/infra/azure.bicep
  python/samples/04.ai.h.chainedActions.listBot-streaming/infra/azure.parameters.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/sample.env
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/__init__.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/ci.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/clean.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/fmt.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/lint.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/start.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/scripts/test.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/api.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/app.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/bot.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/config.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/prompts/tools/actions.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/prompts/tools/config.json
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/prompts/tools/skprompt.txt
  python/samples/04.ai.h.chainedActions.listBot-streaming/src/state.py
  python/samples/04.ai.h.chainedActions.listBot-streaming/teamsapp.local.yml
  python/samples/04.ai.h.chainedActions.listBot-streaming/teamsapp.yml
Due: pipelines/python.yml

added citations, sensitivity label, and docs
  getting-started/CONCEPTS/STREAMING.md
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/streaming/streaming_channel_data.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

added citations and sensitivity label
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/types/AIEntity.ts
Due: pipelines/javascript.yml

fixed typo
  js/packages/teams-ai/src/types/AIEntity.ts
Due: pipelines/javascript.yml

add sensitivity label and citations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

fixed test case
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
Due: pipelines/dotnet.yml

update twenty questions & o1 model fix
  python/packages/ai/teams/ai/models/openai_model.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Due: pipelines/python.yml

aoai o1 fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/04.e.twentyQuestions/teamsapp.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Due: pipelines/dotnet.yml

refactor to fix linting errors
  python/packages/ai/teams/ai/models/openai_model.py
Due: pipelines/python.yml

fix xml comment warning
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

add managed identtiy auth
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/samples/06.assistants.a.mathBot/src/bot.py
Due: pipelines/python.yml

add azure identity package
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.a.mathBot/teamsapp.yml
Due: pipelines/python.yml

update samples
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/python.yml

tests updated
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

[JS] feat: Streaming - Citations & Sensitivity Label (#2146)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/models/OpenAIModel.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/types/AIEntity.ts
Due: pipelines/javascript.yml

[C#] feat: Streaming - Citations & Sensitivity Label (#2147)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
Due: pipelines/dotnet.yml

fix lint
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

lint fix
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Due: pipelines/python.yml

refactor and add unit tests
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

fix lint errors
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

Remove @azure/openai-assistants package and use openai in AssistantsPlanner.ts
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
