Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

accept pythonic rec
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

stray param, fmt
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

context.state.temp.duplicate_token_exchange remove
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

unused imports
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

adding tests
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

more get token tests
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

[PY] feat: SSO - Deduplication (#1890)
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/sso/sso_dialog.py
  python/packages/ai/teams/auth/sso/sso_options.py
  python/packages/ai/tests/auth/test_sso_dialog.py
Due: pipelines/python.yml

lint cleanup of new tests
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

rename workspace
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
Due: pipelines/javascript.yml

[JS] feat: add support for new o1 models (#2021)
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/tools/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Fix openai version for devOpsBot
  js/samples/04.ai-apps/b.devOpsBot/package.json
Due: pipelines/javascript.yml

[JS] fix: Fix openai version for devOpsBot (#2031)
  js/samples/04.ai-apps/b.devOpsBot/package.json
Due: pipelines/javascript.yml

[JS] feat: support multiple adaptive card `actionExecuteResponse` type (#1948)
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/AdaptiveCards.ts
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
Due: pipelines/javascript.yml

add attachments to stream
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

updated yarn
  js/yarn.lock
Due: pipelines/javascript.yml

Update typescript and gpt-tokenizer
  js/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/index.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/appPackage/manifest.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/b.oauth-bot/teamsapp.yml
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[repo] chore: Update CONTRIBUTING.md (#2035)
  CONTRIBUTING.md
Due: none

added attachments option to existing planner flow
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

fix testmodel class
  js/packages/teams-ai/src/models/TestModel.ts
Due: pipelines/javascript.yml

removed extra check for handler in endStream
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

updated to addAttachments fn
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

add getter for message
  js/packages/teams-ai/src/StreamingResponse.ts
Due: pipelines/javascript.yml

stream msg in sample
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

Bump typescript in missed package.json
  js/packages/teams-ai/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Update tsconfig files to use ESNext consistently
  js/samples/01.getting-started/a.echoBot/tsconfig.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/tsconfig.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/tsconfig.json
  js/samples/03.ai-concepts/a.twentyQuestions/tsconfig.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/tsconfig.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/tsconfig.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/tsconfig.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/tsconfig.json
  js/samples/03.ai-concepts/f.chatModeration/tsconfig.json
  js/samples/04.ai-apps/a.teamsChefBot/tsconfig.json
  js/samples/04.ai-apps/b.devOpsBot/tsconfig.json
  js/samples/04.ai-apps/c.vision-cardGazer/tsconfig.json
  js/samples/04.ai-apps/d.assistants-mathBot/tsconfig.json
  js/samples/04.ai-apps/e.assistants-orderBot/tsconfig.json
  js/samples/04.ai-apps/f.whoBot/tsconfig.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/tsconfig.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/tsconfig.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/tsconfig.json
  js/samples/05.authentication/a.oauth-adaptiveCard/tsconfig.json
  js/samples/05.authentication/b.oauth-bot/tsconfig.json
  js/samples/05.authentication/c.oauth-messageExtension/tsconfig.json
  js/samples/05.authentication/d.teamsSSO-bot/tsconfig.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/tsconfig.json
  js/tsconfig.json
Due: pipelines/javascript.yml

updated AC
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

restored prev yarn lock
  js/yarn.lock
Due: pipelines/javascript.yml

[PY] feat: SSO - auth-sign-in (#1976)
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
Due: pipelines/python.yml

[JS] feat: attachments in final stream chunk (#2032)
  js/packages/teams-ai/src/StreamingResponse.spec.ts
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/models/TestModel.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
Due: pipelines/javascript.yml

updated README for streaming
  js/samples/04.ai-apps/i.teamsChefBot-streaming/README.md
Due: pipelines/javascript.yml

[repo] chore: update README for streaming (#2044)
  js/samples/04.ai-apps/i.teamsChefBot-streaming/README.md
Due: pipelines/javascript.yml

JS package bump
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Update streaming sample teams ai version
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
Due: pipelines/javascript.yml

[JS] chore: bump packages (#2045)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/i.teamsChefBot-streaming/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

[PY] docs : Update README.md
  python/samples/04.ai.f.dataSource.azureOpenAI/README.md
Due: pipelines/python.yml

[PY] docs: Update README.md #other-ways-to-run-the-sample
  python/samples/06.auth.oauth.messageExtensions/README.md
Due: pipelines/python.yml

[PY] docs: Update README.md #other-ways-to-run-the-sample
  python/samples/06.auth.oauth.bot/README.md
Due: pipelines/python.yml
