Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

Update codeowners and dependabot.yml to include python
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Fix asterisk for CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix escape pattern according to github
  .github/CODEOWNERS
Due: none

Update pyproject.toml
  python/packages/ai/pyproject.toml
Due: none

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

update lcov for python
  .github/workflows/coverage.yml
  python/packages/ai/pyproject.toml
Due: none

[repo] chore: Update codeowners and dependabot.yml to include python (#1341)
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

Create python.yml
  pipelines/python.yml
Due: none

Update python.yml
  pipelines/python.yml
Due: none

Update README.md
  README.md
Due: none

set node engine for recommended node version
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

[JS] chore: set recommended node version (#1344)
  js/packages/teams-ai/package.json
Due: pipelines/javascript.yml

add license and publish python
  python/packages/ai/LICENSE
  python/packages/ai/pyproject.toml
Due: none

Update README.md
  python/packages/ai/README.md
Due: none

add generics back
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/actions/action_entry.py
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings/meetings.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/route.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/bot.py
Due: none

[PY] fix: support custom TurnState (#1348)
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/actions/action_entry.py
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings/meetings.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/route.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/bot.py
Due: none

updatead docs for python
  README.md
  dotnet/packages/Microsoft.TeamsAI/README.md
  getting-started/MIGRATION/DOTNET.md
  getting-started/MIGRATION/JS.md
  getting-started/MIGRATION/PYTHON.md
  getting-started/MIGRATION/README.md
  getting-started/QUICKSTART.md
  getting-started/README.md
Due: pipelines/dotnet.yml

removed extra space
  README.md
Due: none

Update JS to use GPTTokenizer by default (cl100k_base encoding for gpt 3.5 and 4)
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
  js/packages/teams-ai/src/prompts/UserMessage.spec.ts
  js/packages/teams-ai/src/tokenizers/GPTTokenizer.ts
  js/packages/teams-ai/src/tokenizers/index.ts
Due: pipelines/javascript.yml

Update unit tests that use a tokenizer.
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/dataSources/TextDataSource.spec.ts
  js/packages/teams-ai/src/internals/testing/TestModel.spec.ts
  js/packages/teams-ai/src/prompts/AssistantMessage.spec.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.spec.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.spec.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.spec.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.spec.ts
  js/packages/teams-ai/src/prompts/GroupSection.spec.ts
  js/packages/teams-ai/src/prompts/Prompt.spec.ts
  js/packages/teams-ai/src/prompts/PromptSectionBase.spec.ts
  js/packages/teams-ai/src/prompts/SystemMessage.spec.ts
  js/packages/teams-ai/src/prompts/TemplateSection.spec.ts
  js/packages/teams-ai/src/prompts/TextSection.spec.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.spec.ts
  js/packages/teams-ai/src/tokenizers/GPTTokenizer.spec.ts
Due: pipelines/javascript.yml

Update more unit testa and Add docs fixes
  js/packages/api/teams-ai.api.json
  js/packages/api/teams-ai.api.md
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/Meetings.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/authentication/TeamsSsoAdaptiveCardAuthentication.ts
  js/packages/teams-ai/src/internals/testing/TestMemoryFork.ts
  js/packages/teams-ai/src/prompts/Prompt.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/validators/ActionResponseValidator.spec.ts
  js/packages/teams-ai/src/validators/DefaultResponseValidator.spec.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.spec.ts
Due: pipelines/javascript.yml

Turn off no prototype builtins eslint rule and fix more docs lint warnings
  js/.eslintrc
  js/packages/teams-ai/src/augmentations/ActionAugmentationSection.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/authentication/TeamsBotSsoPrompt.spec.ts
  js/packages/teams-ai/src/authentication/TeamsBotSsoPrompt.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.ts
  js/packages/teams-ai/src/authentication/TeamsSsoMessageExtensionAuthentication.ts
  js/packages/teams-ai/src/dataSources/TextDataSource.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Fix documentation links in js root README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Update getting-started/MIGRATION/PYTHON.md
  getting-started/MIGRATION/PYTHON.md
Due: none

Prevent test files from being published
  js/packages/teams-ai/tsconfig.json
Due: pipelines/javascript.yml

Fix Utilities test
  js/packages/api/teams-ai.api.json
  js/packages/api/teams-ai.api.md
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
Due: pipelines/javascript.yml

feat: deploy Python echo bot to azure
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/env/.env.dev
  python/samples/01.messaging.a.echoBot/env/.env.dev.user
  python/samples/01.messaging.a.echoBot/env/.env.local
  python/samples/01.messaging.a.echoBot/env/.env.local.user
  python/samples/01.messaging.a.echoBot/infra/azure.bicep
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/teamsapp.local.yml
  python/samples/01.messaging.a.echoBot/teamsapp.yml
Due: none

feat: (wip)add AI-ME
  python/samples/04.ai.b.messageExtensions.AI-ME/.gitignore
  python/samples/04.ai.b.messageExtensions.AI-ME/.pylintrc
  python/samples/04.ai.b.messageExtensions.AI-ME/.vscode/launch.json
  python/samples/04.ai.b.messageExtensions.AI-ME/.vscode/settings.json
  python/samples/04.ai.b.messageExtensions.AI-ME/.vscode/tasks.json
  python/samples/04.ai.b.messageExtensions.AI-ME/.webappignore
  python/samples/04.ai.b.messageExtensions.AI-ME/README.md
  python/samples/04.ai.b.messageExtensions.AI-ME/appPackage/color.png
  python/samples/04.ai.b.messageExtensions.AI-ME/appPackage/manifest.json
  python/samples/04.ai.b.messageExtensions.AI-ME/appPackage/outline.png
  python/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.bicep
  python/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.parameters.json
  python/samples/04.ai.b.messageExtensions.AI-ME/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/sample.env
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/__init__.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/ci.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/clean.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/fmt.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/lint.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/start.py
  python/samples/04.ai.b.messageExtensions.AI-ME/scripts/test.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/api.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/app.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/cards/edit_view.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/cards/initial_view.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/cards/post_card.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/config.py
  python/samples/04.ai.b.messageExtensions.AI-ME/src/prompts/generate/config.json
  python/samples/04.ai.b.messageExtensions.AI-ME/src/prompts/generate/skprompt.txt
  python/samples/04.ai.b.messageExtensions.AI-ME/src/prompts/update/config.json
  python/samples/04.ai.b.messageExtensions.AI-ME/src/prompts/update/skprompt.txt
  python/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.local.yml
  python/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.yml
Due: none

add package links to root readme
  README.md
Due: none

[repo] docs: updating migration and docs for python (#1351)
  README.md
  dotnet/packages/Microsoft.TeamsAI/README.md
  getting-started/MIGRATION/DOTNET.md
  getting-started/MIGRATION/JS.md
  getting-started/MIGRATION/PYTHON.md
  getting-started/MIGRATION/README.md
  getting-started/QUICKSTART.md
  getting-started/README.md
Due: pipelines/dotnet.yml

initial breaking implementation for lightbot
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/sections/action_augmentation_section.py
  python/packages/ai/teams/ai/utilities.py
  python/samples/04.ai.c.actionMapping.lightBot/.gitignore
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/launch.json
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/settings.json
  python/samples/04.ai.c.actionMapping.lightBot/.webappignore
  python/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  python/samples/04.ai.c.actionMapping.lightBot/infra/azure.parameters.json
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/sample.env
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/app.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/chatGPT/config.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/chatGPT/skprompt.txt
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/sequence/actions.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/sequence/config.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/sequence/skprompt.txt
  python/samples/04.ai.c.actionMapping.lightBot/src/state.py
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
