Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

Update getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
Due: none

Update getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/PROMPTS.md
Due: none

Fixed test files pointing to incorrect path
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Due: pipelines/javascript.yml

Apply suggestions from code review
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
Due: none

remove uneccessry readme
  js/packages/README.md
Due: pipelines/javascript.yml

[repo] docs: added concepts to the getting started docs (#1176)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/MIGRATION/DOTNET.md
  getting-started/MIGRATION/JS.md
  getting-started/MIGRATION/README.md
  getting-started/assets/routing-logic.png
  js/packages/README.md
  js/packages/teams-ai/src/Application.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

added data source docs
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

updated reference to data sources, added RAG link, put specific chefbot comment
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

improve model response
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

fixed response string
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
Due: pipelines/dotnet.yml

Fix doc line in AI
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

[C#] feat: add unit test for models
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatRoleTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/SequentialDelayStrategyTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AddQueryRequestPolicy.cs
Due: pipelines/dotnet.yml

add more
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatRoleTests.cs
Due: pipelines/dotnet.yml

Update getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTION-PLANNER.md
Due: none

validate bug fix works
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
Due: pipelines/dotnet.yml

fix uninformative message
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

typo
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

fix failing test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
Due: pipelines/dotnet.yml

[C#] fix: Uninformative message when max repair attempts in Action Planner (#1188)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
Due: pipelines/dotnet.yml

[JS] fix: Uninformative message when max repair attempts in Action Planner (#1189)
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

[repo] docs: added Data Sources to getting started docs (#1184)
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

implemented data sources logic
  python/packages/ai/teams/ai/data_sources/__init__.py
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/prompt_section.py
  python/packages/ai/teams/memory_fork.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
Due: none

removed memory_fork file
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/memory_fork.py
Due: none

Clean up dev dependencies - remove @types/axios and typedoc
  js/package.json
  js/packages/teams-ai/package.json
  js/yarn.lock
Due: pipelines/javascript.yml

Apply PR fixes and update PR template to not mention typedoc
  .github/pull_request_template.md
  js/packages/teams-ai/src/MemoryFork.ts
Due: pipelines/javascript.yml

[PY] feat: add data sources (#1193)
  python/packages/ai/teams/ai/data_sources/__init__.py
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/prompt_section.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
Due: none

[C#] feat: add unit test for models (#1187)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatRoleTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/SequentialDelayStrategyTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AddQueryRequestPolicy.cs
Due: pipelines/dotnet.yml

feat: add PromptSectionBase and TextSection
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
Due: none

test: add test cases for layout engine
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/layout_engine.py
  python/packages/ai/teams/ai/promptsv2/message.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/prompt_section.py
  python/packages/ai/tests/ai/prompts/test_layout_engine.py
Due: none

test: add test cases for PromptSectionBase
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/message.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
Due: none

test: add test case for TextSection
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
  python/packages/ai/tests/ai/prompts/test_text_section.py
Due: none

docs: add docstring
  python/packages/ai/teams/ai/promptsv2/function_call.py
  python/packages/ai/teams/ai/promptsv2/layout_engine.py
  python/packages/ai/teams/ai/promptsv2/message.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_layout.py
  python/packages/ai/teams/ai/promptsv2/rendered_prompt_section.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
