Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

Fix
  python/samples/04.ai.g.autogen.product-spec-critique/src/bot.py
Due: pipelines/python.yml

Fix filename for OpenAIFunction
  js/packages/teams-ai/src/types/OpenAIFunction.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Begin tools handling in OpenAIModel
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
Due: pipelines/javascript.yml

[PY] fix: Use download url if possible in TeamsAttachmentDownloader (#1786)
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

[PY] feat: Add Autogen Planner Python sample (#1787)
  python/samples/04.ai.g.autogen.product-spec-critique/.gitignore
  python/samples/04.ai.g.autogen.product-spec-critique/.pylintrc
  python/samples/04.ai.g.autogen.product-spec-critique/.vscode/launch.json
  python/samples/04.ai.g.autogen.product-spec-critique/.vscode/settings.json
  python/samples/04.ai.g.autogen.product-spec-critique/.vscode/tasks.json
  python/samples/04.ai.g.autogen.product-spec-critique/.webappignore
  python/samples/04.ai.g.autogen.product-spec-critique/PM-spec-barebones.md
  python/samples/04.ai.g.autogen.product-spec-critique/PM-spec-good.md
  python/samples/04.ai.g.autogen.product-spec-critique/README.md
  python/samples/04.ai.g.autogen.product-spec-critique/appPackage/color.png
  python/samples/04.ai.g.autogen.product-spec-critique/appPackage/manifest.json
  python/samples/04.ai.g.autogen.product-spec-critique/appPackage/outline.png
  python/samples/04.ai.g.autogen.product-spec-critique/image.png
  python/samples/04.ai.g.autogen.product-spec-critique/infra/azure.bicep
  python/samples/04.ai.g.autogen.product-spec-critique/infra/azure.parameters.json
  python/samples/04.ai.g.autogen.product-spec-critique/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/sample.env
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/__init__.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/ci.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/clean.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/fmt.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/lint.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/start.py
  python/samples/04.ai.g.autogen.product-spec-critique/scripts/test.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/api.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/app.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/autogen_planner.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/bot.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/config.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/group_chat_history_adaptive_card.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/spec_critique_group.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/state.py
  python/samples/04.ai.g.autogen.product-spec-critique/src/teams_user_proxy.py
  python/samples/04.ai.g.autogen.product-spec-critique/teamsapp.local.yml
  python/samples/04.ai.g.autogen.product-spec-critique/teamsapp.yml
Due: pipelines/python.yml

fix bug
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
Due: pipelines/python.yml

linter
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

lint fix
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

[PY] fix: Citations UI was not showing (#1799)
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Due: pipelines/python.yml

restored older poetry file
  python/packages/ai/poetry.lock
Due: pipelines/python.yml

images
  python/samples/04.ai.g.autogen.product-spec-critique/appPackage/color.png
  python/samples/04.ai.g.autogen.product-spec-critique/image.png
Due: pipelines/python.yml

requested changes
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.webappignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/outline.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/skprompt.txt
Due: pipelines/javascript.yml

[JS] chore: OYD Sample Requested Changes (#1802)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.webappignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/outline.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/skprompt.txt
Due: pipelines/javascript.yml

Update azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
Due: pipelines/javascript.yml

initial port
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

fixing for input_file
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

[PY] fix: typing for input_file (#1811)
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

exploring action entry
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

calling up the ActionHandler
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

release for 1.2.2
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

restore csproj files
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

fixed csproj changes
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

restored to origin file format
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[PY] chore: release 1.2.2 (#1823)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

Re-add env files to Teams ChefBot sample
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.dev
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.local
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.local.user
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.staging
  js/samples/04.ai-apps/a.teamsChefBot/sample.env
Due: pipelines/javascript.yml

Update citations images
  getting-started/assets/citations-example.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
Due: pipelines/javascript.yml

Update sample.env for OYD sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Due: pipelines/javascript.yml

[repo] chore: Fix env files for Teams chef bot and other cleanup (#1825)
  getting-started/assets/citations-example.png
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.dev
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.local
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.local.user
  js/samples/04.ai-apps/a.teamsChefBot/env/.env.staging
  js/samples/04.ai-apps/a.teamsChefBot/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
Due: pipelines/javascript.yml

updated README for autogen sample
  python/samples/04.ai.g.autogen.product-spec-critique/README.md
Due: pipelines/python.yml

updated link to title
  python/samples/04.ai.g.autogen.product-spec-critique/README.md
Due: pipelines/python.yml

[PY] chore: updated README for autogen sample (#1827)
  python/samples/04.ai.g.autogen.product-spec-critique/README.md
Due: pipelines/python.yml

Add new interface OpenAIFunction
  js/packages/teams-ai/src/types/OpenAIFuncion.ts
Due: pipelines/javascript.yml

Refactor CompletionConfig into types folder
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
  js/packages/teams-ai/src/types/index.ts
Due: pipelines/javascript.yml

Refactor PromptResponse into types folder
  js/packages/teams-ai/src/internals/testing/TestModel.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/PromptCompletionModel.ts
  js/packages/teams-ai/src/models/TestModel.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
  js/packages/teams-ai/src/types/PromptResponse.ts
  js/packages/teams-ai/src/types/index.ts
  js/packages/teams-ai/src/validators/PromptResponseValidator.ts
Due: pipelines/javascript.yml

Add tools config options to CompletionConfig interface
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/types/CompletionConfig.ts
Due: pipelines/javascript.yml

Linting changes for OpenAIModel
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Update PromptResponseStatus to include tools_error
  js/packages/teams-ai/src/types/PromptResponse.ts
Due: pipelines/javascript.yml

Add tools to TempState and set in AI.ts
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/TurnState.ts
Due: pipelines/javascript.yml

Rename tools to toolHandlers to avoid collision with Assistants API tools
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/TurnState.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
