Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

updates
  new-getting-started/00.OVERVIEW.md
  new-getting-started/02.SAMPLES.md
  new-getting-started/MIGRATION/00.OVERVIEW.md
  new-getting-started/MIGRATION/01.JS.md
  new-getting-started/MIGRATION/02.DOTNET.md
Due: none

Update 01.JS.md
  new-getting-started/MIGRATION/01.JS.md
Due: none

Update 02.DOTNET.md
  new-getting-started/MIGRATION/02.DOTNET.md
Due: none

Update 00.OVERVIEW.md
  new-getting-started/00.OVERVIEW.md
Due: none

dotnet migration
  new-getting-started/MIGRATION/02.DOTNET.md
Due: none

Update 00.OVERVIEW.md
  new-getting-started/MIGRATION/00.OVERVIEW.md
Due: none

update getting started
  README.md
  getting-started/00.OVERVIEW.md
  getting-started/00.PROMPTS.md
  getting-started/01.PROMPT-TEMPLATES.md
  getting-started/01.QUICKSTART.md
  getting-started/02.PLANNER.md
  getting-started/02.SAMPLES.md
  getting-started/03.ACTIONS.md
  getting-started/04.CHAIN.md
  getting-started/05.TURNS.md
  getting-started/MIGRATION/00.OVERVIEW.md
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
  getting-started/OTHER/BOTFRAMEWORK-EMULATOR.md
  getting-started/OTHER/README.md
  getting-started/OTHER/TEAMS-TOOLKIT.md
  getting-started/README.md
  getting-started/assets/quickstart-echobot-add.png
  getting-started/assets/quickstart-echobot-demo.png
  getting-started/dotnet/00.MIGRATION.md
  getting-started/dotnet/01.AI-SETUP.md
  getting-started/dotnet/02.ACTIVITY-ROUTING.md
  getting-started/js/00.MIGRATION.md
  getting-started/js/01.AI-SETUP.md
  getting-started/js/02.ACTIVITY-ROUTING.md
  getting-started/js/03.QNA.md
  new-getting-started/OTHER/BOTFRAMEWORK-EMULATOR.md
  new-getting-started/OTHER/MANUAL-RESOURCE-SETUP.md
  new-getting-started/OTHER/README.md
  new-getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  new-getting-started/OTHER/TEAMS-TOOLKIT.md
  new-getting-started/assets/BotFrameworkEmulator.jpg
  new-getting-started/assets/image.png
Due: none

update reference links
  js/packages/teams-ai/README.md
  js/samples/01.messaging.a.echoBot/README.md
  js/samples/06.auth.teamsSSO.bot/README.md
Due: pipelines/javascript.yml

update dotnet docs
  dotnet/packages/Microsoft.TeamsAI/README.md
Due: pipelines/dotnet.yml

Update README.md
  dotnet/samples/README.md
Due: pipelines/dotnet.yml

Update README.md
  js/samples/README.md
Due: pipelines/javascript.yml

[C#] feat: LLMClient unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
Due: pipelines/dotnet.yml

feat: llmclient test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
Due: pipelines/dotnet.yml

[C#] test: add OpenAIModel UT
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

update c# readme
  dotnet/packages/Microsoft.TeamsAI/README.md
Due: pipelines/dotnet.yml

[JS] fix: fix type of image message (#1124)
  js/packages/teams-ai/src/prompts/Message.ts
  js/packages/teams-ai/src/prompts/UserInputMessage.ts
Due: pipelines/javascript.yml

[C#] feat: LLMClient unit tests (#1128)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/LLMClientTests.cs
Due: pipelines/dotnet.yml

wip
  python/packages/ai/teams/state/default_conversation_state.py
  python/packages/ai/teams/state/default_temp_state.py
  python/packages/ai/teams/state/default_user_state.py
  python/packages/ai/teams/state/turn_state.py
Due: none

Updated sample.env
  js/samples/04.ai.a.teamsChefBot/sample.env
Due: pipelines/javascript.yml

Update README.md
  js/samples/04.ai.a.teamsChefBot/README.md
Due: pipelines/javascript.yml

add more
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

add test logger
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

Update README.md
  dotnet/packages/Microsoft.TeamsAI/README.md
Due: pipelines/dotnet.yml

Update README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

refactor js sample docs
  js/samples/04.ai.d.chainedActions.listBot/README.md
  js/samples/README.md
Due: pipelines/javascript.yml

removing duplicate sample instructions
  js/README.md
Due: pipelines/javascript.yml

update js samples readme
  js/samples/01.messaging.a.echoBot/README.md
  js/samples/02.messageExtensions.a.searchCommand/README.md
  js/samples/03.adaptiveCards.a.typeAheadBot/README.md
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/README.md
  js/samples/04.ai.e.chainedActions.devOpsBot/README.md
  js/samples/04.ai.f.vision.cardMaster/README.md
  js/samples/04.e.twentyQuestions/README.md
  js/samples/05.chatModeration/README.md
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.messageExtension/README.md
  js/samples/06.auth.teamsSSO.bot/README.md
  js/samples/06.auth.teamsSSO.messageExtension/README.md
  js/samples/07.whoBot/README.md
Due: pipelines/javascript.yml

update link
  js/samples/01.messaging.a.echoBot/README.md
  js/samples/02.messageExtensions.a.searchCommand/README.md
  js/samples/03.adaptiveCards.a.typeAheadBot/README.md
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/README.md
  js/samples/04.ai.e.chainedActions.devOpsBot/README.md
  js/samples/04.ai.f.vision.cardMaster/README.md
  js/samples/04.e.twentyQuestions/README.md
  js/samples/05.chatModeration/README.md
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.messageExtension/README.md
  js/samples/06.auth.teamsSSO.bot/README.md
  js/samples/06.auth.teamsSSO.messageExtension/README.md
  js/samples/07.whoBot/README.md
  js/samples/README.md
Due: pipelines/javascript.yml

fix navigation formatting
  getting-started/00.OVERVIEW.md
  getting-started/01.QUICKSTART.md
  getting-started/02.SAMPLES.md
  getting-started/MIGRATION/00.OVERVIEW.md
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
Due: none

update formatting
  getting-started/00.OVERVIEW.md
  getting-started/01.QUICKSTART.md
  getting-started/02.SAMPLES.md
  getting-started/MIGRATION/00.OVERVIEW.md
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
Due: none

fix
  getting-started/MIGRATION/01.JS.md
Due: none

rename files to remove ordering
  README.md
  dotnet/packages/Microsoft.TeamsAI/README.md
  dotnet/samples/README.md
  getting-started/MIGRATION/DOTNET.md
  getting-started/MIGRATION/JS.md
  getting-started/MIGRATION/README.md
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
  js/packages/teams-ai/README.md
  js/samples/README.md
Due: pipelines/dotnet.yml, pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
