Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

[PY] feat: add tokenizer (#1172)
  python/packages/ai/teams/ai/tokenizers/__init__.py
  python/packages/ai/teams/ai/tokenizers/gpt_tokenizer.py
  python/packages/ai/teams/ai/tokenizers/tokenizer.py
  python/packages/ai/tests/ai/tokenizers/test_gpt_tokenizer.py
Due: none

[PY] feat: turn state (#1150)
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/default_conversation_state.py
  python/packages/ai/teams/state/default_temp_state.py
  python/packages/ai/teams/state/default_user_state.py
  python/packages/ai/teams/state/memory.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/turn_state_entry.py
  python/packages/ai/tests/state/test_default_conversation_state.py
  python/packages/ai/tests/state/test_default_temp_state.py
  python/packages/ai/tests/state/test_default_user_state.py
  python/packages/ai/tests/state/test_turn_state.py
  python/packages/ai/tests/state/test_turn_state_entry.py
Due: none

[C#] feat: add adapter for telemetry headers (#1174)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationBuilderTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TeamsAdapterTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/SimpleAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/ApplicationOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/TeamsAdapter.cs
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/ApplicationBuilder.spec.ts
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/BotAdapterOptions.ts
  js/packages/teams-ai/src/TeamsAdapter.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.spec.ts
  js/packages/teams-ai/src/TeamsBotFrameworkAuthentication.ts
  js/packages/teams-ai/src/index.ts
Due: pipelines/dotnet.yml, pipelines/javascript.yml

routing logic and augmentations
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/assets/routing-logic.png
Due: none

user authentication
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

authentication
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

inc versions
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  js/packages/teams-ai/package.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

[repo] chore: release `1.1.0` (#1177)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  js/packages/teams-ai/package.json
Due: pipelines/dotnet.yml, pipelines/javascript.yml

update samples to use `TeamsAdapter` in `js`
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/01.messaging.a.echoBot/src/index.ts
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/02.messageExtensions.a.searchCommand/src/index.ts
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/src/index.ts
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/src/index.ts
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/src/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.c.actionMapping.lightBot/src/index.ts
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/src/index.ts
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/src/index.ts
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.ai.f.vision.cardMaster/src/index.ts
  js/samples/04.e.twentyQuestions/package.json
  js/samples/04.e.twentyQuestions/src/index.ts
  js/samples/05.chatModeration/package.json
  js/samples/05.chatModeration/src/index.ts
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.a.mathBot/src/index.ts
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.assistants.b.orderBot/src/index.ts
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.adaptiveCard/src/index.ts
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.bot/src/index.ts
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.oauth.messageExtension/src/index.ts
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.bot/src/index.ts
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/06.auth.teamsSSO.messageExtension/src/index.ts
  js/samples/07.whoBot/package.json
  js/samples/07.whoBot/src/index.ts
Due: pipelines/javascript.yml

update echobot
  dotnet/samples/01.messaging.echoBot/AdapterWithErrorHandler.cs
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/01.messaging.echoBot/Program.cs
Due: pipelines/dotnet.yml

update search command
  dotnet/samples/02.messageExtensions.a.searchCommand/AdapterWithErrorHandler.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/Program.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
Due: pipelines/dotnet.yml

update typeahead
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/AdapterWithErrorHandler.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/Controllers/BotController.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/Program.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
Due: pipelines/dotnet.yml

Update BotController.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/Controllers/BotController.cs
Due: pipelines/dotnet.yml

update chefbot
  dotnet/samples/04.ai.a.teamsChefBot/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.a.teamsChefBot/Controllers/BotController.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
Due: pipelines/dotnet.yml

update gptme
  dotnet/samples/04.ai.b.messageExtensions.gptME/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/Controllers/BotController.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
Due: pipelines/dotnet.yml

update light bot
  dotnet/samples/04.ai.c.actionMapping.lightBot/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
Due: pipelines/dotnet.yml

update list bot
  dotnet/samples/04.ai.d.chainedActions.listBot/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/Controllers/BotController.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
Due: pipelines/dotnet.yml

update chainedactions
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/AdapterWithErrorHandler.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Controllers/BotController.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
Due: pipelines/dotnet.yml

update twentyquestions
  dotnet/samples/04.e.twentyQuestions/AdapterWithErrorHandler.cs
  dotnet/samples/04.e.twentyQuestions/Controllers/BotController.cs
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
Due: pipelines/dotnet.yml

update mathbot
  dotnet/samples/06.assistants.a.mathBot/AdapterWithErrorHandler.cs
  dotnet/samples/06.assistants.a.mathBot/Controllers/BotController.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
Due: pipelines/dotnet.yml

update orderbot
  dotnet/samples/06.assistants.b.orderBot/AdapterWithErrorHandler.cs
  dotnet/samples/06.assistants.b.orderBot/Controllers/BotController.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

update oauth
  dotnet/samples/06.auth.oauth.bot/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.bot/Program.cs
Due: pipelines/dotnet.yml

update oauth message ext
  dotnet/samples/06.auth.oauth.messageExtension/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.oauth.messageExtension/Controllers/BotController.cs
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/Program.cs
Due: pipelines/dotnet.yml

update oauth teams sso
  dotnet/samples/06.auth.teamsSSO.bot/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/Program.cs
Due: pipelines/dotnet.yml

update teamssso message ext
  dotnet/samples/06.auth.teamsSSO.messageExtension/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Controllers/BotController.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/Program.cs
Due: pipelines/dotnet.yml

Update getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTION-PLANNER.md
Due: none

Update getting-started/MIGRATION/JS.md
  getting-started/MIGRATION/JS.md
Due: none

Update getting-started/CONCEPTS/USER-AUTH.md
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

Update ACTIONS.md
  getting-started/CONCEPTS/ACTIONS.md
Due: none

Update APPLICATION.md
  getting-started/CONCEPTS/APPLICATION.md
Due: none

added example for azure content safety moderator in docs
  getting-started/CONCEPTS/MODERATOR.md
Due: none

user auth
  getting-started/CONCEPTS/USER-AUTH.md
Due: none

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
