Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

[C#] chore: Bump .NET library to preview-2 (#937)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] chore: fixed dotnet samples (#933)
  dotnet/samples/04.ai.a.teamsChefBot/ActionHandlers.cs
  dotnet/samples/04.ai.a.teamsChefBot/ActivityHandlers.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/Prompts/Chat/config.json
  dotnet/samples/04.ai.a.teamsChefBot/Prompts/Chat/skprompt.txt
  dotnet/samples/04.ai.a.teamsChefBot/README.md
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/GameBotHandlers.cs
  dotnet/samples/04.e.twentyQuestions/GameState.cs
  dotnet/samples/04.e.twentyQuestions/GameStateManager.cs
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/Prompts/Hint/config.json
  dotnet/samples/04.e.twentyQuestions/Prompts/Hint/skprompt.txt
  dotnet/samples/04.e.twentyQuestions/README.md
Due: pipelines/dotnet.yml

Rename AzureOpenAIM to AzureContentSafetyM
  js/packages/api/teams-ai.api.json
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/index.ts
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/84d4cd91-90ad-4c76-962e-d220e2607436.txt
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/catalog.json
  js/samples/05.chatModeration/src/bot.ts
Due: pipelines/javascript.yml

[JS] chore: add ttk settings for oauth.adaptiveCard sample
  js/samples/06.auth.oauth.adaptiveCard/.vscode/launch.json
  js/samples/06.auth.oauth.adaptiveCard/.vscode/tasks.json
  js/samples/06.auth.oauth.adaptiveCard/.webappignore
  js/samples/06.auth.oauth.adaptiveCard/aad.manifest.json
  js/samples/06.auth.oauth.adaptiveCard/env/.env.dev
  js/samples/06.auth.oauth.adaptiveCard/infra/azure.bicep
  js/samples/06.auth.oauth.adaptiveCard/infra/azure.local.bicep
  js/samples/06.auth.oauth.adaptiveCard/infra/azure.parameters.local.json
  js/samples/06.auth.oauth.adaptiveCard/infra/botRegistration/azurebot.bicep
  js/samples/06.auth.oauth.adaptiveCard/infra/botRegistration/readme.md
  js/samples/06.auth.oauth.adaptiveCard/src/index.ts
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.local.yml
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.yml
Due: pipelines/javascript.yml

chore: add .webappignore for oauth.bot
  js/samples/06.auth.oauth.bot/.webappignore
Due: pipelines/javascript.yml

add .gitignore
  js/samples/06.auth.oauth.adaptiveCard/.gitignore
Due: pipelines/javascript.yml

refactor: fix warnings in code
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AuthenticationManagerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MockedAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/OAuthAdaptiveCardsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/TeamsSsoAdaptiveCardsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AuthenticationManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoPrompt.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/IAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/TeamsSsoAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/TurnStateProperty.cs
Due: pipelines/dotnet.yml

[JS] chore: add ttk settings for oauth.messageExtension sample
  js/samples/06.auth.oauth.messageExtension/.gitignore
  js/samples/06.auth.oauth.messageExtension/.vscode/launch.json
  js/samples/06.auth.oauth.messageExtension/.vscode/tasks.json
  js/samples/06.auth.oauth.messageExtension/.webappignore
  js/samples/06.auth.oauth.messageExtension/aad.manifest.json
  js/samples/06.auth.oauth.messageExtension/env/.env.dev
  js/samples/06.auth.oauth.messageExtension/infra/azure.bicep
  js/samples/06.auth.oauth.messageExtension/infra/azure.local.bicep
  js/samples/06.auth.oauth.messageExtension/infra/azure.parameters.local.json
  js/samples/06.auth.oauth.messageExtension/infra/botRegistration/azurebot.bicep
  js/samples/06.auth.oauth.messageExtension/infra/botRegistration/readme.md
  js/samples/06.auth.oauth.messageExtension/src/index.ts
  js/samples/06.auth.oauth.messageExtension/teamsapp.local.yml
  js/samples/06.auth.oauth.messageExtension/teamsapp.yml
Due: pipelines/javascript.yml

[C#] feat: add teams sso bot auth sample
  dotnet/samples/06.auth.teamsSSO.bot/.gitignore
  dotnet/samples/06.auth.teamsSSO.bot/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.sln
  dotnet/samples/06.auth.teamsSSO.bot/Config.cs
  dotnet/samples/06.auth.teamsSSO.bot/Controllers/BotController.cs
  dotnet/samples/06.auth.teamsSSO.bot/Model/AppState.cs
  dotnet/samples/06.auth.teamsSSO.bot/Program.cs
  dotnet/samples/06.auth.teamsSSO.bot/Properties/launchSettings.json
  dotnet/samples/06.auth.teamsSSO.bot/README.md
  dotnet/samples/06.auth.teamsSSO.bot/aad.manifest.json
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/color.png
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/manifest.json
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/outline.png
  dotnet/samples/06.auth.teamsSSO.bot/appsettings.json
  dotnet/samples/06.auth.teamsSSO.bot/assets/helloworld.png
  dotnet/samples/06.auth.teamsSSO.bot/assets/reset.png
  dotnet/samples/06.auth.teamsSSO.bot/env/.env.dev
  dotnet/samples/06.auth.teamsSSO.bot/infra/azure.bicep
  dotnet/samples/06.auth.teamsSSO.bot/infra/azure.parameters.json
  dotnet/samples/06.auth.teamsSSO.bot/infra/botRegistration/azurebot.bicep
  dotnet/samples/06.auth.teamsSSO.bot/infra/botRegistration/readme.md
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.local.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/wwwroot/auth-end.html
  dotnet/samples/06.auth.teamsSSO.bot/wwwroot/auth-start.html
Due: pipelines/dotnet.yml

[C#] feat: add message extension auth sample
  dotnet/samples/06.auth.teamsSSO.messageExtension/.gitignore
  dotnet/samples/06.auth.teamsSSO.messageExtension/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Config.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Controllers/BotController.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.sln
  dotnet/samples/06.auth.teamsSSO.messageExtension/Model/CardPackage.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Model/Package.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Program.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Properties/launchSettings.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/README.md
  dotnet/samples/06.auth.teamsSSO.messageExtension/Resources/PackageCard.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/SimpleGraphClient.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Utilities.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/aad.manifest.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/color.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/manifest.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/outline.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/appsettings.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/assets/card.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/assets/search.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/env/.env.dev
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/azure.bicep
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/azure.parameters.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/botRegistration/README.md
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/botRegistration/azurebot.bicep
  dotnet/samples/06.auth.teamsSSO.messageExtension/teamsapp.local.yml
  dotnet/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.messageExtension/wwwroot/auth-end.html
  dotnet/samples/06.auth.teamsSSO.messageExtension/wwwroot/auth-start.html
Due: pipelines/dotnet.yml

added Sample for M365 Copilot ME
  js/samples/02.ai.messageExtensions.m365/.eslintignore
  js/samples/02.ai.messageExtensions.m365/.eslintrc
  js/samples/02.ai.messageExtensions.m365/.gitignore
  js/samples/02.ai.messageExtensions.m365/.prettierignore
  js/samples/02.ai.messageExtensions.m365/.prettierrc
  js/samples/02.ai.messageExtensions.m365/README.md
  js/samples/02.ai.messageExtensions.m365/appPackage/color.png
  js/samples/02.ai.messageExtensions.m365/appPackage/manifest.json
  js/samples/02.ai.messageExtensions.m365/appPackage/outline.png
  js/samples/02.ai.messageExtensions.m365/infra/azure.bicep
  js/samples/02.ai.messageExtensions.m365/infra/azure.parameters.json
  js/samples/02.ai.messageExtensions.m365/infra/botRegistration/azurebot.bicep
  js/samples/02.ai.messageExtensions.m365/package.json
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCardFactory.ai.ts
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCardFactory.ts
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCards/expenseReport.json
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCards/expenseReportData.json
  js/samples/02.ai.messageExtensions.m365/src/data.ts
  js/samples/02.ai.messageExtensions.m365/src/index.ts
  js/samples/02.ai.messageExtensions.m365/src/searchApp.ai.ts
  js/samples/02.ai.messageExtensions.m365/src/searchApp.ts
  js/samples/02.ai.messageExtensions.m365/teamsapp.local.yml
  js/samples/02.ai.messageExtensions.m365/teamsapp.yml
  js/samples/02.ai.messageExtensions.m365/tsconfig.json
  js/samples/02.ai.messageExtensions.m365/web.config
Due: pipelines/javascript.yml

removed botframework implementation
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCardFactory.ai.ts
  js/samples/02.ai.messageExtensions.m365/src/adaptiveCardFactory.ts
  js/samples/02.ai.messageExtensions.m365/src/index.ts
  js/samples/02.ai.messageExtensions.m365/src/searchApp.ai.ts
  js/samples/02.ai.messageExtensions.m365/src/searchApp.ts
Due: pipelines/javascript.yml

[C#] refactor: fix warnings and issues in code (#944)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AuthenticationManagerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MockedAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/OAuthAdaptiveCardsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/TeamsSsoAdaptiveCardsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AuthenticationManager.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/OAuthBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoPrompt.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/IAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/MessageExtensionsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/TeamsSsoAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/TurnStateProperty.cs
Due: pipelines/dotnet.yml

remove functions augmentation
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/AugmentationType.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/FunctionsAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
Due: pipelines/dotnet.yml

remove functions augmentation
  js/packages/teams-ai/src/augmentations/FunctionsAugmentation.ts
  js/packages/teams-ai/src/augmentations/index.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Due: pipelines/javascript.yml

[C#] chore: Remove incomplete `functions` augmentation (#950)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/AugmentationType.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/FunctionsAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptManager.cs
Due: pipelines/dotnet.yml

[JS] chore: Remove incomplete `functions` augmentation (#951)
  js/packages/teams-ai/src/augmentations/FunctionsAugmentation.ts
  js/packages/teams-ai/src/augmentations/index.ts
  js/packages/teams-ai/src/prompts/PromptManager.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Due: pipelines/javascript.yml

add kavin as a co-owner for JS and python
  .github/CODEOWNERS
Due: none

[repo] chore: Update Kavin to CODEOWNERS (#952)
  .github/CODEOWNERS
Due: none

[JS] fix: add in missing .vscode folder to samples, and remove duplicate OpenAI key conditional check (#935)
  js/samples/04.ai.b.messageExtensions.AI-ME/src/index.ts
  js/samples/05.chatModeration/.vscode/launch.json
  js/samples/05.chatModeration/.vscode/tasks.json
  js/samples/06.assistants.a.mathBot/.vscode/launch.json
  js/samples/06.assistants.a.mathBot/.vscode/tasks.json
  js/samples/06.assistants.b.orderBot/.vscode/launch.json
  js/samples/06.assistants.b.orderBot/.vscode/tasks.json
Due: pipelines/javascript.yml

[C#] feat: add message extension auth sample (#946)
  dotnet/samples/06.auth.teamsSSO.messageExtension/.gitignore
  dotnet/samples/06.auth.teamsSSO.messageExtension/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Config.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Controllers/BotController.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.sln
  dotnet/samples/06.auth.teamsSSO.messageExtension/Model/CardPackage.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Model/Package.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Program.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Properties/launchSettings.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/README.md
  dotnet/samples/06.auth.teamsSSO.messageExtension/Resources/PackageCard.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/SimpleGraphClient.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/Utilities.cs
  dotnet/samples/06.auth.teamsSSO.messageExtension/aad.manifest.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/color.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/manifest.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/appPackage/outline.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/appsettings.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/assets/card.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/assets/search.png
  dotnet/samples/06.auth.teamsSSO.messageExtension/env/.env.dev
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/azure.bicep
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/azure.parameters.json
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/botRegistration/README.md
  dotnet/samples/06.auth.teamsSSO.messageExtension/infra/botRegistration/azurebot.bicep
  dotnet/samples/06.auth.teamsSSO.messageExtension/teamsapp.local.yml
  dotnet/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.messageExtension/wwwroot/auth-end.html
  dotnet/samples/06.auth.teamsSSO.messageExtension/wwwroot/auth-start.html
Due: pipelines/dotnet.yml

[C#] feat: add teams sso bot auth sample (#945)
  dotnet/samples/06.auth.teamsSSO.bot/.gitignore
  dotnet/samples/06.auth.teamsSSO.bot/AdapterWithErrorHandler.cs
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.sln
  dotnet/samples/06.auth.teamsSSO.bot/Config.cs
  dotnet/samples/06.auth.teamsSSO.bot/Controllers/BotController.cs
  dotnet/samples/06.auth.teamsSSO.bot/Model/AppState.cs
  dotnet/samples/06.auth.teamsSSO.bot/Program.cs
  dotnet/samples/06.auth.teamsSSO.bot/Properties/launchSettings.json
  dotnet/samples/06.auth.teamsSSO.bot/README.md
  dotnet/samples/06.auth.teamsSSO.bot/aad.manifest.json
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/color.png
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/manifest.json
  dotnet/samples/06.auth.teamsSSO.bot/appPackage/outline.png
  dotnet/samples/06.auth.teamsSSO.bot/appsettings.json
  dotnet/samples/06.auth.teamsSSO.bot/assets/helloworld.png
  dotnet/samples/06.auth.teamsSSO.bot/assets/reset.png
  dotnet/samples/06.auth.teamsSSO.bot/env/.env.dev
  dotnet/samples/06.auth.teamsSSO.bot/infra/azure.bicep
  dotnet/samples/06.auth.teamsSSO.bot/infra/azure.parameters.json
  dotnet/samples/06.auth.teamsSSO.bot/infra/botRegistration/azurebot.bicep
  dotnet/samples/06.auth.teamsSSO.bot/infra/botRegistration/readme.md
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.local.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/wwwroot/auth-end.html
  dotnet/samples/06.auth.teamsSSO.bot/wwwroot/auth-start.html
Due: pipelines/dotnet.yml

fix auth bot setup
  js/samples/06.auth.oauth.bot/.vscode/tasks.json
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.bot/teamsapp.local.yml
Due: pipelines/javascript.yml

fix adaptive card auth
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.local.yml
Due: pipelines/javascript.yml

fixed sample setup for chatmod
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/sample.env
  js/samples/05.chatModeration/src/bot.ts
  js/samples/05.chatModeration/teamsapp.local.yml
Due: pipelines/javascript.yml

remove npm install from .yml file
  js/samples/06.auth.oauth.messageExtension/teamsapp.local.yml
Due: pipelines/javascript.yml

remove yarn install and build from local yml
  js/samples/05.chatModeration/teamsapp.local.yml
Due: pipelines/javascript.yml

update me auth readme
  js/samples/06.auth.oauth.messageExtension/README.md
Due: pipelines/javascript.yml

[JS] chore: Fix auth sample TTK F5 flow (#956)
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.local.yml
  js/samples/06.auth.oauth.bot/.vscode/tasks.json
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.bot/teamsapp.local.yml
  js/samples/06.auth.oauth.messageExtension/README.md
  js/samples/06.auth.oauth.messageExtension/teamsapp.local.yml
Due: pipelines/javascript.yml

Update env property name
  js/samples/05.chatModeration/src/bot.ts
  js/samples/05.chatModeration/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
Due: pipelines/javascript.yml

updated env setup for mathbot
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.a.mathBot/sample.env
  js/samples/06.assistants.a.mathBot/src/bot.ts
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Update moderator name
  js/packages/api/teams-ai.api.json
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/index.ts
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/84d4cd91-90ad-4c76-962e-d220e2607436.txt
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/catalog.json
  js/samples/05.chatModeration/src/bot.ts
  js/samples/05.chatModeration/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
Due: pipelines/javascript.yml

[JS] fix: #802 Update moderator name from OpenAI to Content Safety (#986)
  js/packages/api/teams-ai.api.json
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/index.ts
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/84d4cd91-90ad-4c76-962e-d220e2607436.txt
  js/samples/04.ai.a.teamsChefBot/index/teams-ai/catalog.json
  js/samples/05.chatModeration/src/bot.ts
  js/samples/05.chatModeration/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
