Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

[PY] feat: python prompts layout engine (#1180)
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/function_call.py
  python/packages/ai/teams/ai/promptsv2/layout_engine.py
  python/packages/ai/teams/ai/promptsv2/message.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/prompt_section.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_layout.py
  python/packages/ai/teams/ai/promptsv2/rendered_prompt_section.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
  python/packages/ai/tests/ai/prompts/test_layout_engine.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
  python/packages/ai/tests/ai/prompts/test_text_section.py
Due: none

turn state unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/CustomTurnState.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
Due: pipelines/dotnet.yml

add more coverage
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
Due: pipelines/dotnet.yml

add validators
  python/packages/ai/.pylintrc
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/modelsv2/__init__.py
  python/packages/ai/teams/ai/modelsv2/chat_completion_action.py
  python/packages/ai/teams/ai/modelsv2/prompt_response.py
  python/packages/ai/teams/ai/validators/__init__.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
  python/packages/ai/teams/ai/validators/validation.py
  python/packages/ai/teams/utils/__init__.py
  python/packages/ai/teams/utils/json/__init__.py
  python/packages/ai/teams/utils/json/parse.py
  python/packages/ai/teams/utils/json/parse_object.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
Due: none

[C#] chore: Turn State unit tests (#1199)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/CustomTurnState.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
Due: pipelines/dotnet.yml

fix bug 1087
  js/packages/teams-ai/src/prompts/TemplateSection.spec.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
Due: pipelines/javascript.yml

fix bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PromptsTests/SectionsTests/TemplateSectionTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/TemplateSection.cs
Due: pipelines/dotnet.yml

[C#] fix: template syntax whitespace bug (#1205)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/PromptsTests/SectionsTests/TemplateSectionTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/TemplateSection.cs
Due: pipelines/dotnet.yml

[JS] fix: template syntax whitespace bug (#1206)
  js/packages/teams-ai/src/prompts/TemplateSection.spec.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
Due: pipelines/javascript.yml

[C#] Application unit test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
Due: pipelines/dotnet.yml

fix test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
Due: pipelines/dotnet.yml

improve test coverage
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
Due: pipelines/dotnet.yml

feat: template section
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/template_section.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
  python/packages/ai/tests/ai/test_utilities.py
Due: none

[C#] chore: embeddings integration test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/AzureOpenAIConfiguration.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIConfiguration.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
Due: pipelines/dotnet.yml

add validator tests and fix type issues in tests
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/scripts/lint.py
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/layout_engine.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/prompt_section.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
  python/packages/ai/teams/ai/validators/__init__.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/utils/json/parse_object.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
  python/packages/ai/tests/ai/prompts/test_layout_engine.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
  python/packages/ai/tests/ai/prompts/test_text_section.py
  python/packages/ai/tests/ai/validators/test_action_response_validator.py
  python/packages/ai/tests/ai/validators/test_default_response_validator.py
  python/packages/ai/tests/ai/validators/test_json_response_validator.py
  python/packages/ai/tests/state/test_default_temp_state.py
Due: none

[C#] feat: Add Application unit test (#1208)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
Due: pipelines/dotnet.yml

Update validation.py
  python/packages/ai/teams/ai/validators/validation.py
Due: none

[PY] feat: `validators` (#1214)
  python/packages/ai/.pylintrc
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/scripts/lint.py
  python/packages/ai/teams/ai/data_sources/data_source.py
  python/packages/ai/teams/ai/data_sources/text_data_source.py
  python/packages/ai/teams/ai/modelsv2/__init__.py
  python/packages/ai/teams/ai/modelsv2/chat_completion_action.py
  python/packages/ai/teams/ai/modelsv2/prompt_response.py
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/layout_engine.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/prompt_section.py
  python/packages/ai/teams/ai/promptsv2/prompt_section_base.py
  python/packages/ai/teams/ai/promptsv2/text_section.py
  python/packages/ai/teams/ai/validators/__init__.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/ai/validators/default_response_validator.py
  python/packages/ai/teams/ai/validators/json_response_validator.py
  python/packages/ai/teams/ai/validators/prompt_response_validator.py
  python/packages/ai/teams/ai/validators/validation.py
  python/packages/ai/teams/utils/__init__.py
  python/packages/ai/teams/utils/json/__init__.py
  python/packages/ai/teams/utils/json/parse.py
  python/packages/ai/teams/utils/json/parse_object.py
  python/packages/ai/tests/ai/data_sources/test_text_data_source.py
  python/packages/ai/tests/ai/prompts/test_layout_engine.py
  python/packages/ai/tests/ai/prompts/test_prompt_section_base.py
  python/packages/ai/tests/ai/prompts/test_text_section.py
  python/packages/ai/tests/ai/validators/test_action_response_validator.py
  python/packages/ai/tests/ai/validators/test_default_response_validator.py
  python/packages/ai/tests/ai/validators/test_json_response_validator.py
  python/packages/ai/tests/state/test_default_temp_state.py
Due: none

completed embeddings implementation
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings_options.py
  python/packages/ai/teams/ai/embeddings/embeddings_model.py
  python/packages/ai/teams/ai/embeddings/embeddings_response.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings.py
  python/packages/ai/teams/ai/embeddings/openai_embeddings_options.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

fixed retry_policy in tests
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/ai/embeddings/test_openai_embeddings.py
Due: none

Fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatRole.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

[PY] feat: template section (#1209)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/prompt_functions.py
  python/packages/ai/teams/ai/promptsv2/template_section.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/tests/ai/prompts/test_template_section.py
  python/packages/ai/tests/ai/test_utilities.py
Due: none

added missing httpx package
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
Due: none

integration tests
  dotnet/packages/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionsFunctionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

change name
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

skip integration test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

[C#] chore: Bump `Azure.AI.OpenAI` to `v1.0.0-beta.12` (#1219)
  dotnet/packages/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/StateTests/TurnStateTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionsFunctionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatRole.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

fix minor bug with ChatMessage mapping
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
Due: pipelines/dotnet.yml

add verify
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
Due: pipelines/dotnet.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
Due: pipelines/dotnet.yml

working teams chef bot with kernel memory
  dotnet/samples/04.ai.a.teamsChefBot/KernelMemoryDataSource.cs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/Prompts/Chat/config.json
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
Due: pipelines/dotnet.yml

add test for coverage
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatMessageExtensionsTests.cs
Due: pipelines/dotnet.yml

files to qna over
  dotnet/samples/04.ai.a.teamsChefBot/files/04457f57-a2c6-4524-9c3c-978f10e105d4.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/06749721-c5e5-4e0e-aada-4aae8c051d76.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/0a4ef903-c0f0-49c9-81f5-13af3e226677.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/21934f88-d72f-4252-a338-7e5f4fafd04b.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/2733a18c-8f3e-486a-baa1-372858c53f30.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/5172ab6b-029c-4deb-82bd-02ff043cf6ba.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/5cae630d-3245-4d55-a335-b99dbc66522e.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/61763b98-67ff-455a-9d6f-0afaf1779a17.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/69d38dcd-035b-46c2-a174-0cb24878655d.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/82d55e5b-78dc-4f95-b636-51bace62adbb.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/836c1343-31cd-464e-b5f5-277692708b75.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/86d3f993-55d9-4919-bacd-b086baf0805d.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/95fdc1a8-f855-4d3e-a7c8-df1255beceb1.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/README.md
  dotnet/samples/04.ai.a.teamsChefBot/files/a99574ac-a04c-40d9-bb49-db59e8b8cd29.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/c0bbf705-381d-44a1-a638-8c6833020e7d.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/c2e98f38-bf41-446c-90b0-7a98800bfb77.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/c94a060e-2ea3-455a-b7c5-93b9d98d1ca5.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/e10fdfbf-914e-4c83-8a50-30f2fe1b711c.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/e37e60b6-9697-4021-b7cf-858d3a7435fc.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/ec6a9106-38d7-459e-b4e2-916048374848.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/f935dda3-ee60-4531-934a-299ebdd6c956.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/fe2aeea8-e12e-4002-9f90-8581e270d8f8.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/ffbd8413-4e8c-40f2-b4f2-dd61c428567a.txt
Due: pipelines/dotnet.yml

renaming text files
  dotnet/samples/04.ai.a.teamsChefBot/files/04457f57-a2c6-4524-9c3c-978f10e105d4.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/0a4ef903-c0f0-49c9-81f5-13af3e226677.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/61763b98-67ff-455a-9d6f-0afaf1779a17.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/82d55e5b-78dc-4f95-b636-51bace62adbb.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/95fdc1a8-f855-4d3e-a7c8-df1255beceb1.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/action-planner.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/actions.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/ai-system.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/application.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/augmentations.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/c#-migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/concepts.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/data-sources.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/getting started.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/github.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/js-migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/migration.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/moderator.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/planner.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/prompts.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/quickstart.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/samples.txt
  dotnet/samples/04.ai.a.teamsChefBot/files/turns.txt
Due: pipelines/dotnet.yml

add docs
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: pipelines/dotnet.yml

feat: add remaining sections and messages
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/assistant_message.py
  python/packages/ai/teams/ai/promptsv2/data_source_section.py
  python/packages/ai/teams/ai/promptsv2/function_call_message.py
  python/packages/ai/teams/ai/promptsv2/function_response_message.py
  python/packages/ai/teams/ai/promptsv2/system_message.py
  python/packages/ai/teams/ai/promptsv2/template_section.py
  python/packages/ai/teams/ai/promptsv2/user_message.py
  python/packages/ai/tests/ai/prompts/test_assistant_message.py
  python/packages/ai/tests/ai/prompts/test_data_source_section.py
  python/packages/ai/tests/ai/prompts/test_function_call_message.py
  python/packages/ai/tests/ai/prompts/test_function_response_message.py
  python/packages/ai/tests/ai/prompts/test_system_message.py
  python/packages/ai/tests/ai/prompts/test_user_message.py
Due: none

feat: add GroupSection and ConversationHistory
  python/packages/ai/teams/ai/promptsv2/__init__.py
  python/packages/ai/teams/ai/promptsv2/conversation_history.py
  python/packages/ai/teams/ai/promptsv2/group_section.py
  python/packages/ai/tests/ai/prompts/test_conversation_history.py
  python/packages/ai/tests/ai/prompts/test_group_section.py
Due: none

[C#] refactor: refactor embeddings to sync with JS sdk
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/BaseOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/IEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddingsOptions.cs
Due: pipelines/dotnet.yml

Update DATA-SOURCES.md
  getting-started/CONCEPTS/DATA-SOURCES.md
Due: none

Remove unused field in JSONResponseValidator & fix doc string in DefaultResponseValidator
  js/packages/teams-ai/src/validators/DefaultResponseValidator.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
