Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Fix index.html (#2452)
  book/src/README.md
  book/src/SUMMARY.md
Due: none

added a link
  js/samples/04.ai-apps/a.teamsChefBot/README.md
Due: pipelines/javascript.yml

resolve ME docs
  book/generated-snippets/ts/card.snippet.message-ext-create-dummy-cards.ts
  book/generated-snippets/ts/index.snippet.message-ext-query-settings-url.ts
  book/generated-snippets/ts/index.snippet.message-ext-serve-html.ts
  book/generated-snippets/ts/index.snippet.message-ext-settings-page.html
  book/generated-snippets/ts/settings.snippet.message-ext-settings-page.html
  book/src/in-depth-guides/message-extensions/settings.md
Due: none

pr feedback
  book/generated-snippets/ts/index.snippet.auth-config.ts
  book/src/in-depth-guides/auth/setup.md
Due: none

[docs] auth docs improvements (#2442)
  book/generated-snippets/ts/index.snippet.auth-config.ts
  book/generated-snippets/ts/index.snippet.auth-signin.ts
  book/src/assets/screenshots/auth-consent-popup.png
  book/src/assets/screenshots/auth-entra-id-signin.png
  book/src/assets/screenshots/auth-explicit-signin.png
  book/src/assets/screenshots/auth-graph-message.png
  book/src/assets/screenshots/auth-signout-message.png
  book/src/essentials/graph.md
  book/src/in-depth-guides/auth/auth-sso.md
  book/src/in-depth-guides/auth/quickstart.md
  book/src/in-depth-guides/auth/setup.md
  book/src/in-depth-guides/auth/signin.md
Due: none

Lang plugin
  .github/workflows/deploy-docs.yml
  book/book.toml
  book/getting-started/_lang/_lang.quickstart.cs.md
  book/getting-started/_lang/_lang.quickstart.ts.md
  book/src/getting-started/quickstart.md
  book/theme/index.hbs
  book/theme/lang/README.md
  book/theme/lang/lang-file.js
  book/theme/lang/lang.css
  book/theme/lang/lang.js
  package.json
  scripts/mdbook-lang.js
Due: none

[C#] fix: Fixes for custom feedback loops in .NET (#2454)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingChannelData.cs
Due: pipelines/dotnet.yml

Update Azure.AI.OpenAI to stable 2.1.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
Due: pipelines/dotnet.yml

Update all references to M365 Agents Toolkit
  book/src/SUMMARY.md
  book/src/developer-tools/cli/README.md
  book/src/developer-tools/devtools/chat.md
  book/src/getting-started/code-basics.md
  book/src/getting-started/running-in-teams.md
  book/src/in-depth-guides/auth/quickstart.md
  book/src/in-depth-guides/auth/setup.md
  book/src/in-depth-guides/tabs/getting-started.md
  book/src/teams/README.md
  book/src/teams/core-concepts.md
  book/src/teams/m365-toolkit.md
  book/src/teams/manifest.md
Due: none

format
  SECURITY.md
Due: none

Fix link
  book/src/in-depth-guides/auth/setup.md
Due: none

Fix final link
  book/src/in-depth-guides/auth/quickstart.md
Due: none

Add a2a docs
  book/generated-snippets/ts/client-example.snippet.a2a-client-directly-use-agent-manager-example.ts
  book/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example-send.ts
  book/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example.ts
  book/generated-snippets/ts/index.snippet.mcp-client-prompt-config.ts
  book/generated-snippets/ts/server-example.snippet.a2a-server-app-initialization-example.ts
  book/generated-snippets/ts/server-example.snippet.a2a-server-event-handler-example.ts
  book/src/SUMMARY.md
  book/src/in-depth-guides/ai/a2a/README.md
  book/src/in-depth-guides/ai/a2a/a2a-client.md
  book/src/in-depth-guides/ai/a2a/a2a-server.md
Due: none

Fixes
  book/src/in-depth-guides/ai/a2a/a2a-client.md
Due: none

Improve citation logic and tests for unique citations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Due: pipelines/dotnet.yml

PR feedback
  book/src/developer-tools/cli/README.md
  book/src/teams/manifest.md
Due: none

[C#] fix: Improve citation logic and tests for unique citations (#2462)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Due: pipelines/dotnet.yml

Use beta which supports vector store
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
Due: pipelines/dotnet.yml

[docs] Update all references to M365 Agents Toolkit (#2459)
  SECURITY.md
  book/src/SUMMARY.md
  book/src/developer-tools/cli/README.md
  book/src/developer-tools/devtools/chat.md
  book/src/getting-started/code-basics.md
  book/src/getting-started/running-in-teams.md
  book/src/in-depth-guides/auth/quickstart.md
  book/src/in-depth-guides/auth/setup.md
  book/src/in-depth-guides/tabs/getting-started.md
  book/src/teams/README.md
  book/src/teams/core-concepts.md
  book/src/teams/m365-toolkit.md
  book/src/teams/manifest.md
Due: none

Upgrade to node 20
  .github/workflows/coverage.yml
  .github/workflows/js-build-test-lint.yml
  js/packages/teams-ai/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
Due: pipelines/javascript.yml

Update
  .gitignore
  teams.md/docs/typescript/in-depth-guides/ai/a2a/README.md
  teams.md/docs/typescript/in-depth-guides/ai/a2a/a2a-client.mdx
  teams.md/docs/typescript/in-depth-guides/ai/a2a/a2a-server.mdx
  teams.md/docs/typescript/in-depth-guides/ai/mcp/mcp-client.mdx
  teams.md/docs/typescript/in-depth-guides/ai/mcp/mcp-server.mdx
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-directly-use-agent-manager-example.ts
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example-send.ts
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example.ts
  teams.md/static/generated-snippets/ts/index.snippet.mcp-client-prompt-config.ts
  teams.md/static/generated-snippets/ts/server-example.snippet.a2a-server-app-initialization-example.ts
  teams.md/static/generated-snippets/ts/server-example.snippet.a2a-server-event-handler-example.ts
Due: none

Add a2a docs (#2460)
  .gitignore
  book/generated-snippets/ts/client-example.snippet.a2a-client-directly-use-agent-manager-example.ts
  book/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example-send.ts
  book/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example.ts
  book/generated-snippets/ts/index.snippet.mcp-client-prompt-config.ts
  book/generated-snippets/ts/server-example.snippet.a2a-server-app-initialization-example.ts
  book/generated-snippets/ts/server-example.snippet.a2a-server-event-handler-example.ts
  book/src/SUMMARY.md
  book/src/in-depth-guides/ai/a2a/README.md
  book/src/in-depth-guides/ai/a2a/a2a-client.md
  book/src/in-depth-guides/ai/a2a/a2a-server.md
  teams.md/docs/typescript/in-depth-guides/ai/a2a/README.md
  teams.md/docs/typescript/in-depth-guides/ai/a2a/a2a-client.mdx
  teams.md/docs/typescript/in-depth-guides/ai/a2a/a2a-server.mdx
  teams.md/docs/typescript/in-depth-guides/ai/mcp/mcp-client.mdx
  teams.md/docs/typescript/in-depth-guides/ai/mcp/mcp-server.mdx
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-directly-use-agent-manager-example.ts
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example-send.ts
  teams.md/static/generated-snippets/ts/client-example.snippet.a2a-client-use-with-chat-prompt-example.ts
  teams.md/static/generated-snippets/ts/index.snippet.mcp-client-prompt-config.ts
  teams.md/static/generated-snippets/ts/server-example.snippet.a2a-server-app-initialization-example.ts
  teams.md/static/generated-snippets/ts/server-example.snippet.a2a-server-event-handler-example.ts
Due: none

Uncollapse categories
  teams.md/docs/csharp/getting-started/_category_.json
  teams.md/docs/typescript/essentials/_category_.json
  teams.md/docs/typescript/getting-started/_category_.json
  teams.md/docs/typescript/in-depth-guides/_category_.json
  teams.md/docs/typescript/migrations/_category_.json
Due: none

Uncollapse level 1 categories (#2469)
  teams.md/docs/csharp/getting-started/_category_.json
  teams.md/docs/typescript/essentials/_category_.json
  teams.md/docs/typescript/getting-started/_category_.json
  teams.md/docs/typescript/in-depth-guides/_category_.json
  teams.md/docs/typescript/migrations/_category_.json
Due: none

update docs to m365 agents toolkit
  teams.md/docs/csharp/getting-started/code-basics.mdx
  teams.md/docs/csharp/getting-started/running-in-teams.md
  teams.md/docs/csharp/in-depth-guides/tabs/getting-started.md
  teams.md/docs/csharp/in-depth-guides/user-authentication/quickstart.md
  teams.md/docs/csharp/in-depth-guides/user-authentication/setup.mdx
  teams.md/docs/main/developer-tools/cli.md
  teams.md/docs/main/developer-tools/devtools/chat.md
  teams.md/docs/main/developer-tools/devtools/inspect.md
  teams.md/docs/main/teams/README.md
  teams.md/docs/main/teams/agents-toolkit.md
  teams.md/docs/main/teams/core-concepts.md
  teams.md/docs/main/teams/manifest.md
  teams.md/docs/main/teams/teams-toolkit.md
  teams.md/docs/typescript/getting-started/code-basics.md
  teams.md/docs/typescript/getting-started/running-in-teams.md
  teams.md/docs/typescript/in-depth-guides/tabs/getting-started.md
  teams.md/docs/typescript/in-depth-guides/user-authentication/quickstart.md
  teams.md/docs/typescript/in-depth-guides/user-authentication/setup.mdx
  teams.md/docs/typescript/migrations/BotBuilder/README.md
  teams.md/static/screenshots/agents-toolkit.png
Due: none

Page link
  teams.md/src/css/custom.css
Due: none

Fix
  teams.md/src/css/custom.css
Due: none

Add active-page link (#2476)
  teams.md/src/css/custom.css
Due: none

Update quickstart.md
  teams.md/docs/typescript/getting-started/quickstart.md
Due: none

Update quickstart.md (#2477)
  teams.md/docs/typescript/getting-started/quickstart.md
Due: none

bump to v1.11.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.ai.g.teamsChefBot-streaming/TeamsChefBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/05.chatModeration/ChatModeration.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

test fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
Due: pipelines/dotnet.yml

add dotnet build to prs
  .github/workflows/dotnet-build-test-lint.yml
Due: none

add dotnet build to prs 2
  .github/workflows/dotnet-build-test-lint.yml
Due: none

Add example for non-exposed graph endpoints (stub)
  teams.md/docs/typescript/essentials/graph.md
Due: none
