Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

initial testing
  python/packages/ai/teams/auth/sso/sso.py
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

[PY] fix: Do not throw error if there is no text content (but attachments) (#1850)
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

refactor: remove extension classes and move logic to constructors
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/ChatMessageTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/ChatCompletionToolCallTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAISdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatCompletionToolCall.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ClientResultExceptionExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAISdkChatMessageExensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Exceptions/HttpOperationException.cs
Due: pipelines/dotnet.yml

updated pr revisions - ActionCall, removed most constants, refactored
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/augmentation.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/models/prompt_response.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

remove int tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
Due: pipelines/dotnet.yml

removed space and redundant code
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

fix on dict vs . notation
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

add user agent
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Due: pipelines/javascript.yml

mi auth
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

mi auth
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureOpenAIModelOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/README.md
Due: pipelines/dotnet.yml

add sample user agent
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.yml
Due: pipelines/javascript.yml

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
Due: pipelines/dotnet.yml

class name
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

cleanup
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

python minor bump to 1.3.0
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

[PY] chore: minor bump to 1.3.0 (#1878)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

addressed pr comments - fixed disables, removed client validations, removed temp vars
  python/packages/ai/teams/ai/augmentations/__init__.py
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/tests/ai/augmentations/test_tools_augmentation.py
  python/packages/ai/tests/ai/models/test_openai_model.py
Due: pipelines/python.yml

fix for python
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

dotnet fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
Due: pipelines/dotnet.yml

[C#] feat: Add managed identity support for `OpenAIModel` and `OpenAIEmbeddings` classes. (#1869)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIEmbeddingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/AzureOpenAIEmbeddingsOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureOpenAIModelOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/README.md
Due: pipelines/dotnet.yml

initial layout
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

token_exchange_operation_name
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

import cleanup
  python/packages/ai/teams/auth/sso/sso_dialog.py
Due: pipelines/python.yml

[repo] fix: max_tokens bug fix in completions (#1887)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/app.py
Due: pipelines/dotnet.yml, pipelines/python.yml

semi code for update state
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/augmentations/tools_constants.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

Update action_planner.py
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

[PY] fix Access context.activity.value as dict in feedback_loop decorator
  python/packages/ai/teams/app.py
Due: pipelines/python.yml

initial bug fixes - WIP
  python/packages/ai/teams/ai/augmentations/tools_augmentation.py
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/ai/prompts/sections/text_section.py
Due: pipelines/python.yml

Updated README to for updated deployment instructions
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Due: pipelines/javascript.yml

migration
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/.editorconfig
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.sln
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/.editorconfig
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Due: pipelines/dotnet.yml

fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MeetingsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/MessageExtensionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/TaskModulesTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/IntegrationTests/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/OpenAIModelFactory.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Due: pipelines/dotnet.yml

Update APPLICATION.md
  getting-started/CONCEPTS/APPLICATION.md
Due: none

bump to v1.5.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

[JS] docs: Updated README to for updated deployment instructions (#1894)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Due: pipelines/javascript.yml

fmt, lint, dobule check tests
  python/packages/ai/teams/auth/sso/sso.py
  python/packages/ai/tests/auth/test_sso_auth.py
Due: pipelines/python.yml

[C#] bump: dotnet to v1.5.0 (#1900)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.ai.f.vision.cardMaster/CardGazer.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Due: pipelines/dotnet.yml

Update Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
Due: pipelines/dotnet.yml
