Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

[JS] chore: DefaultAugmentation and SequenceAugmentation unit tests (#1056)
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
Due: pipelines/javascript.yml

overview and quickstart dotnet
  new-getting-started/00.OVERVIEW.md
  new-getting-started/01.QUICKSTART.md
Due: none

add js quickstart
  new-getting-started/00.OVERVIEW.md
  new-getting-started/01.QUICKSTART.md
  new-getting-started/assets/quickstart-echobot-add.png
  new-getting-started/assets/quickstart-echobot-demo.png
Due: none

fixes
  new-getting-started/01.QUICKSTART.md
Due: none

fix
  new-getting-started/01.QUICKSTART.md
Due: none

refactor
  new-getting-started/01.QUICKSTART.md
  new-getting-started/assets/quickstart-echobot-add.png
Due: none

formatting fix
  new-getting-started/00.OVERVIEW.md
Due: none

fix
  new-getting-started/00.OVERVIEW.md
Due: none

fix dotnet quickstart
  new-getting-started/01.QUICKSTART.md
Due: none

fix
  new-getting-started/00.OVERVIEW.md
  new-getting-started/01.QUICKSTART.md
Due: none

Fixed broken link and changed naming of SDK to library.
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

[JS] docs: Fixed broken link and changed naming of SDK to library. (#1062)
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Fix #1063 Task Modules config/fetch & config/submit
  js/packages/teams-ai/src/TaskModules.ts
Due: pipelines/javascript.yml

Add Task Modules unit tests
  js/packages/teams-ai/src/TaskModules.spec.ts
Due: pipelines/javascript.yml

Add TextDataSource unit tests
  js/packages/teams-ai/src/dataSources/TextDataSource.spec.ts
Due: pipelines/javascript.yml

JSONResponseValidator unit tests
  js/packages/teams-ai/src/validators/JSONResponseValidator.spec.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.ts
Due: pipelines/javascript.yml

[JS] fix: #1063 Task Modules config/fetch and config/submit invokes were switched (#1081)
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TaskModules.ts
  js/packages/teams-ai/src/dataSources/TextDataSource.spec.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.spec.ts
  js/packages/teams-ai/src/validators/JSONResponseValidator.ts
Due: pipelines/javascript.yml

Update html images to root readme
  README.md
Due: none

Fixed broken links on js readme to global links, updated Teams AI Library verbage per marketing recommendations, and updated informations for GA.
  README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Update root README images to GFMD
  README.md
Due: none

Update js/packages/teams-ai/README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Update README.md
  README.md
Due: none

test: add TeamsSsoBotAuthentication unit test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
Due: pipelines/dotnet.yml

[repo] docs: Fixed broken links and updated language for GA (#1084)
  README.md
  js/packages/teams-ai/README.md
Due: pipelines/javascript.yml

Added Azure Key in VectraDataSource
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
Due: pipelines/javascript.yml

Added Azure Key to VectraDataSource
  js/samples/04.ai.a.teamsChefBot/src/VectraDataSource.ts
Due: pipelines/javascript.yml

Added Azure Key to be passed to VectraDataSource
  js/samples/04.ai.a.teamsChefBot/src/index.ts
Due: pipelines/javascript.yml

test issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

add feature request form
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature-request-template.md
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

[C#] docs: Created C# README equivalent to JS README file with C# links and descriptions
  dotnet/packages/Microsoft.TeamsAI/README.md
Due: pipelines/dotnet.yml

update with `C#` examples
  dotnet/packages/Microsoft.TeamsAI/README.md
Due: pipelines/dotnet.yml

test: add unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AppConfig.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/AuthenticationManagerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoPromptTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoPrompt.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/ConfidentialClientApplicationAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/IConfidentialClientApplicationAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/MessageExtensions/TeamsSsoMessageExtensionsAuthentication.cs
Due: pipelines/dotnet.yml

test: add more unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/TeamsSsoAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/ConfidentialClientApplicationAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/IConfidentialClientApplicationAdapter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/TeamsSsoAuthentication.cs
Due: pipelines/dotnet.yml

Update README.md
  js/samples/06.auth.oauth.bot/README.md
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js
