Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      stages:
      - stage: stage
        jobs:
        - job: job
          templateContext:
            outputs:
  ...

fixed citations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/StreamingResponseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/TypingTimer.cs
Due: pipelines/dotnet.yml

fix citations
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/streaming/streaming_response.py
  python/packages/ai/tests/streaming/test_streaming_response.py
Due: pipelines/python.yml

updated moderator to GA vers
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: pipelines/python.yml

Added tool support to streaming
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

Fixed bug with tool calls being split across multiple chunks.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

add way to specify feedback loop type
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

fix linting
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

updated with lint fixes + key acccess
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Due: pipelines/python.yml

update key
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Due: pipelines/python.yml

fix channel data
  js/packages/teams-ai/src/actions/SayCommand.ts
Due: pipelines/javascript.yml

update sample
  python/samples/05.chatModeration/src/bot.py
  python/samples/05.chatModeration/src/prompts/chat/config.json
Due: pipelines/python.yml

[PY] fix: content safety public preview deprecation (#2207)
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/samples/05.chatModeration/src/bot.py
  python/samples/05.chatModeration/src/prompts/chat/config.json
Due: pipelines/python.yml

Update docs on multitenant support for dotnet auth.teamsSSO sample
  dotnet/samples/06.auth.teamsSSO.bot/README.md
Due: pipelines/dotnet.yml

update numbering
  dotnet/samples/06.auth.teamsSSO.bot/README.md
Due: pipelines/dotnet.yml

Upgrade tokenizers library to the GA version 1.0.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Added isToolsAugmentation check to streaming section of OpenAIModel class.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Updated lightBot sample to support streaming + tools.
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
Due: pipelines/javascript.yml

Add support to the gpt-4o model
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] fix: Upgrade tokenizers library to the GA version 1.0.0 (#2210)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

Update STREAMING.md
  getting-started/CONCEPTS/STREAMING.md
Due: none

Additional document changes
  getting-started/CONCEPTS/STREAMING.md
Due: none

Handle scenario where a streaming chunk has both content and tool_calls
  js/packages/teams-ai/src/planners/LLMClient.ts
Due: pipelines/javascript.yml

Implemented basic changes needed to support streaming tool calls
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Clients/LLMClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/SequenceBuilder.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/StreamingChatToolCallsBuilder.cs
Due: pipelines/dotnet.yml

initial changes layout
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

bot: disable send activity, more logging.
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Due: pipelines/python.yml

Remove @azure/openai-assistants package and use openai in AssistantsPlanner.ts
  js/package.json
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Fix JSON parsing issue in ToolsAugmentation
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
Due: pipelines/javascript.yml

Lint fix
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Due: pipelines/javascript.yml

Finish unit tests for AssistantsPlanner
  js/package.json
  js/packages/teams-ai/src/augmentations/ToolsAugmentation.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Update yarn.lock
  js/yarn.lock
Due: pipelines/javascript.yml

clean up orderbot
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Due: pipelines/javascript.yml

Restore docstring comments
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Differentiate beginTask and continueTask, and fix issue where new messages weren't being correctly filtered
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/index.ts
Due: pipelines/javascript.yml

Update .gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/devTools/teamsapptester
Due: pipelines/javascript.yml

Cleanup sample implementation and update thread runs method
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Due: pipelines/javascript.yml

Update Docstrings and lint
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.yml
  js/samples/04.ai-apps/i.teamsChefBot-streaming/src/index.ts
  js/yarn.lock
Due: pipelines/javascript.yml

Lint
  js/packages/teams-ai/src/AI.ts
Due: pipelines/javascript.yml

Fix createClient
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Due: pipelines/javascript.yml

Update tests
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
Due: pipelines/javascript.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
