Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml

Add docs
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/LLMs.md
  teams.md/scripts/generate-llms-txt.js
Due: none

Add scripts to generate llmstxt files (#2513)
  .github/workflows/deploy-teams-docs.yml
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/LLMs.md
  teams.md/package.json
  teams.md/scripts/generate-llms-txt.js
  teams.md/scripts/lib/content-processor.js
  teams.md/scripts/lib/file-collector.js
Due: none

Fix link
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/LLMs.md
Due: none

update
  teams.md/docs/csharp/getting-started/quickstart.md
  teams.md/docs/typescript/getting-started/quickstart.md
Due: none

Remove book refs (#2511)
  .github/workflows/check-links.yml
  .github/workflows/deploy-docs.yml
  .prettierignore
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/check-links.js
  scripts/generate-snippets.js
Due: none

[PY] fix: issue chat History Limitation Problem
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

[PY] fix: fix issue chat History Limitation Problem (#2520)
  python/packages/ai/teams/ai/planners/action_planner.py
Due: pipelines/python.yml

bump to 1.8.1
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

update samples
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

Update dotnet.yml for Azure Pipelines
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

Update dotnet.yml
  pipelines/dotnet.yml
Due: pipelines/dotnet.yml

remove keys
  dotnet/packages/key.snk
  dotnet/packages/key.txt
Due: pipelines/dotnet.yml

[PY] bump: patch to 1.8.1 (#2523)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.f.dataSource.azureOpenAI/poetry.lock
  python/samples/04.ai.f.dataSource.azureOpenAI/pyproject.toml
  python/samples/04.ai.g.autogen.product-spec-critique/poetry.lock
  python/samples/04.ai.g.autogen.product-spec-critique/pyproject.toml
  python/samples/04.ai.h.chainedActions.listBot-streaming/poetry.lock
  python/samples/04.ai.h.chainedActions.listBot-streaming/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/07.planners.a.langchain/poetry.lock
  python/samples/07.planners.a.langchain/pyproject.toml
Due: pipelines/python.yml

Ignore certain files for llmstxt
  teams.md/.gitignore
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/csharp/getting-started/running-in-teams.md
  teams.md/docs/main/developer-tools/devtools/README.md
  teams.md/docs/main/developer-tools/devtools/cards.md
  teams.md/docs/main/developer-tools/devtools/chat.md
  teams.md/docs/main/developer-tools/devtools/inspect.md
  teams.md/docs/main/privacy.md
  teams.md/docs/main/welcome.md
  teams.md/docs/main/why.md
  teams.md/docs/typescript/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/running-in-teams.md
  teams.md/docs/typescript/migrations/BotBuilder/README.md
  teams.md/docs/typescript/migrations/README.md
  teams.md/scripts/generate-llms-txt.js
  teams.md/scripts/lib/content-processor.js
  teams.md/scripts/lib/file-collector.js
Due: none

Add helpful description
  teams.md/scripts/generate-llms-txt.js
Due: none

Better overall desc
  teams.md/scripts/generate-llms-txt.js
Due: none

Move docs to llms_docs
  teams.md/.gitignore
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/LLMs.md
  teams.md/scripts/generate-llms-txt.js
  teams.md/scripts/lib/content-processor.js
Due: none

Fix links
  teams.md/docs/csharp/getting-started/LLMs.md
Due: none

Use direct link. Grumble Grumble
  teams.md/docs/csharp/getting-started/LLMs.md
  teams.md/docs/typescript/getting-started/LLMs.md
Due: none

Update cli
  teams.md/docs/main/developer-tools/cli.md
Due: none

fix: add url to ClientCitations
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

revert lint changes
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/python.yml

revert lint changes
  python/packages/ai/teams/ai/ai.py
Due: pipelines/python.yml

[repo] fix: add url to ClientCitations (#2528)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/StreamingResponse.cs
  js/packages/teams-ai/src/StreamingResponse.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/streaming/streaming_response.py
Due: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

fix: Allow any 4.x openai version for NPM
  js/package.json
Due: pipelines/javascript.yml

Minor fixes
  teams.md/docs/typescript/essentials/on-activity/README.md
  teams.md/docs/typescript/in-depth-guides/ai/function-calling.mdx
Due: none

[JS] feat: #2560 Add max_completion_tokens handling for gpt-5
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

[JS] feat: #2560 Add max_completion_tokens handling for gpt-5 (#2561)
  js/packages/teams-ai/src/models/OpenAIModel.ts
Due: pipelines/javascript.yml

Update typescript documentation for new graph API client
  teams.md/docs/typescript/essentials/api.md
  teams.md/docs/typescript/essentials/graph.md
  teams.md/docs/typescript/in-depth-guides/tabs/app-options.md
  teams.md/docs/typescript/in-depth-guides/tabs/getting-started.md
  teams.md/docs/typescript/in-depth-guides/tabs/graph.md
  teams.md/docs/typescript/in-depth-guides/tabs/using-the-app.md
  teams.md/docs/typescript/migrations/preview/README.md
Due: none

Update typescript documentation for new graph API client (#2570)
  teams.md/docs/typescript/essentials/api.md
  teams.md/docs/typescript/essentials/graph.md
  teams.md/docs/typescript/in-depth-guides/tabs/app-options.md
  teams.md/docs/typescript/in-depth-guides/tabs/getting-started.md
  teams.md/docs/typescript/in-depth-guides/tabs/graph.md
  teams.md/docs/typescript/in-depth-guides/tabs/using-the-app.md
  teams.md/docs/typescript/migrations/preview/README.md
Due: none

add essentials
  teams.md/docs/python/essentials/README.md
  teams.md/docs/python/essentials/api.mdx
  teams.md/docs/python/essentials/app-basics.md
  teams.md/docs/python/essentials/graph.mdx
  teams.md/docs/python/essentials/on-activity/README.mdx
  teams.md/docs/python/essentials/on-event.md
  teams.md/docs/python/essentials/sending-messages/README.md
  teams.md/docs/python/essentials/sending-messages/proactive-messaging.mdx
  teams.md/scripts/lib/file-collector.js
Due: none

misc adds to script, markdowns
  CONTRIBUTING.md
  README.md
  teams.md/docs/main/developer-tools/cli.md
  teams.md/scripts/generate-llms-txt.js
Due: none

mini fixes
  teams.md/docs/python/essentials/api.mdx
  teams.md/docs/python/essentials/on-activity/README.mdx
  teams.md/docs/python/essentials/on-event.md
  teams.md/docs/python/essentials/sending-messages/README.md
  teams.md/docs/python/getting-started/README.md
  teams.md/docs/python/getting-started/quickstart.md
  teams.md/scripts/generate-llms-txt.js
Due: none

Added shared channels sample
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  js/package.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.eslintrc.js
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.gitignore
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.vscode/extensions.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.vscode/launch.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.vscode/settings.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/.vscode/tasks.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/README.md
  js/samples/06.shared-channels/a.teams-shared-channels-v4/agents/teamsSharedChannelEvents.js
  js/samples/06.shared-channels/a.teams-shared-channels-v4/appManifest/color.png
  js/samples/06.shared-channels/a.teams-shared-channels-v4/appManifest/manifest.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/appManifest/outline.png
  js/samples/06.shared-channels/a.teams-shared-channels-v4/assets/sample.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/build.js
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployUseExistResourceGroup/parameters-for-template-AzureBot-with-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployUseExistResourceGroup/parameters-for-template-BotApp-with-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployUseExistResourceGroup/readme.md
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployUseExistResourceGroup/template-AzureBot-with-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployUseExistResourceGroup/template-BotApp-with-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployWithNewResourceGroup/parameters-for-template-AzureBot-new-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployWithNewResourceGroup/parameters-for-template-BotApp-new-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployWithNewResourceGroup/readme.md
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployWithNewResourceGroup/template-AzureBot-new-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/deploymentTemplates/deployWithNewResourceGroup/template-BotApp-new-rg.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/index.js
  js/samples/06.shared-channels/a.teams-shared-channels-v4/infra/azure.bicep
  js/samples/06.shared-channels/a.teams-shared-channels-v4/infra/azure.parameters.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/m365agents.local.yml
  js/samples/06.shared-channels/a.teams-shared-channels-v4/m365agents.yml
  js/samples/06.shared-channels/a.teams-shared-channels-v4/package.json
  js/samples/06.shared-channels/a.teams-shared-channels-v4/sample.env
  js/yarn.lock
  yarn.lock
Due: pipelines/dotnet.yml, pipelines/javascript.yml

address pr comments
  teams.md/docs/python/essentials/graph.mdx
  teams.md/docs/python/essentials/on-activity/README.mdx
  teams.md/docs/python/essentials/sending-messages/proactive-messaging.mdx
  teams.md/docs/python/getting-started/LLMs.md
  teams.md/docs/python/getting-started/code-basics.mdx
  teams.md/docs/python/getting-started/quickstart.md
  teams.md/scripts/generate-llms-txt.js
Due: none
