Repository microsoft/teams-ai: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/dotnet.yml, pipelines/javascript.yml, pipelines/python.yml

pipelines/dotnet.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      version: 6.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: $(package)
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
  ...

pipelines/javascript.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 16.x
    displayName: Install Node
  - script: npm i -g yarn
    displayName: Install Yarn
  - script: yarn
    workingDirectory: js
    displayName: Install Dependencies
  - script: yarn build
    workingDirectory: js
  ...

pipelines/python.yml:
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
      Python310:
        python.version: '3.10'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(python.version)
  ...

updated with fmt
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/tests/adaptive_cards/test_adaptive_cards.py
  python/packages/ai/tests/task_modules/test_task_modules.py
Due: pipelines/python.yml

linting fixes
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/tests/adaptive_cards/test_adaptive_cards.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/task_modules/test_task_modules.py
Due: pipelines/python.yml

Update js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/README.md
Due: pipelines/javascript.yml

Update root README's link to daily builds
  README.md
Due: none

Add documentation on using latest bits in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix samples' azure.bicep files to not reference Microsoft_App_Id, bot BOT_ID
  js/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  js/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.bicep
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/05.chatModeration/infra/azure.bicep
  js/samples/06.assistants.a.mathBot/infra/azure.bicep
Due: pipelines/javascript.yml

Adds default values to fix provision issue
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
Due: pipelines/javascript.yml

Fix links for RAG
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
Due: pipelines/javascript.yml

business logic
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[JS] chore: add packages for devOps sample (#1455)
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
Due: pipelines/javascript.yml

implemented orderbot
  python/samples/06.assistants.b.orderBot/.gitignore
  python/samples/06.assistants.b.orderBot/.pylintrc
  python/samples/06.assistants.b.orderBot/.vscode/launch.json
  python/samples/06.assistants.b.orderBot/.vscode/settings.json
  python/samples/06.assistants.b.orderBot/.vscode/tasks.json
  python/samples/06.assistants.b.orderBot/.webappignore
  python/samples/06.assistants.b.orderBot/AppPackage/color.png
  python/samples/06.assistants.b.orderBot/AppPackage/manifest.json
  python/samples/06.assistants.b.orderBot/AppPackage/outline.png
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/env/.env.local
  python/samples/06.assistants.b.orderBot/env/.env.local.user
  python/samples/06.assistants.b.orderBot/infra/azure.bicep
  python/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  python/samples/06.assistants.b.orderBot/infra/botRegistration/azurebot.bicep
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/scripts/__init__.py
  python/samples/06.assistants.b.orderBot/scripts/ci.py
  python/samples/06.assistants.b.orderBot/scripts/clean.py
  python/samples/06.assistants.b.orderBot/scripts/fmt.py
  python/samples/06.assistants.b.orderBot/scripts/lint.py
  python/samples/06.assistants.b.orderBot/scripts/start.py
  python/samples/06.assistants.b.orderBot/scripts/test.py
  python/samples/06.assistants.b.orderBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/app.py
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_card.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.json
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
  python/samples/06.assistants.b.orderBot/src/state.py
  python/samples/06.assistants.b.orderBot/teamsapp.local.yml
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/python.yml

Switch tokenizer to use the Microsoft.ML.Tokenizers library
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/DataSources/TextDataSource.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/GroupSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/PromptSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

add user agent to connector client
  README.md
  python/packages/ai/teams/teams_adapter.py
Due: pipelines/python.yml

Switch to use NuGet.config instead.
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Move nuget.config to the solution folder
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

[PY] feat: OrderBot (#1465)
  python/samples/06.assistants.b.orderBot/.gitignore
  python/samples/06.assistants.b.orderBot/.pylintrc
  python/samples/06.assistants.b.orderBot/.vscode/launch.json
  python/samples/06.assistants.b.orderBot/.vscode/settings.json
  python/samples/06.assistants.b.orderBot/.vscode/tasks.json
  python/samples/06.assistants.b.orderBot/.webappignore
  python/samples/06.assistants.b.orderBot/AppPackage/color.png
  python/samples/06.assistants.b.orderBot/AppPackage/manifest.json
  python/samples/06.assistants.b.orderBot/AppPackage/outline.png
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/env/.env.local
  python/samples/06.assistants.b.orderBot/env/.env.local.user
  python/samples/06.assistants.b.orderBot/infra/azure.bicep
  python/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  python/samples/06.assistants.b.orderBot/infra/botRegistration/azurebot.bicep
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/scripts/__init__.py
  python/samples/06.assistants.b.orderBot/scripts/ci.py
  python/samples/06.assistants.b.orderBot/scripts/clean.py
  python/samples/06.assistants.b.orderBot/scripts/fmt.py
  python/samples/06.assistants.b.orderBot/scripts/lint.py
  python/samples/06.assistants.b.orderBot/scripts/start.py
  python/samples/06.assistants.b.orderBot/scripts/test.py
  python/samples/06.assistants.b.orderBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/app.py
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_card.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.json
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
  python/samples/06.assistants.b.orderBot/src/state.py
  python/samples/06.assistants.b.orderBot/teamsapp.local.yml
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Due: pipelines/python.yml

update samples
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.d.chainedActions.listBot/src/api.py
  python/samples/05.chatModeration/src/api.py
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/api.py
Due: pipelines/python.yml

Rename getting started sample
  js/samples/01.getting-started/a.echoBot/.eslintignore
  js/samples/01.getting-started/a.echoBot/.eslintrc
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.prettierignore
  js/samples/01.getting-started/a.echoBot/.prettierrc
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/appPackage/color.png
  js/samples/01.getting-started/a.echoBot/appPackage/manifest.json
  js/samples/01.getting-started/a.echoBot/appPackage/outline.png
  js/samples/01.getting-started/a.echoBot/infra/azure.bicep
  js/samples/01.getting-started/a.echoBot/infra/azure.parameters.json
  js/samples/01.getting-started/a.echoBot/infra/botRegistration/azurebot.bicep
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/sample.env
  js/samples/01.getting-started/a.echoBot/src/index.ts
  js/samples/01.getting-started/a.echoBot/teamsapp.local.yml
  js/samples/01.getting-started/a.echoBot/teamsapp.yml
  js/samples/01.getting-started/a.echoBot/tsconfig.json
  js/samples/01.getting-started/a.echoBot/web.config
  js/samples/01.messaging.a.echoBot/env/.env.local
  js/samples/01.messaging.a.echoBot/env/.env.staging
  js/samples/01.messaging.a.echoBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Update markdown files for sample rename
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/QUICKSTART.md
  getting-started/SAMPLES.md
Due: none

Address the feedback
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Remove yarn usage for the sample
  js/samples/04.ai.a.teamsChefBot/package.json
Due: pipelines/javascript.yml

Fix spelling
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
Due: pipelines/javascript.yml

Remove env-cmd becuase dotenv is used
  js/samples/04.ai.a.teamsChefBot/package.json
Due: pipelines/javascript.yml

Fix running the sample from within the repo directory
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Due: pipelines/javascript.yml

Revert the public interface change
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
Due: pipelines/dotnet.yml

[JS] chore: Reorganize getting started sample (#1470)
  CONTRIBUTING.md
  README.md
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/QUICKSTART.md
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/.eslintignore
  js/samples/01.getting-started/a.echoBot/.eslintrc
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.prettierignore
  js/samples/01.getting-started/a.echoBot/.prettierrc
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/appPackage/color.png
  js/samples/01.getting-started/a.echoBot/appPackage/manifest.json
  js/samples/01.getting-started/a.echoBot/appPackage/outline.png
  js/samples/01.getting-started/a.echoBot/infra/azure.bicep
  js/samples/01.getting-started/a.echoBot/infra/azure.parameters.json
  js/samples/01.getting-started/a.echoBot/infra/botRegistration/azurebot.bicep
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/sample.env
  js/samples/01.getting-started/a.echoBot/src/index.ts
  js/samples/01.getting-started/a.echoBot/teamsapp.local.yml
  js/samples/01.getting-started/a.echoBot/teamsapp.yml
  js/samples/01.getting-started/a.echoBot/tsconfig.json
  js/samples/01.getting-started/a.echoBot/web.config
  js/samples/01.messaging.a.echoBot/env/.env.local
  js/samples/01.messaging.a.echoBot/env/.env.staging
  js/samples/01.messaging.a.echoBot/teamsapp.local.yml
  js/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  js/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.bicep
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/05.chatModeration/infra/azure.bicep
  js/samples/06.assistants.a.mathBot/infra/azure.bicep
Due: pipelines/javascript.yml

Increment teams-ai version
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/appPackage/build/manifest.local.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
Due: pipelines/javascript.yml

Revert "Revert the public interface change"
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
Due: pipelines/dotnet.yml

set fixed size
  README.md
Due: none

[PY] fix: ensure user-agent header is set (#1469)
  README.md
  python/packages/ai/teams/teams_adapter.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.d.chainedActions.listBot/src/api.py
  python/samples/05.chatModeration/src/api.py
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/api.py
Due: pipelines/python.yml

Update pyproject.toml
  python/packages/ai/pyproject.toml
Due: pipelines/python.yml

[C#] feat: Switch tokenizer to use the Microsoft.ML.Tokenizers library (#1466)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/DataSources/TextDataSource.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/GroupSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/PromptSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

finally
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.sln
  dotnet/samples/08.datasource.azureopenai/Config.cs
  dotnet/samples/08.datasource.azureopenai/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureopenai/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureopenai/README.md
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
  dotnet/samples/08.datasource.azureopenai/assets/example.png
  dotnet/samples/08.datasource.azureopenai/infra/azure.bicep
  dotnet/samples/08.datasource.azureopenai/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureopenai/nba.pdf
  dotnet/samples/08.datasource.azureopenai/teamsapp.local.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Due: pipelines/dotnet.yml

version bump
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

[C#] bump: to version `1.1.3` (#1479)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Due: pipelines/dotnet.yml

remove troublesome config
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Move message extensions sample to teams-features directory
  getting-started/SAMPLES.md
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/env/.env.local
  js/samples/02.messageExtensions.a.searchCommand/env/.env.staging
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.gitignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/launch.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/tasks.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/README.md
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/color.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/manifest.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/outline.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.parameters.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/sample.env
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmPackageCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmSearchResultCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/tsconfig.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/web.config
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/yarn.lock
Due: pipelines/javascript.yml

[C#] fix: Remove public feed from nuget config (#1480)
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

add clear tags
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Due: pipelines/dotnet.yml

Path conditions:
  pipelines/dotnet.yml: any of: dotnet, pipelines/dotnet.yml
  pipelines/javascript.yml: any of: js, pipelines/javascript.yml
  pipelines/python.yml: any of: python, pipelines/python.yml
